@use "sass:math";
@import "../../../src/material_design/ripple";

// SVG Util
@import "../../../src/icons/util";

// Icon packs
@import "../../../src/icons/outline";
@import "../../../src/icons/discord";

@mixin tabIcon($controls, $icon) {
	.tabBarItem-30Te4-[aria-controls="#{$controls}"] {
		--icon: #{svg-url(#{map-get($icons-discord, $icon)})};
	}
}

.tabBarContainer-sCZC4w {
	padding: 16px 20px 0 20px;
}

.tabBarItem-30Te4- {
	@include ripple();
	
	--icon: #{svg-url(#{map-get($icons-discord, "placeholder")})};
	--iconColor: currentColor;
	--iconBgColor: transparent;
	
	position: relative;
	border: none;
	padding: var(--tab-pill-height-quarter) var(--tab-pill-padding);
	
	background-color: var(--iconBgColor);
	height: var(--tab-pill-height-half);
	line-height: var(--tab-pill-height-half);
	border-radius: var(--tab-pill-height);
	
	// why is default 40px wtf
	margin-right: 15px;

	&::before {
		content: "";
		-webkit-mask: var(--icon);
		-webkit-mask-size: contain;
		background-color: var(--iconColor);
		width: var(--tab-pill-height-half);
		height: var(--tab-pill-height-half);
		margin-right: var(--tab-pill-height-quarter);
	}
}

.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
	--iconColor: var(--accent);
	--iconBgColor: var(--accent-transparent);
	color: var(--accent);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
	--iconColor: var(--accent-text);
	--iconBgColor: var(--accent);
	color: var(--accent-text);
}
// remove bottom line
.top-K_jibn .item-3XjbnG {
	border-bottom: none;
}

.tabBar-2hXqzU {
	height: calc(var(--tab-pill-height) + 12px);
	overflow: scroll hidden;

	// scrollbar
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border: 2px solid transparent;
		background-clip: padding-box;
		border-radius: 8px;
		background-color: var(--scrollbar-thin-thumb);
	}
}

@include tabIcon("user_info-tab", "user_profile");
@include tabIcon("mutual_guilds-tab", "mutual_guild");
@include tabIcon("mutual_friends-tab", "mutual_friends");
@include tabIcon("activity-tab", "game");
