@import '../../material/card';

.feature-2w65J5 {
	@include card(4);
}
.header-1RC2Wb {
	@include card(4);
}
.body-SKIE6r {
	@include card(2, $background: false);
}
.card-7JP0BX {
	overflow: visible;
}
.guild-Hq0WWA {
	@include card(4);
}
.guildSubscriptionSlots-JPXXvN,
.guildHeader-3nh5RK {
	background-color: transparent;
}
.guildName-1B3vm5 {
	font-weight: var(--header-weight);
}
.guildSubscriptionDuration-z1eXWb,
.guildSubscriptionCreationDate-2b_pKA {
	font-weight: var(--subtitle-weight);
}
.perk-2WeBWW {
	@include card(4);
}
.planOptionDiscount-cS8uaO {
	background-color: var(--online);
}

// Boosts menu
.tierMarkerBackground-3q29am, // The boost icons have a funny circle near them
.perksModal-fSYqOq {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}
.ctaBar-2UsjF2 {
	@include card(4);
}

// Become modal
.root-3R2ngo {
	transform: unset;
	&::before {
		content: "";
		position: fixed;
		background-color: black;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0.85;
		pointer-events: none;
		-webkit-app-region: none;
	}
	& .perksModal-fSYqOq {
		width: 960px;
		height: 80vh;
		left: calc(50% - 480px);
		top: 10%;
		border-radius: 8px;
	}
	& .closeIcon-3_iQ6l {
		right: calc(100% + 64px);
	}
	& .closeContent-I3JbQJ {
		top: calc(10% + 32px);
	}
	& .carousel-18mXWH {
		left: 24px !important;
	}
	& .closeButton-1tv5uR path {
		fill: var(--interactive-normal) !important;
		&:hover {
			fill: var(--interactive-hover) !important;
		}
	}
}

// boost icon fucked
.bannerVisible-2ZE_qG .iconTierOne-s_oiRb,
.bannerVisible-2ZE_qG .iconTierTwo-1JOWNK {
	color: rgb(255, 115, 250);
}