.bar-30k2ka,
.unread-1xRYoj {
	border-radius: var(--snackbar-radius, 4px);
    box-shadow: var(--snackbar-shadow, 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%));
	background-color: var(--snackbar-bg, #333);
	color: var(--snackbar-text, white);
}
.mention-1f5kbO {
	background-color: var(--red, #cf6679);
	color: var(--red-text, white);
}