/* IMPORT THEME */
@import url(https://hekkerstech.tips/pixelcord/dist.css);

/* Globals - These dont change based on theme */
[data-popout-root].newBrand, html.newBrand, :root
{
  --snackbar-bg: #333;
  --snackbar-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  --snackbar-radius: 4px;
  --snackbar-height: 32px;
  --snackbar-padding: 14px 16px;
  --switch-knob-color: #ECECEC;
  --switch-slider-color: rgba(135, 135, 135,0.65);
  --button-radius: 4px;
  --background-blur-intensity: 10px;
  --header-weight: 600;
  --subtitle-weight: 500;
  --section-weight: 900;
  --font-header: "Google Sans", "Migu 1M", sans-serif;
  --font-code: "Roboto Mono", monospace;
  --font-primary: var(--font-header);
  --font-secondary: var(--font-header);
  --font-display: var(--font-header);
  --card-padding: 12px;
  --channels-width: 300px;
  --pip-width: 320px;
  --pip-radius: 12px;
  --tooltip-bg: #2a2a2a;
  --tooltip-text: #ffffff;
  --checkbox-size: 15px;
  --settings-list-width: 316px;
  --settings-padding: 8px;
}

/* Material design palette, feel free to change */
:root {
  --primary-900: #1f41b6;
  --primary-800: #1d61d5;
  --primary-700: #1a73e8;
  --primary-600: #1386fc;
  --primary-500: #0095ff;
  --primary-400: #34a4ff;
  --primary-300: #5cb5ff;
  --primary-200: #8dcaff;
  --primary-100: #bbdeff;
  --primary-50: #e3f2ff;
}

/* Dark mode */
.callContainer-36WRfH, .theme-dark
{
  --accent: var(--primary-400);
  --accent-highlight: var(--primary-200);
  --accent-text: white;
  --baseline: #272a2b;
  --chip: #595A5E;
  --chip-active: #595A5E;
  --chip-text: white;
  --navdrawer-color: #222222;
  --navdrawer-hover: rgba(255, 255, 255, 0.05);
  --navdrawer-active: rgba(255, 255, 255, 0.1);
  --navdrawer-separator: rgba(255, 255, 255, 0.1);
  --combobox-outline: rgba(255, 255, 255, 0.1);
  --title-color: #aaa;
  --list-color: #fff;
  --logo-color: #fff;
  --header-color: #fff;
  --interactive-muted: #8f8f8f;
  --channels-default: #9b9fa5;
  --ripple-default: rgba(255, 255, 255, 0.36);
  --danger: rgb(207, 102, 121);
  --danger-highlight: rgb(255, 118, 118);
  --online: #66c296;
  --idle: #fbec52;
  --dnd: var(--danger);
  --stream: #9176c1;
  --offline: #868d96;
}

/* Light mode */
.theme-light {
  --accent: var(--primary-700);
  --accent-highlight: var(--primary-500);
  --accent-text: white;
  --text-semidark: rgb(149, 149, 149);
  --baseline: #f8f9fa;
  --chip: #D7D7D7;
  --chip-active: #D7D7D7;
  --chip-text: #363536;
  --navdrawer-color: white;
  --navdrawer-hover: rgba(0, 0, 0, 0.05);
  --navdrawer-active: rgba(0, 0, 0, 0.1);
  --navdrawer-separator: rgba(0, 0, 0, 0.1);
  --combobox-outline: rgba(0, 0, 0, 0.1);
  --title-color: #606060;
  --list-color: #202124;
  --logo-color: #202124;
  --header-color: #202124;
  --interactive-muted: #8f929c;
  --channels-default: #46494c;
  --ripple-default: rgba(0, 0, 0, 0.36);
  --danger: rgb(255, 70, 70);
  --danger-highlight: rgb(255, 118, 118);
  --online: #43b581;
  --idle: #faa61a;
  --dnd: var(--danger);
  --stream: #643da7;
  --offline: #636b75;
}