/**
 * @name Pixelcord
 * @author Hyblocker
 * @version 3.5.2
 * @description Material Design Theme with numerous enhancements for Discord
 * @source https://github.com/hyblocker/pixelcord
 * @updateUrl https://raw.githubusercontent.com/hyblocker/pixelcord/main/Pixelcord.theme.css
*/
/*
    SETTINGS
*/
/* Enhancements | Modal Blur - Blurs the black tinted background behind modals like image previews if enabled */
/* @import url(https://hyblocker.github.io/pixelcord/modules/enhancements/background_blur.css); */
/* Enhancements | Rounded Corners - Adds rounded corners to the Discord window (assuming either Glasscord or Acryllic are present) */
/* @import url(https://hyblocker.github.io/pixelcord/modules/enhancements/rounded_corners.css); */
/* Enhancements | Translucent - Makes discord transparent (works best with Glasscord and Acryllic) */
/* @import url(https://hyblocker.github.io/pixelcord/modules/enhancements/translucent.css); */
/* Functions | Collapsing channels list - Channels list collapses and uncollapses on hover, giving you more room to read */
/* @import url(https://hyblocker.github.io/pixelcord/modules/functions/hover_channels.css); */
/* Functions | Collapsing members list - Members list collapses and uncollapses on hover, giving you more room to read */
/* @import url(https://hyblocker.github.io/pixelcord/modules/functions/hover_members.css); */
/* Functions | macOS Buttons - Replaces window buttons with macOS style buttons (Windows) */
/* @import url(https://hyblocker.github.io/pixelcord/modules/functions/macos_buttons.css); */
/* Functions | Channel Icons - Make channels change icon based on what they're called! (eg #github would have a github icon instead of #) */
/* @import url(https://hyblocker.github.io/pixelcord/modules/functions/channel_icons.css); */
/* Functions | Context Menu Icons - Adds icons to right click menus */
/* @import url(https://hyblocker.github.io/pixelcord/modules/functions/context_icons.css); */
/*
    EXTERNAL MODULES
*/
/* Add-Ons | Discolored - Colorize Discord's boring SVGs! */
@import url(https://nyri4.github.io/Discolored/main.css);
/* Add-Ons | Google Emojis */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css);
/* Add-Ons | BadgesEverywhere - Colored Badges */
@import url(https://mr-miner1.github.io/Better-Badges/src/badges.css);
/* Add-Ons | BadgesEverywhere - White Badges */
/* @import url(https://mr-miner1.github.io/Better-Badges/src/whitebadges.css); */
/*
    DO NOT REMOVE
*/
@import url(https://hyblocker.github.io/pixelcord/dist.css);
/*
    VARIABLES
*/
[data-popout-root].newBrand,
html.newBrand,
:root {
  /* Rounded corners required for this setting to have effect */
  --window-roundedness: 12px;
  --snackbar-bg: #333;
  --snackbar-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  --snackbar-radius: 4px;
  --snackbar-height: 32px;
  --snackbar-padding: 14px 16px;
  --switch-knob-color: #ECECEC;
  --switch-slider-color: rgba(135, 135, 135,0.65);
  --button-radius: 4px;
  --background-blur-intensity: 10px;
  --chatbox-top-padding: 16px;
  --header-weight: 600;
  --subtitle-weight: 500;
  --section-weight: 900;
  --font-header: "Google Sans", "Migu 1M", sans-serif;
  --font-code: "Roboto Mono", monospace;
  --font-primary: var(--font-header);
  --font-secondary: var(--font-header);
  --font-display: var(--font-header);
  --card-padding: 12px;
  --channels-width: 300px;
  --pip-width: 320px;
  --pip-radius: 12px;
  --tooltip-bg: #2a2a2a;
  --tooltip-text: #ffffff;
  --checkbox-size: 15px;
  --settings-list-width: 316px;
  --settings-padding: 8px;
  --settings-header-height: 84px;
  --members-width: 240px;
  /* these are only used if you use the translucent module */
  --wallpaper: url("https://cdn.discordapp.com/attachments/861011844553244685/877485732783063050/1623950302486.jpg");
  --blur-strength: 4px;
  --window-border: 0px;
}

.theme-light {
  --accent: var(--primary-700);
  --accent-selected-highlight: rgba(28, 116, 233, 12%);
  --accent-highlight: var(--primary-500);
  --accent-text: white;
  --text-semidark: rgb(149, 149, 149);
  --baseline: #f8f9fa;
  --chip: #D7D7D7;
  --chip-active: #c7c7c7;
  --chip-text: rgb(53, 53, 53);
  --navdrawer-color: var(--card-2-bg);
  --navdrawer-hover: rgba(0, 0, 0, 0.05);
  --navdrawer-active: rgba(0, 0, 0, 0.1);
  --navdrawer-separator: rgba(0, 0, 0, 0.1);
  --separator: rgba(0, 0, 0, 0.18);
  --combobox-outline: rgba(0, 0, 0, 0.1);
  --title-color: #606060;
  --list-color: #202124;
  --logo-color: #202124;
  --header-color: #202124;
  --interactive-muted: #8f929c;
  --channels-default: #46494c;
  --ripple-default: rgba(0, 0, 0, 0.36);
  --danger: rgb(255, 70, 70);
  --danger-highlight: rgb(255, 118, 118);
  --online: #43b581;
  --online-highlight: #66c296;
  --idle: #faa61a;
  --dnd: var(--danger);
  --stream: #643da7;
  --offline: #636b75;
}

.callContainer-HtHELf,
.theme-dark {
  --accent: var(--primary-400);
  --accent-selected-highlight: rgba(52, 164, 255, 12%);
  --accent-highlight: var(--primary-200);
  --accent-text: white;
  --baseline: #272a2b;
  --chip: #595A5E;
  --chip-active: #737479;
  --chip-text: white;
  --navdrawer-color: var(--card-2-bg);
  --navdrawer-hover: rgba(255, 255, 255, 0.05);
  --navdrawer-active: rgba(255, 255, 255, 0.1);
  --navdrawer-separator: rgba(255, 255, 255, 0.1);
  --separator: rgba(255, 255, 255, 0.18);
  --combobox-outline: rgba(255, 255, 255, 0.1);
  --title-color: #aaa;
  --list-color: #fff;
  --logo-color: #fff;
  --header-color: #fff;
  --interactive-muted: #6b6b6b;
  --channels-default: #9b9fa5;
  --ripple-default: rgba(255, 255, 255, 0.36);
  --danger: rgb(207, 102, 121);
  --danger-highlight: rgb(255, 118, 118);
  --online: #66c296;
  --online-highlight: #43b581;
  --idle: #fbec52;
  --dnd: var(--danger);
  --stream: #9176c1;
  --offline: #868d96;
}

:root {
  --chip-height: 24px;
}

.theme-light {
  --card-0-bg: white;
  --card-1-bg: white;
  --card-2-bg: white;
  --card-3-bg: white;
  --card-4-bg: white;
  --card-5-bg: white;
  --card-6-bg: white;
  --card-7-bg: white;
  --card-8-bg: white;
  --card-9-bg: white;
  --card-10-bg: white;
  --card-11-bg: white;
  --card-12-bg: white;
  --card-13-bg: white;
  --card-14-bg: white;
  --card-15-bg: white;
  --card-16-bg: white;
  --card-17-bg: white;
  --card-18-bg: white;
  --card-19-bg: white;
  --card-20-bg: white;
  --card-21-bg: white;
  --card-22-bg: white;
  --card-23-bg: white;
  --card-24-bg: white;
}

.callContainer-HtHELf,
.theme-dark {
  --card-0-bg: #121212;
  --card-1-bg: #1D1D1D;
  --card-2-bg: #222222;
  --card-3-bg: #242424;
  --card-4-bg: #272727;
  --card-5-bg: #292828;
  --card-6-bg: #2C2C2C;
  --card-7-bg: #2C2C2D;
  --card-8-bg: #2D2D2D;
  --card-9-bg: #2E2E2D;
  --card-10-bg: #2E2F2F;
  --card-11-bg: #302F30;
  --card-12-bg: #313130;
  --card-13-bg: #323231;
  --card-14-bg: #333332;
  --card-15-bg: #333434;
  --card-16-bg: #353535;
  --card-17-bg: #353536;
  --card-18-bg: #363536;
  --card-19-bg: #363636;
  --card-20-bg: #363736;
  --card-21-bg: #363737;
  --card-22-bg: #373737;
  --card-23-bg: #373737;
  --card-24-bg: #373737;
}

:root {
  --verzjoni_0: none;
  --verzjoni_1: none;
}
