html[lang^=en-] {
    --i18n-payment: "Billing";
    --i18n-partnership: "Partner Program";
    --i18n-discovery: "Enable Discovery"
}
html[lang=zh-CN] {
    --i18n-payment: "账单";
    --i18n-partnership: "合作伙伴项目";
    --i18n-discovery: "开启“发现服务器”"
}
html[lang=zh-TW] {
    --i18n-payment: "帳單";
    --i18n-partnership: "合作夥伴計畫";
    --i18n-discovery: "啟用探索"
}
html[lang=cs] {
    --i18n-payment: "Fakturace";
    --i18n-partnership: "Partnerský program";
    --i18n-discovery: "Povolit Vyhledávání"
}
html[lang=da] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Slå Discovery til"
}
html[lang=nl] {
    --i18n-payment: "Facturatie";
    --i18n-partnership: "Partnerprogramma";
    --i18n-discovery: "Ontdekking inschakelen"
}
html[lang=fr] {
    --i18n-partnership: "Partner Program";
    --i18n-payment: "Facturation";
    --i18n-discovery: "Activer Découverte de serveurs"
}
html[lang=de] {
    --i18n-payment: "Zahlungsabwicklung";
    --i18n-partnership: "Partnerprogramm";
    --i18n-discovery: "Entdeckung aktivieren"
}
html[lang=el] {
    --i18n-payment: "Τιμολόγηση";
    --i18n-partnership: "Πρόγραμμα Συνεργατών";
    --i18n-discovery: "Ενεργοποίηση Ανακάλυψης"
}
html[lang=hu] {
    --i18n-payment: "Számlázás";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Felfedezés engedélyezése"
}
html[lang=it] {
    --i18n-payment: "Fatturazione";
    --i18n-partnership: "Programma di partnership";
    --i18n-discovery: "Attiva Esplora"
}
html[lang=ja] {
    --i18n-payment: "請求";
    --i18n-partnership: "パートナープログラム";
    --i18n-discovery: "発見を有効にする"
}
html[lang=ko] {
    --i18n-payment: "청구";
    --i18n-partnership: "파트너 프로그램";
    --i18n-discovery: "서버 찾기 활성화"
}
html[lang=pl] {
    --i18n-payment: "Dane do faktury";
    --i18n-partnership: "Program Partnerski";
    --i18n-discovery: "Włącz Wyszukiwanie serwerów"
}
html[lang=pt-PT] {
    --i18n-payment: "Billing";
    --i18n-partnership: "Partner Program";
    --i18n-discovery: "Enable Discovery"
}
html[lang=pt-BR] {
    --i18n-payment: "Cobrança";
    --i18n-partnership: "Programa de Parceria";
    --i18n-discovery: "Ativar Descobrir"
}
html[lang=ru] {
    --i18n-payment: "Выставление счетов";
    --i18n-partnership: "Partner Program"
    --i18n-discovery: "Включить «Путешествие»"
}
html[lang=sk] {
    --i18n-payment: "Billing";
    --i18n-partnership: "Partner Program"
    --i18n-discovery: "Enable Discovery"
}
html[lang=es-ES] {
    --i18n-payment: "Facturación";
    --i18n-partnership: "Programa Partner";
    --i18n-discovery: "Habilitar Descubrimiento"
}
html[lang=sv-SE] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Aktivera Identifiering"
}
html[lang=tr] {
    --i18n-payment: "Faturalandırma";
    --i18n-partnership: "Discord Ortağı Programı";
    --i18n-discovery: "Keşfi Etkinleştir"
}
html[lang=bg] {
    --i18n-payment: "Таксуване";
    --i18n-partnership: "Партньорска програма";
    --i18n-discovery: "Активирай Откриване"
}
html[lang=uk] {
    --i18n-payment: "Виставлення рахунку";
    --i18n-partnership: "Партнерська програма Discord";
    --i18n-discovery: "Увімкнути «Знайомство з серверами»"
}
html[lang=fi] {
    --i18n-payment: "Laskutus";
    --i18n-partnership: "Kumppaniohjelma";
    --i18n-discovery: "Ota palvelinhaku käyttöön"
}
html[lang=no] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Aktiver oppdagelse"
}
html[lang=hr] {
    --i18n-payment: "Obračun";
    --i18n-discovery: "Omogući Otkrivanje";
    --i18n-partnership: "Partner Program"
}
html[lang=ro] {
    --i18n-payment: "Facturare";
    --i18n-discovery: "Activează Descoperire";
    --i18n-partnership: "Programul de parteneriat"
}
html[lang=lt] {
    --i18n-payment: "Atsiskaitymas";
    --i18n-discovery: "Įjungti atradimo funkciją";
    --i18n-partnership: "Partnerių programa"
}
html[lang=th] {
    --i18n-payment: "การชำระเงิน";
    --i18n-partnership: "โปรแกรมพาร์ทเนอร์";
    --i18n-discovery: "เปิดใช้งานการค้นพบ"
}
html[lang=vi] {
    --i18n-payment: "Thanh toán";
    --i18n-partnership: "Chương Trình Đối Tác";
    --i18n-discovery: "Kích Hoạt Khám Phá"
}
html[lang=hi] {
    --i18n-payment: "बिलिंग";
    --i18n-discovery: "डिस्कवरी को ऑन करें";
    --i18n-partnership: "पार्टनर कार्यक्रम"
}