@import '../../material/card';
@import '../../../config';

$settings-transition: 150ms ease-in-out;
$tooltip-transition: 100ms ease-in-out 323ms;

.side-2ur1Qk > .item-3XjbnG[aria-controls=discord-nitro-tab]:not(.role-3pGE29),
.side-2ur1Qk > .item-3XjbnG[aria-controls=guild-premium-tab]:not(.role-3pGE29) {
	&[style*="color: rgb(114, 137, 218);"]
	{
		color: var(--accent) !important;
	}
	&[style*="color: rgb(255, 255, 255);"]
	{
		background-color: var(--accent-highlight) !important;
		color: var(--accent-text) !important;
	}
}
.sidebar-nqHbhN {
    width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	position: absolute;
    left: 0;
	padding: 36px 6px 60px 20px;
	
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}
.sidebarRegionScroller-FXiQOh {
	width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	z-index: 3003;
    left: 0;
	display: block;
    position: absolute;
    height: calc(100% - var(--settings-header-height) + 24px);
	margin-top: calc(var(--settings-header-height) - 24px);
	
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}
.sidebarRegion-1VBisG {
	width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	
	@include card(8);
}

.contentRegionScroller-2_GT_N,
.titleContainer-3fPic2 {
	background-color: transparent
}
// Black bg
.contentRegion-3HkfJJ,
.header-6h98Y_ {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}
.detailsBlock-FoDTGA,
.expandedInfo-1W31i3 {
	@include card(4);
}

.codeRedemptionRedirect-3SBiCp {
	@include card(4);
	border-width: 0;
}
.paymentPane-ut5qKZ {
	@include card(6);
	border-radius: var(--button-radius);
}
.paymentHistory-2Zf4ZE .verticalFit-21XL0v {
	overflow: visible;
}
.paginator-1eqD2g, .payment-2bOh4k {
	.theme-light &,
	.theme-dark & {
		background-color: transparent;
	}
}
.h5-2RwDNl {
	font-weight: var(--section-weight);
	font-size: 14px;
}

// Connections
.accountBtn-1YkMgV .accountBtnInner-3XK70s {
	@include card(2);
	
	@if $animations {
		transform: scale(1);
		transition: box-shadow 0.2s ease, background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
	}
}
.accountBtn-1YkMgV .accountBtnInner-3XK70s:hover {
	@include card(4);
	
	@if $animations {
		transform: scale(1.1);
	}
}
.accountList-305sx3 {
	@include card(6);
}
.connection-107AGH {
	@include card(4);
}
.connectionHeader-2rV1ze {
	@include card(2);
}

// accessibiltà
.previewMessage-2uxBrA {
	background-color: transparent;
	& .cozy-VmLDNB .messageContent-2t3eCI {
		user-select: none;
	}
}

// GUILD
.theme-dark .tierHeaderUnlocked-1OpOLf,
.tierHeaderUnlocked-1OpOLf {
	@include card(4);
	color: var(--header-color);
}
.theme-dark .tierHeaderLocked-30MLlO,
.tierHeaderLocked-30MLlO {
	@include card(2);
	color: var(--header-color);
}
.emojiRow-zIc7ZX .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.emojiRow-zIc7ZX:focus-within .emojiAliasInput-1y-NBz .emojiInput-1aLNse, .emojiRow-zIc7ZX:hover .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
	opacity: 1;
}
.emojiAliasPlaceholder-3H_iZA {
	opacity: 0;
}
.tierBody-1d3UiS,
.tierBody-1d3UiS,
.upsellContainer-L9xv7w,
.checklistContainer-mFJZEJ,
.developerPortalCtaWrapper-2XNafh,
.previewContainer-1SS3uO,
.container-2w0lh0,
.featureCard-1RR4Tl,
.descriptionBox-1EKQKL {
	@include card(4);
}
.guildSection-2Zyzy8,
.upsellFooter-ZYsio_,
.analyticsCard-2fnrVG,
.checklistHeader-1KWcEY,
.welcomeChannel-1rFrIO,
.enableContainer-6E-puu,
.header-2Y0-A- {
	@include card(2);
}
.enableContainer-6E-puu {
	z-index: 1;
}
.container-2O1UgZ {
	@include card(8);
}
.selectedBrand-1AtwYE.focused-qp-W9B, .selectedBrand-1AtwYE:hover {
	background: var(--accent-highlight);
}
.upsellContainer-3UlEOE .base-21yXnu {
	color: white;
}

// Funny svgs
.descriptionIcon-36p1fN circle[fill*="hsl(0,"] {
	fill: transparent;
}

// Ruoli
.scroller-3_YDR2 {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}

// Make green, yellow and red use the theme equivalents
.radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(139, "] {
    --radio-bar-accent-color: var(--online) !important;
}
.radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(37, "] {
    --radio-bar-accent-color: var(--idle) !important;
}
.radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(359, "] {
    --radio-bar-accent-color: var(--danger) !important;
}

// Roles card
.container-3EtAkD {
	@include card(4);
}

// Settings header thing

$animtime: 0.34s;

// Custom open/close settings animation because I can
// Close animation
.baseLayer-W6S8cY.animating-1rIrGV[aria-hidden=false]+.animating-1rIrGV[aria-label=USER_SETTINGS] {
	transform: scale(1) !important;
	animation: settings-circle-out $animtime ease forwards;
}
// Open animation
.baseLayer-W6S8cY.animating-1rIrGV[aria-hidden=true]+.animating-1rIrGV[aria-label=USER_SETTINGS] {
	transform: scale(1) !important;
	animation: settings-circle-in $animtime ease forwards;
}
// Disable the default animations shit on this
.baseLayer-W6S8cY.animating-1rIrGV,
.baseLayer-W6S8cY.stop-animations {
	transform: scale(1) !important;
	&:only-child {
		opacity: 1 !important;
	}
}
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {
    pointer-events: auto !important;
    will-change: unset;
}
@keyframes settings-circle-in {
	from {
		clip-path: circle(0.0% at calc(var(--channels-width) - var(--settings-padding) + (30px)) calc(100% - 32px - var(--settings-padding)));
	}
	to {
		clip-path: circle(70.7% at 50% 50%);
	}
}
@keyframes settings-circle-out {
	from {
		clip-path: circle(70.7% at 50% 50%);
	}
	to {
		clip-path: circle(0.0% at calc(var(--channels-width) - var(--settings-padding) + (30px)) calc(100% - 32px - var(--settings-padding)));
	}
}

// Header bar
.sidebarRegionScroller-FXiQOh{
	&::before {
		content: "";
		width: 100%;
		height: var(--settings-header-height);
		display: inline-block;
		z-index: 3003;
		position: fixed;
		top: 0;
		left: 0;
		background-color:  var(--accent);
		transition: $settings-transition;
		box-shadow: none;

		.theme-light & {
			box-shadow: elevation-shadow(16, black);
		}
	}
	&::after {
		content: "";
		background-color: var(--accent);
		display: inline-block;
		z-index: 3003;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
// Fix pfps rendering on top
.preview-rua1rr .avatar-2e8lTP {
	z-index: 0;
}

// Settings header
.sidebar-nqHbhN .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	position: initial;
	&[aria-controls]::after {
		content: attr(aria-controls);
	}
	&[aria-label]::after {
		content: attr(aria-label);
	}
	&::after {
		// Disable ripple
		transform: scale(1);
		opacity: 1;
		background: none;
		top: calc((var(--settings-header-height) - 8px) * 0.5);
		left: var(--settings-header-height);
		width: auto;
		height: auto;

		// Header shit
		font-size: 24px;
		font-family: 'No Dash', var(--font-header);
		font-weight: var(--header-weight);
		font-kerning: normal;
		font-feature-settings: "kern";
		color: var(--accent-text);
		
		// Render ontop
		display: block;
		position: fixed;
		z-index: 3003;
	}
}
// Uppercase plugin titles and shit
.sidebar-nqHbhN .themed-2-lozF.item-3XjbnG {
	// not clean bc of all the not chaining but u do what u gotta do
	&[aria-controls=pc-updater-tab] ~ .item-3XjbnG:not([aria-controls=changelog-tab]):not([aria-controls="Hypesquad Online-tab"]):not([aria-controls=Experiments-tab]):not([aria-controls="Developer Options-tab"]):not([aria-controls=logout-tab]),
	&[aria-controls^=gm-]
	{
		&::after {
			text-transform: capitalize;
		}
	}
}
// Realign settings contents
.contentRegion-3HkfJJ {
	height: 100%;
	margin-top: calc(var(--settings-header-height) - 24px);
	.platform-web & {
		margin-top: var(--settings-header-height);
	}
}

// Role header overlaying on top of the header fix
// i hate z-indexing in CSS
.contentContainer-3hXFtK {
	z-index: 0;
}

// Fix the settings notice clipping at the bottom
.noticeRegion-qjyUVg {
	bottom: var(--settings-header-height);
}

// Border radius clips on the right bc of scroll bar, so resize it
.side-2ur1Qk > .item-3XjbnG {
	margin-right: 14px;
}

// fucking inline css
.betaBadge-1VY8Cw[style^="background-color: hsl(235,"] {
	background-color: var(--accent) !important;
}

// New color palette
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover {
	background-color: var(--accent-selected-highlight);
	color: var(--accent);
}
.list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE,
.header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy,
.header-3_zmOb .tabBar-2WhZ9G .tab-2Jo-cu.active-346HgG {
	.theme-dark &,
	.theme-light & {
		background-color: var(--accent-selected-highlight);
		color: var(--accent);
	}
}
// Override nitro and boosts
.premiumLabel-V52REm.selected-2m-n75,
.serverBoostTabItem-2hFTIN.selected-2m-n75 {
	color: var(--accent);
}
.background-3iPORX.selectedBackground-1qyzak {
	display: none;
}
// Fix the template dot being too close to the text
.item-3XjbnG .dot-e8DTw_ {
	margin-left: 6px;
}

// Turn the close button into a back button
.toolsContainer-25FL6V {
	position: fixed;
	top: 0;
	z-index: 3005;
	padding-top: calc((var(--settings-header-height) - 24px) * 0.5);
	left: calc((var(--settings-header-height) - 48px) * 0.5);
}

.closeButton-PCZcma {
	border: none;
	// funny optimized selector
	& svg {
		width: 24px;
		height: 24px;
	}
	& path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
		d: path("M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z");
		fill: var(--accent-text);
	}
	opacity: 0.8;
	.theme-light &:hover,
	.theme-dark &:hover {
		background: none;
		opacity: 1;
	}
}
// Tooltip
.closeButton-PCZcma:hover+.keybind-13vtq8 {
	opacity: 1;
	transform: scale(1);
}
.closeButton-PCZcma+.keybind-13vtq8 {
	opacity: 0;
	transform: scale(0);
	transform-origin: center top;
	transition: opacity $tooltip-transition,
				transform $tooltip-transition;

	visibility: hidden;
	font-size: 0;

	&::after {
		
		content: "";
		visibility: visible;

		padding: 0;
		overflow-wrap: break-word;
		text-rendering: optimizelegibility;
		user-select: none;
		vertical-align: baseline;

		pointer-events: none;

		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: var(--tooltip-bg);

		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	&::before {
		content: "Back";
		visibility: visible;
		position: relative;
		top: 8px; // Space
		
		background-color: var(--tooltip-bg);
		border-radius: 4px;
		padding: 8px;
		line-height: 14px;
		font-weight: 500;
		font-size: 13px;
		color: var(--tooltip-text);
		transition: $settings-transition;
		pointer-events: none;

		// Tooltip text
		html[lang=zh-CN] & { content: "后退"; }
		html[lang=zh-TW] & { content: "返回"; }
		html[lang=cs] & { content: "Zpět"; }
		html[lang=da] & { content: "Tilbage"; }
		html[lang=nl] & { content: "Terug"; }
		html[lang=fr] & { content: "Retour"; }
		html[lang=de] & { content: "Zurück"; }
		html[lang=el] & { content: "Πίσω"; }
		html[lang=hu] & { content: "Vissza"; }
		html[lang=it] & { content: "Indietro"; }
		html[lang=ja] & { content: "戻る"; }
		html[lang=ko] & { content: "뒤로 가기"; }
		html[lang=pl] & { content: "Wstecz"; }
		html[lang=pt-PT] & { content: "Back"; }
		html[lang=pt-BR] & { content: "Voltar"; }
		html[lang=ru] & { content: "Назад"; }
		html[lang=sk] & { content: "Back"; }
		html[lang=es-ES] & { content: "Atrás"; }
		html[lang=sv-SE] & { content: "Tillbaka"; }
		html[lang=tr] & { content: "Geri"; }
		html[lang=bg] & { content: "Назад"; }
		html[lang=uk] & { content: "Назад"; }
		html[lang=fi] & { content: "Takaisin"; }
		html[lang=no] & { content: "Tilbake"; }
		html[lang=hr] & { content: "Natrag"; }
		html[lang=ro] & { content: "Înapoi"; }
		html[lang=lt] & { content: "Atgal"; }
		html[lang=th] & { content: "ย้อนกลับ"; }
		html[lang=vi] & { content: "Trở lại"; }
		html[lang=hi] & { content: "वापस जाएं"; }
	}
}
