@import '../../material/card';
@import '../../../config';

$settings-transition: 150ms ease-in-out;
$tooltip-transition: 100ms ease-in-out 323ms;

.side-8zPYf6 > .item-PXvHYJ[data-item-id=DiscordNitro]:not(.role-3wi9Tf),
.side-8zPYf6 > .item-PXvHYJ[data-item-id=GUILD_PREMIUM]:not(.role-3wi9Tf) {
	&[style*="color: rgb(114, 137, 218);"]
	{
		color: var(--accent) !important;
	}
	&[style*="color: rgb(255, 255, 255);"]
	{
		background-color: var(--accent-highlight) !important;
		color: var(--accent-text) !important;
	}
}
.sidebar-CFHs9e {
    width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	position: absolute;
    left: 0;
	padding: 36px 6px 60px 20px;
	
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}
.sidebarRegionScroller-3MXcoP {
	width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	z-index: 3003;
    left: 0;
	display: block;
    position: absolute;
    height: calc(100% - var(--settings-header-height) + 24px);
	margin-top: calc(var(--settings-header-height) - 24px);
	
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}
.sidebarRegion-VFTUkN {
	width: calc(var(--settings-list-width) + 36px);
    max-width: calc(var(--settings-list-width) + 36px);
	
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}

.contentRegionScroller-26nc1e,
.titleContainer-2CXtJo {
	background-color: transparent
}
// Black bg
.contentRegion-3nDuYy,
.header-2mZ9Ov {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}
.detailsBlock-FoDTGA,
.expandedInfo-3kfShd {
	@include card(4);
}

.codeRedemptionRedirect-1wVR4b {
	@include card(4);
	border-width: 0;
}
.paymentPane-3bwJ6A {
	@include card(6);
	border-radius: var(--button-radius);
}
.paymentHistory-2FXzro .verticalFit-waKLYN {
	overflow: visible;
}
.paginator-166-09, .payment-xT17Mq {
	.theme-light &,
	.theme-dark & {
		background-color: transparent;
	}
}
.h5-18_1nd {
	font-weight: var(--section-weight);
	font-size: 14px;
}

// Connections
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
	@include card(2);
	
	@if $animations {
		transform: scale(1);
		transition: box-shadow 0.2s ease, background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
	}
}
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
	@include card(4);
	
	@if $animations {
		transform: scale(1.1);
	}
}
.accountList-33MS45 {
	@include card(6);
}
.connection-1fbD7X {
	@include card(4);
}
.connectionHeader-2MDqhu {
	@include card(2);
}

// accessibiltà
.previewMessage-1ZN7YG {
	background-color: transparent;
	& .cozy-3raOZG .messageContent-2qWWxC {
		user-select: none;
	}
}

// GUILD
.theme-dark .tierHeaderUnlocked-3lTDnP,
.tierHeaderUnlocked-3lTDnP {
	@include card(4);
	color: var(--header-color);
}
.theme-dark .tierHeaderLocked-3S508x,
.tierHeaderLocked-3S508x {
	@include card(2);
	color: var(--header-color);
}
.emojiRow-zIc7ZX .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.emojiRow-zIc7ZX:focus-within .emojiAliasInput-1y-NBz .emojiInput-1aLNse, .emojiRow-zIc7ZX:hover .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
	opacity: 1;
}
.emojiAliasPlaceholder-3H_iZA {
	opacity: 0;
}
.tierBody-3aUxuc,
.tierBody-3aUxuc,
.upsellContainer-L9xv7w,
.checklistContainer-mFJZEJ,
.developerPortalCtaWrapper-2XNafh,
.previewContainer-1SS3uO,
.container-2w0lh0,
.featureCard-1RR4Tl,
.descriptionBox-1EKQKL {
	@include card(4);
}
.guildSection-1EoFKd,
.upsellFooter-ZYsio_,
.analyticsCard-qckucw,
.checklistHeader-1KWcEY,
.welcomeChannel-1rFrIO,
.enableContainer-6E-puu,
.header-2Y0-A- {
	@include card(2);
}
.enableContainer-6E-puu {
	z-index: 1;
}
.container-3XJ8ns {
	@include card(8);
}
.selectedBrand-1UKrSX.focused-dKLoQt, .selectedBrand-1UKrSX:hover {
	background: var(--accent-highlight);
}
.upsellContainer-3UlEOE .base-1x0h_U {
	color: white;
}

// Funny svgs
.descriptionIcon-36p1fN circle[fill*="hsl(0,"] {
	fill: transparent;
}

// Ruoli
.scroller-305q3I {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}

// Make green, yellow and red use the theme equivalents
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(139, "] {
    --radio-bar-accent-color: var(--online) !important;
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(37, "] {
    --radio-bar-accent-color: var(--idle) !important;
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(359, "] {
    --radio-bar-accent-color: var(--danger) !important;
}

// Roles card
.container-_phMUq {
	@include card(4);
}

// Settings header thing

$animtime: 0.34s;

// Custom open/close settings animation because I can
// Close animation
.baseLayer-35bLyl.animating-rRxada[aria-hidden=false]+.animating-rRxada[aria-label=USER_SETTINGS] {
	transform: scale(1) !important;
	animation: settings-circle-out $animtime ease forwards;
}
// Open animation
.baseLayer-35bLyl.animating-rRxada[aria-hidden=true]+.animating-rRxada[aria-label=USER_SETTINGS] {
	transform: scale(1) !important;
	animation: settings-circle-in $animtime ease forwards;
}
// Disable the default animations shit on this
.baseLayer-35bLyl.animating-rRxada,
.baseLayer-35bLyl.stop-animations {
	transform: scale(1) !important;
	&:only-child {
		opacity: 1 !important;
	}
}
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}
@keyframes settings-circle-in {
	from {
		clip-path: circle(0.0% at calc(var(--channels-width) - var(--settings-padding) + (30px)) calc(100% - 32px - var(--settings-padding)));
	}
	to {
		clip-path: circle(70.7% at 50% 50%);
	}
}
@keyframes settings-circle-out {
	from {
		clip-path: circle(70.7% at 50% 50%);
	}
	to {
		clip-path: circle(0.0% at calc(var(--channels-width) - var(--settings-padding) + (30px)) calc(100% - 32px - var(--settings-padding)));
	}
}

// Header bar
.sidebarRegionScroller-3MXcoP{
	&::before {
		content: "";
		width: 100%;
		height: var(--settings-header-height);
		display: inline-block;
		z-index: 3003;
		position: fixed;
		top: 0;
		left: 0;
		background-color:  var(--accent);
		transition: $settings-transition;
		box-shadow: none;

		.theme-light & {
			box-shadow: elevation-shadow(16, black);
		}
	}
	&::after {
		content: "";
		background-color: var(--accent);
		display: inline-block;
		z-index: 3003;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
// Fix pfps rendering on top
.preview-2nSL_2 .avatar-1BDn8e {
	z-index: 0;
}

// Settings header
.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	position: initial;
	&[aria-controls]::after {
		content: attr(aria-controls);
	}
	&[aria-label]::after {
		content: attr(aria-label);
	}
	&::after {
		// Disable ripple
		transform: scale(1);
		opacity: 1;
		background: none;
		top: calc((var(--settings-header-height) - 8px) * 0.5);
		left: var(--settings-header-height);
		width: auto;
		height: auto;

		// Header shit
		font-size: 24px;
		font-family: 'No Dash', var(--font-header);
		font-weight: var(--header-weight);
		font-kerning: normal;
		font-feature-settings: "kern";
		color: var(--accent-text);
		
		// Render ontop
		display: block;
		position: fixed;
		z-index: 3003;
	}
}
// Uppercase plugin titles and shit
.sidebar-CFHs9e .themed-OHr7kt.item-PXvHYJ {
	// not clean bc of all the not chaining but u do what u gotta do
	&[aria-controls=pc-updater-tab] ~ .item-PXvHYJ:not([aria-controls=changelog-tab]):not([aria-controls="Hypesquad Online-tab"]):not([aria-controls=Experiments-tab]):not([aria-controls="Developer Options-tab"]):not([aria-controls=logout-tab]),
	&[aria-controls^=gm-]
	{
		&::after {
			text-transform: capitalize;
		}
	}
}
// Realign settings contents
.contentRegion-3nDuYy {
	height: 100%;
	margin-top: calc(var(--settings-header-height) - 24px);
	.platform-web & {
		margin-top: var(--settings-header-height);
	}
}

// Role header overlaying on top of the header fix
// i hate z-indexing in CSS
.contentContainer-14yMzC {
	z-index: 0;
}

// Fix the settings notice clipping at the bottom
.noticeRegion-1YviSH {
	bottom: var(--settings-header-height);
}

// Border radius clips on the right bc of scroll bar, so resize it
.side-8zPYf6 > .item-PXvHYJ {
	margin-right: 14px;
}

// fucking inline css
.betaBadge-1VY8Cw[style^="background-color: hsl(235,"] {
	background-color: var(--accent) !important;
}

// New color palette
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
	background-color: var(--accent-selected-highlight);
	color: var(--accent);
}
.list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX,
.header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA {
	.theme-dark &,
	.theme-light & {
		background-color: var(--accent-selected-highlight);
		color: var(--accent);
	}
}

// Turn the close button into a back button
.toolsContainer-1edPuj {
	position: fixed;
	top: 0;
	z-index: 3005;
	padding-top: calc((var(--settings-header-height) - 24px) * 0.5);
	left: calc((var(--settings-header-height) - 48px) * 0.5);
}

.closeButton-1tv5uR {
	border: none;
	// funny optimized selector
	& svg {
		width: 24px;
		height: 24px;
	}
	& path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
		d: path("M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z");
		fill: var(--accent-text);
	}
	opacity: 0.8;
	.theme-light &:hover,
	.theme-dark &:hover {
		background: none;
		opacity: 1;
	}
}
// Tooltip
.closeButton-1tv5uR:hover+.keybind-KpFkfr {
	opacity: 1;
	transform: scale(1);
}
.closeButton-1tv5uR+.keybind-KpFkfr {
	opacity: 0;
	transform: scale(0);
	transform-origin: center top;
	transition: opacity $tooltip-transition,
				transform $tooltip-transition;

	visibility: hidden;
	font-size: 0;

	&::after {
		// TODO: Arrow TOOLTIP
	}

	&::before {
		visibility: visible;
		position: relative;
		top: 8px; // Space
		
		background-color: var(--tooltip-bg);
		border-radius: 4px;
		padding: 8px;
		line-height: 14px;
		font-weight: 500;
		font-size: 13px;
		color: var(--tooltip-text);
		transition: $settings-transition;

		// Tooltip text
		html[lang^=en-] & { content: "Back"; }
		html[lang=zh-CN] & { content: "后退"; }
		html[lang=zh-TW] & { content: "返回"; }
		html[lang=cs] & { content: "Zpět"; }
		html[lang=da] & { content: "Tilbage"; }
		html[lang=nl] & { content: "Terug"; }
		html[lang=fr] & { content: "Retour"; }
		html[lang=de] & { content: "Zurück"; }
		html[lang=el] & { content: "Πίσω"; }
		html[lang=hu] & { content: "Vissza"; }
		html[lang=it] & { content: "Indietro"; }
		html[lang=ja] & { content: "戻る"; }
		html[lang=ko] & { content: "뒤로 가기"; }
		html[lang=pl] & { content: "Wstecz"; }
		html[lang=pt-PT] & { content: "Back"; }
		html[lang=pt-BR] & { content: "Voltar"; }
		html[lang=ru] & { content: "Назад"; }
		html[lang=sk] & { content: "Back"; }
		html[lang=es-ES] & { content: "Atrás"; }
		html[lang=sv-SE] & { content: "Tillbaka"; }
		html[lang=tr] & { content: "Geri"; }
		html[lang=bg] & { content: "Назад"; }
		html[lang=uk] & { content: "Назад"; }
		html[lang=fi] & { content: "Takaisin"; }
		html[lang=no] & { content: "Tilbake"; }
		html[lang=hr] & { content: "Natrag"; }
		html[lang=ro] & { content: "Înapoi"; }
		html[lang=lt] & { content: "Atgal"; }
		html[lang=th] & { content: "ย้อนกลับ"; }
		html[lang=vi] & { content: "Trở lại"; }
		html[lang=hi] & { content: "वापस जाएं"; }
	}
}