@import "../../../src/_old/app/material/card";

:root {
	// Actual window radius
	--window-roundedness: 12px;
	
	// Glasscord
	--glasscord-win-blur: transparent;
	--glasscord-blur-corner-radius: var(--window-roundedness);
	--glasscord-titlebar: native;
}

// Acryllic
.theme-light .titleBar-1it3bQ {
	background-color: cardbg(6, false);
}
.theme-dark .titleBar-1it3bQ {
	background-color: cardbg(6, true);
}

// Removed rounded corners if we are maximized
// Powercord exclusive feature
.maximized {
	--window-roundedness: 0;
}
html,
body,
#app-mount {
    background-color: transparent !important;
}
body,
#app-mount,
.bg-1QIAus,
.backdrop-2ByYRN,
.backdropWithLayer-3_uhz4 {
    border-radius: var(--window-roundedness);
	transition: border-radius 150ms ease-in-out;
}
.sidebarRegion-1VBisG::before,
.sidebarRegionScroller-FXiQOh::before {
    border-top-left-radius: var(--window-roundedness);
	transition: border-top-left-radius 150ms ease-in-out;
}
.sidebarRegionScroller-FXiQOh::before {
    border-top-right-radius: var(--window-roundedness);
}
