$minimal-width: 256px;

.bd-minimal {
	& .sidebarRegion-1VBisG {
		flex: none;
		max-width: $minimal-width;
	}
	& .sidebarRegionScroller-FXiQOh {
		max-width: $minimal-width;
	}
	& .sidebar-nqHbhN {
		width: calc(var(--settings-list-width) - 48px);
	}
}
