@import '../../material/card';

$highlight: 6;
$normal: 4;

.background-1QDuV2 {
	@include card($highlight, $background: false);
	.theme-dark & {
		background-color: cardbg($normal, true);
	}
}
.theme-dark .fieldList-21DyL8 {
	background-color: cardbg($normal, true);
}
.avatar-1uQSZT {
	.theme-light & {
		border-color: cardbg($highlight, false);
		background-color: cardbg($highlight, false);
	}
	.theme-dark & {
		border-color: cardbg($highlight, true);
		background-color: cardbg($highlight, true);
	}
}
.descriptionIcon-36p1fN {
	& path[fill*="hsl(139, "] {
		fill: var(--online);
	}
	& path[fill*="hsl(359, "] {
		fill: var(--danger);
	}
}
.settingCard-3w2mVL,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.accountProfileCard-1XCH88
{
	@include card($highlight);
}
.cardPrimaryOutline-29Ujqw,
.premiumSubscriptionAccountCredit-25i0tQ,
.guilds-3A5wi_ .cardWrapper-2Min21 {
	@include card($normal);
}
.cardPrimaryOutline-29Ujqw {
	border-color: transparent;
}

// fix the color on the voice notches being default discord
.notches-1sAcEM.gray-3_LNYR {
	.theme-light & {
		background-image:none;
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-image:none;
		background-color: cardbg(0, true);
	}
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='hsl(220, 7.7%25, 22.9%25)'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='hsl(220, 7.7%25, 22.9%25)'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

// videos card
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
	.theme-light & {
		border-color:transparent;
	}
	.theme-dark & {
		border-color:transparent;
	}
	@include card(4);
}
.userSettingsVoice-iwdUCU .previewContainer-37c2Si {
	overflow: visible;
}
.defaultValue-3gC7yw .markValue-2DwdXI {
	color: var(--accent);
}

.permissionCheckmark-1SeKr2 {
	-webkit-mask: url(https://canary.discord.com/assets/718074e12775def7df7e2a01d6bf2bf8.svg) no-repeat;
	background: var(--online);
}

// Disable dragging of nitro upsell previews
.featureImage-2L9kA0, .featureTitle-W5O6R1, .hero-EvfTTA {
	-webkit-user-drag: none;
}

// Game Activity Red
.overlayToggleIconOff-1kT42w .fill-1ugeBG {
	fill: var(--danger);
	&+rect {
		fill: var(--danger);
	}
}

// Verified
.flowerStar-1GeTsn path {
	fill: var(--accent);
	opacity: 0.5;
	&+.childContainer-1wxZNh path {
		fill: var(--accent-text);
	}
}

// Analytics
.trendingArrow-18JKWi {
	& path[fill^="hsl(139,"] {
		fill: var(--online);
	}
	& path[fill^="hsl(359,"] {
		fill: var(--danger);
	}
	& path[fill^="hsl(38,"] {
		fill: var(--idle);
	}
}

// Threads
.box-J4N4jE {
	@include card(4);
}

// Guilds
.deny-3nAuT6 {
	color: var(--danger);
	&.selected-2YhbGh {
		background-color: var(--danger);
	}
}
.allow-1PzSY3 {
	color: var(--online);
	&.selected-2YhbGh {
		background-color: var(--online);
	}
}
.item-1yAxl1 {
	cursor: pointer;
}

// The uhh the uhh i forgor 💀
// Game Activity
.addGamePopout-2RY8Ju {
	@include card(4);
}