// BD Status indicators
.PI-icon_desktop,
.PI-icon_mobile,
.PI-icon_web
{
    &[style*="color: hsl(139,"] {
        color:  var(--online) !important;
    }
    &[style*="color: hsl(38,"] {
        color:  var(--idle) !important;
    }
    &[style*="color: hsl(359,"] {
        color:  var(--danger) !important;
    }
}

// Changelogs
.fixed-3zCC84:after {
    background-color: var(--danger);
}
.added-2hLRj3:after {
    background-color: var(--online);
}

// Store
.theme-light {
    & .card-x5zW6z .gifFavoriteButton-3Zycl7 {
        color: var(--header-primary);
    }
}
.repoList-9JnAPs .toolsContainer-1edPuj {
    margin-top: 0;
}