.sidebar-nqHbhN .themed-2-lozF.selected-g-kMVV.item-3XjbnG {

	// BETTERDISCORD
	&[aria-controls="settings-tab" i]::after {
		content: "Better Discord Settings";
	}
	&[aria-controls="emotes-tab" i]::after {
		content: "Emotes";
	}
	&[aria-controls="customcss-tab" i]::after {
		content: "Custom CSS";
	}
	&[aria-controls="plugins-tab" i]::after {
		content: "Plugins";
	}
	&[aria-controls="themes-tab" i]::after {
		content: "Themes";
	}
	&[aria-controls="pluginrepo-tab" i]::after {
		content: "Plugin Repository";
	}
	&[aria-controls="themerepo-tab" i]::after {
		content: "Theme Repository";
	}
}
