@import '../material/card';

//.theme-dark:root {
.callContainer-36WRfH,
.theme-dark {
	--accent: var(--primary-400);
	--accent-selected-highlight: rgba(52, 164, 255, 12%);
	--accent-highlight: var(--primary-200);
	--accent-text: white;
	
	--baseline: #272a2b;

	--chip: #595A5E;
	--chip-active: #737479;
	--chip-text: #{cardbg(18, false)};
	
	--navdrawer-color: #{cardbg(2, true)};
	--navdrawer-hover: rgba(255, 255, 255, 0.05);
	--navdrawer-active: rgba(255, 255, 255, 0.1);
	--navdrawer-separator: rgba(255, 255, 255, 0.1);
	
	--combobox-outline: rgba(255, 255, 255, 0.1);

	--title-color: #aaa;
	--list-color: #fff;
	--logo-color: #fff;
	--header-color: #fff;
	--interactive-muted: #6b6b6b;
	--channels-default: #9b9fa5;
	
	--ripple-default: rgba(255, 255, 255, 0.36);
	--danger: rgb(207, 102, 121);
	--danger-highlight: rgb(255, 118, 118);
	
	--online: #66c296;
	--online-highlight: #43b581;
	--idle: #fbec52;
	--dnd: var(--danger);
	--stream: #9176c1;
	--offline: #868d96;
}