[data-popout-root].newBrand,
html.newBrand,
:root {
	/* Rounded corners required for this setting to have effect */
	--window-roundedness: 12px;

	--snackbar-bg: #333;
	--snackbar-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
	--snackbar-radius: 4px;
	--snackbar-height: 32px;
	--snackbar-padding: 14px 16px;

    --switch-knob-color: #ECECEC;
    --switch-slider-color: rgba(135, 135, 135,0.65);

	--button-radius: 4px;

	--background-blur-intensity: 10px;

	// Textbox
	--chatbox-top-padding: 16px;

	--header-weight: 600;
	--subtitle-weight: 500;
	--section-weight: 900;
	--font-header: 'Google Sans', 'Migu 1M', sans-serif;
	--font-code: 'Roboto Mono', monospace;

	// Default aliases
	--font-primary: var(--font-header);
	--font-secondary: var(--font-header);
	--font-display: var(--font-header);

	--card-padding: 12px;
	--channels-width: 300px; //DMS, Channel names

	// Picture in picture settings!
	--pip-width: 320px;
	--pip-radius: 12px;

	// Tooltips
	--tooltip-bg: #2a2a2a;
	--tooltip-text: #ffffff;

	// Checkmark
	--checkbox-size: 15px;

	// Settings
	--settings-list-width: 316px;
	--settings-padding: 8px;
	--settings-header-height: 84px;
	
	// Members List
	--members-width: 240px;

	/* these are only used if you use the translucent module */
	--wallpaper: url('https://cdn.discordapp.com/attachments/861011844553244685/877485732783063050/1623950302486.jpg');
	--blur-strength: 4px;
	--window-border: 0px;
}