@import '../material/card';

//.theme-light:root {
.theme-light {
	--accent: var(--primary-700);
	--accent-selected-highlight: rgba(28, 116, 233, 12%);
	--accent-highlight: var(--primary-500);
	--accent-text: white;

	--text-semidark: rgb(149, 149, 149);

	--baseline: #f8f9fa;
	
	--chip: #D7D7D7;
	--chip-active: #D7D7D7;
	--chip-text: #{cardbg(18, true)};

	--navdrawer-color: #{cardbg(2, false)};
	--navdrawer-hover: rgba(0, 0, 0, 0.05);
	--navdrawer-active: rgba(0, 0, 0, 0.1);
	--navdrawer-separator: rgba(0, 0, 0, 0.1);
	
	--combobox-outline: rgba(0, 0, 0, 0.1);

	--title-color: #606060;
	--list-color: #202124;
	--logo-color: #202124;
	--header-color: #202124;
	--interactive-muted: #8f929c;
	--channels-default: #46494c;
	
	--ripple-default: rgba(0, 0, 0, 0.36);
	--danger: rgb(255, 70, 70);
	--danger-highlight: rgb(255, 118, 118);

	--online: #43b581;
	--online-highlight: #66c296;
	--idle: #faa61a;
	--dnd: var(--danger);
	--stream: #643da7;
	--offline: #636b75;
}