// Override new colors from rebrand
:root, html, [data-popout-root].oldBrand, html.oldBrand,
       html, [data-popout-root].newBrand, html.newBrand {
	
	--text-positive: var(--online);
	--status-positive-background: var(--online);
	--status-positive-text: var(--accent-text);
	--brand-experiment: var(--accent);
	--brand-experiment-500: var(--accent);
	--brand-experiment-560: var(--accent);
	--control-brand-foreground: var(--accent);
}
.theme-light,
.theme-dark {
	--text-link: var(--accent);
}
// idk why light mode looks broken as fuck
.theme-light {
	& .icon-2aINcz,
	& .lookFilled-1Gx00P.colorGreen-29iAKY,
	& .text-2e2ZyG {
		color: white;
	}
	& .avatarUploaderIndicator-2G-aIZ {
		background-color: #fff;
		top: 0;
		right: 0;
		left: auto;
		width: 28px;
		height: 28px;
	}
}
// Funny hack to persist dark theme vars into light theme (for new guild modal)
.theme-dark {
	--faded-text-interactive-normal: var(--interactive-normal);
	--accento: var(--accent);
}
.theme-dark .theme-light {
	--interactive-normal: var(--faded-text-interactive-normal);
	--accent: var(--accento);
}

[data-popout-root].newBrand, html.newBrand, :root {

	// Ripple things
	// Live mouse position
	--mouseX: 0px;
	--mouseY: 0px;
	// Click position
    --clickX: 0px;
    --clickY: 0px;
}