:root {
	--primary-900: #1f41b6;
	--primary-800: #1d61d5;
	--primary-700: #1a73e8;
	--primary-600: #1386fc;
	--primary-500: #0095ff;
	--primary-400: #34a4ff;
	--primary-300: #5cb5ff;
	--primary-200: #8dcaff;
	--primary-100: #bbdeff;
	--primary-50: #e3f2ff;
	
	--complementary-900: #d15b0e;
	--complementary-800: #db7212;
	--complementary-700: #e28016;
	--complementary-600: #e88f1a;
	--complementary-500: #ec9a1e;
	--complementary-400: #eea834;
	--complementary-300: #f0b755;
	--complementary-200: #f4cc85;
	--complementary-100: #f8e0b5;
	--complementary-50: #fcf3e1;
}