@import '../../material/card';

$highlight: 6;
$normal: 4;

.background-3d_SjE {
	@include card($highlight, $background: false);
	.theme-dark & {
		background-color: cardbg($normal, true);
	}
}
.theme-dark .fieldList-in8WkP {
	background-color: cardbg($normal, true);
}
.avatar-3mTjvZ {
	.theme-light & {
		border-color: cardbg($highlight, false);
		background-color: cardbg($highlight, nfalse);
	}
	.theme-dark & {
		border-color: cardbg($highlight, true);
		background-color: cardbg($highlight, true);
	}
}
.descriptionIcon-36p1fN {
	& path[fill*="hsl(139, "] {
		fill: var(--online);
	}
	& path[fill*="hsl(359, "] {
		fill: var(--danger);
	}
}
.settingCard-xZSDjS,
.cardPrimary-3qRT__,
.cardPrimaryEditable-2mz_3i,
.accountProfileCard-lbN7n-
{
	@include card($highlight);
}
.cardPrimaryOutline-1ofwVz,
.premiumSubscriptionAccountCredit-1UInYJ,
.guilds-35jvvn .cardWrapper-CyvwQv {
	@include card($normal);
}
.cardPrimaryOutline-1ofwVz {
	border-color: transparent;
}

// fix the color on the voice notches being default discord
.notches-2w7UZJ.gray-3wP137 {
	.theme-light & {
		background-image:none;
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-image:none;
		background-color: cardbg(0, true);
	}
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='hsl(220, 7.7%25, 22.9%25)'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='hsl(220, 7.7%25, 22.9%25)'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

// videos card
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
	.theme-light & {
		border-color:transparent;
	}
	.theme-dark & {
		border-color:transparent;
	}
	@include card(4);
}
.userSettingsVoice-1_dzjw .previewContainer-37c2Si {
	overflow: visible;
}
.defaultValue-19SZ-q .markValue-2U_-UG {
	color: var(--accent);
}

.permissionCheckmark-2XFmCt {
	-webkit-mask: url(https://canary.discord.com/assets/718074e12775def7df7e2a01d6bf2bf8.svg) no-repeat;
	background: var(--online);
}

// Disable dragging of nitro upsell previews
.featureImage-91H2fC, .featureTitle-3N9Stg, .hero-1aNo0v {
	-webkit-user-drag: none;
}

// Game Activity Red
.overlayToggleIconOff-3hGOmN .fill-MYciTJ {
	fill: var(--danger);
	&+rect {
		fill: var(--danger);
	}
}

// Verified
.flowerStar-2tNFCR path {
	fill: var(--accent);
	opacity: 0.5;
	&+.childContainer-U_a6Yh path {
		fill: var(--accent-text);
	}
}

// Analytics
.trendingArrow-1JMCSr {
	& path[fill^="hsl(139,"] {
		fill: var(--online);
	}
	& path[fill^="hsl(359,"] {
		fill: var(--danger);
	}
	& path[fill^="hsl(38,"] {
		fill: var(--idle);
	}
}

// Threads
.box-J4N4jE {
	@include card(4);
}

// Guilds
.deny-1GO6vI {
	color: var(--danger);
	&.selected-3jieYB {
		background-color: var(--danger);
	}
}
.allow-1h61-Z {
	color: var(--online);
	&.selected-3jieYB {
		background-color: var(--online);
	}
}
.item-4m-12I {
	cursor: pointer;
}

// The uhh the uhh i forgor 💀
// Game Activity
.addGamePopout-3yePJc {
	@include card(4);
}
