.botTagRegular-kpctgU,
.role-2TIOKu,
.role-23oyrw,
.akaBadge-3i7V3p {
	background: var(--chip);
	color: var(--chip-text);
	border: none;
	z-index: 1;
}
.px-MnE_OR.botTag-7aX5WZ,
.role-2TIOKu,
.role-23oyrw,
.botTagRegular-kpctgU,
.akaBadge-3i7V3p
{
	height: var(--chip-height);
	line-height: var(--chip-height);
	border-radius: calc(var(--chip-height) * 0.5);
	padding: 0 calc(var(--chip-height) * 0.5);

	.nameAndDecorators-3ERwy2 & {
		height: .9375rem;
		line-height: .9375rem;
		border-radius: .46875rem;
		padding: 0 .46875rem;
	}
}
.rem-3kT9wc.botTag-7aX5WZ {
	height: .9375rem;
	line-height: .9375rem;
	border-radius: .46875rem;
	padding: 0 .46875rem;

	// only if we are in a header
	.cozy-VmLDNB .headerText-2z4IhQ & {
		height: var(--chip-height);
		line-height: var(--chip-height);
		border-radius: calc(var(--chip-height) * 0.5);
		padding: 0 calc(var(--chip-height) * 0.5);
	}
}
.cozy-VmLDNB .username-h_Y3Us:not(:only-child) {
	height: var(--chip-height);
	display: inline-block;
    line-height: var(--chip-height);
}
.roleColor-3cA0as,
.roleCircle-1EgnFN {
	overflow: visible;
	width: var(--chip-height);
	height: var(--chip-height);
	margin-left: calc(var(--chip-height) * -0.5);;
}
.roleRemoveIcon-387wKV
{
	width: var(--chip-height);
	height: var(--chip-height);
	display: block;
	opacity: 0;
	cursor: pointer;

	transition: opacity 140ms ease-in-out;

	path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"]
	{
		d: path("M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z");
		fill: rgba(0,0,0,.87);
	}
}
.roleRemoveIcon-387wKV:hover {
	opacity: 1;
}
.theme-light .actionButton-1YKTU0,
.theme-dark .actionButton-1YKTU0 {
	padding: 0;
}
.role-1adzi2:hover {
	background: var(--chip);
}
.addButton-1_dZYu {
	background-color: transparent;
	color: var(--chip);
	&:hover {
		color: var(--chip-active);
	}
}
// fucking bd classes
.badgesChat-f_cbR8 {
	top: -4px;
}

.message-2CShn3 .ownerIcon-255uKo.icon-1dGlZy {
	top: -5px;
}
