.sidebar-1tnWFu .container-1NXEtd {
	background-color: var(--navdrawer-color);
}
.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: var(--navdrawer-hover);
}
.clickable-28SzVr:active .layout-1qmrhw,
.selected-1-Z6gm .layout-1qmrhw {
    //background-color: var(--navdrawer-active);
    background-color: var(--accent-selected-highlight);
	color: var(--accent);
}
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    //background-color: var(--navdrawer-active);
    background-color: var(--accent-selected-highlight);
	& .actionIcon-2sw4Sl {
		color: var(--accent);
	}
}
.wrapper-NhbLHG:hover .icon-2W8DHg {
	color: var(--interactive-hover);
}
.scroller-WSmht3 .container-36u7Lw:not(:first-child)::before,
.scroller-1ox3I2 .containerDefault-3TQ5YN:not(:nth-child(2))::before {
	content: '';
	height: 1px;
	width: 100%;
	background-color: var(--navdrawer-separator);
	position: absolute;
    margin-top: -8px;
	left: 0;
}
.content-1gYQeQ,
.channel-1Shao0, .layout-1qmrhw {
	margin-left: 0;
	border-radius: 0;
}
.content-1gYQeQ, .layout-1qmrhw {
	padding-left: 16px;
}
.container-36u7Lw, .wrapper-1S43wv {
	color: var(--title-color);
}
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg {
	color: var(--accent);
}
.icon-2W8DHg {
	color: var(--channels-default);
}
.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
	color: var(--list-color);
}
// Yeet spacing between dms to mimic the material list control better
.container-1oeRFJ, .wrapper-NhbLHG {
	padding: 0;
}
.layout-1qmrhw {
	height: 44px;
}
.content-1gYQeQ {
	padding-top: 1px;
	padding-bottom: 1px;
}
.listRow-hutiT_ {
	margin: 0;
	padding: 5px 8px 5px 16px;
}
.listRow-hutiT_, .container-1oeRFJ {
	border-radius: 0;
}
// IDK
//.name-28HaxV,.icon-2W8DHg {
//	color: var(--list-color);
//}
