.radioIconForeground-2BMavi {
	color: transparent;
}
div[role="radiogroup"]
{
	& .item-2idW98[aria-checked=true] {
		& .radioBar-3w9XY- > div:first-child {
			position: relative;
			&::after {
				transform: scale(1);
			}
		}
		& .radioBar-3w9XY- svg {
			color: var(--accent);
		}
	}
	& .item-2idW98 {

		margin-bottom: 0;
		position: relative;

		& .radioBar-3w9XY- > div:first-child {

			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;

			&::after {
				display: inline-block;
				position: absolute;
				content: '';
				left: calc(50% - 5px);
				top: calc(50% - 5px);
				width: 10px;
				height: 10px;
				background-color: var(--accent);
				border-radius: 50%;
				transform: scale(0);
				transition-duration: .28s;
				transition-timing-function: cubic-bezier(.4,0,.2,1);
				transition-property: transform;
				transition-property: transform,-webkit-transform;
			}
		}

		& .radioBar-3w9XY- {
			border-left: none;
			& .title-1yyp9V {
				color: var(--radio-bar-accent-color);
			}
		}
	}
}

.item-2idW98[aria-checked=true], .item-2idW98, .item-2idW98:hover:not([aria-checked=true]) {
	background-color: transparent;
}

.radioBar-3w9XY-[style*="padding: 10px 10px 0 10px;"] {
	padding: 10px 10px 0 10px !important;
}

.colorDefault-CDqZdO[aria-checked="true"] {
	& .icon-E4cW1l {
		color: var(--accent);
	}
	&.focused-3qFvc8 {
		& .icon-E4cW1l {
			color: var(--accent-text);
		}
	}
}
