.unread-2wipsx {
	background-color: var(--snackbar-bg);
	opacity: 1;
	box-shadow: var(--snackbar-shadow);
	border-radius: var(--snackbar-radius);
}
.bar-2eAyLE, .container-1qIct8 {
	height: var(--snackbar-height);
}
