.tabBarContainer-1s1u-z {
	border-top: none;
}
.tabBarItem-1b8RUP[aria-selected="false"][style*="color: rgba(255, 255, 255, 0."] {
	color: #cacaca !important;
}


.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG:hover,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
	border-color: var(--accent);
}
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
	border-color: var(--accent-highlight);
}
