// Unread badges

// fix the badge color using ping color for unread msgs
.ucbadge.numberBadge-37OJ3S {
	background-color: var(--accent) !important;
	margin-left: 6px;
}

// Shiki Codeblocks

// disable selection
.vpc-shiki-lang,
.vpc-shiki-btns {
	user-select: none;
}

// Sessions breaks on light mode
.theme-dark,
.theme-light {
	& .activityProfile-1712BN,
	& .activityUserPopout-2MzGCj {
		& .content-tXPNDw,
		& .details-2-ciHo,
		& .headerText-3g1XK9,
		& .name-1-Q7l2 {
			color: var(--text-normal);
		}
	}
}
.sessionCard-activity {
	@include card(6);
}
.sessionCard-title .textBadge-1fdDPJ[style^="background-color: hsl(139, "] {
	background-color: var(--online) !important;
}
