// General QOL things that just make Discord a little more pleasant to use
// Fix dragging by disabling it :omegalul:
a {
	-webkit-user-drag: none;
	user-drag: none;
}
// Disable selection of dates in messages
.timestamp-p1Df1m {
	user-select: none;
}


// IMPORTS
@import '../material/ripple';
@import '../material/card';
@import '../../config';

// Modal background blur
.backdrop-2ByYRN, .backdropWithLayer-3_uhz4 {
	&[style*="opacity: 0.85; background: hsl(0,"] {
		background: hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.85) !important;
		opacity: 1 !important;
	}
	@if $animations {
		transition: opacity 0.1s ease-in-out;
	}
}

// Settings ripple
.item-3XjbnG {
	@include ripple;
}

// DMS List ripple
.channel-1Shao0 {
	@include ripple;
}

// Server channels / vc ripple
.content-1gYQeQ {
	@include ripple;
}

// User list ripple
.container-1oeRFJ {
	@include ripple;
}

// Mutual Friends / Servers ripple
.listRow-hutiT_ {
	@include rippleimg(var(--ripple-default), 100%, 48px, false);
}

// Quickswitcher Ripple
.resultFocused-3aIoYe {
	@include rippleimg;
}

// Apply accent color everywhere
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub, .notice-12Koq- {
	background-color: var(--accent);
	color: var(--accent-text);
}
.foreground-2JnqVD {
	stroke: var(--accent);
}
.colorBrand-3cPPsm,
.colorBrand-21Le_q,
.operations-3q3u6E>a {
	color: var(--accent);
}
.avatarUploaderInner-yEhTv5,
.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover,
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb,
.navButtonActive-1EqC5l {
	background-color: var(--accent);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
	background-color: var(--accent-selected-highlight);
}

.mention-3XBnnZ {
	opacity: 1;
}

.connectedAccount-36nQx7 {
	border-color: transparent;
	@include card(2, transparent);
}
.folder-1hbNCn, .folderIconWrapper-1_bOZe svg {
	color: var(--accent) !important;
}
.progressBar-1T6LYX.small-1bZsRQ.animating-2CraY5 {
	background-color: var(--accent) !important;
}
.lookLink-9FtZy-.colorBrand-3pXr91 {//}, .selected-1-Z6gm.container-1oeRFJ, .modeSelected-3DmyhH .name-28HaxV {
	color: var(--accent);
}

// Fix ripple being scuffed
.container-1oeRFJ {
    position: relative;
}

.theme-dark .categoryFadeBlurple-1HuV1x,.theme-light .categoryFadeBlurple-1HuV1x {
    background-color: var(--accent);
	opacity: 0.8;
}
.theme-dark .categoryFadeBlurple-1HuV1x:hover,.theme-light .categoryFadeBlurple-1HuV1x:hover {
    background-color: var(--accent);
	opacity: 0.95;
}
.theme-light .focused-q9B2e4:after, .theme-light .result-3OpoO7:hover:after {
	-webkit-box-shadow: inset 0 0 0 2px var(--accent), inset 0 0 0 3px #dcddde;
	box-shadow: inset 0 0 0 2px var(--accent), inset 0 0 0 3px #dcddde;
}

//.channelName-3KPsGw,
.subtitle-3PyFgf,
.name-3Vmqxm {
	font-weight: 400;
	//color: var(--list-color);
	.modeMuted-2T4MDZ & {
		color: var(--interactive-muted);
	}
	.modeUnread-3Cxepe & {
		color: var(--interactive-muted);
	}
}
.wrapper-NhbLHG.modeSelected-3DmyhH .channelName-3KPsGw,
.wrapper-NhbLHG.modeSelected-3DmyhH .subtitle-3PyFgf,
.selected-1-Z6gm.container-1oeRFJ .name-3Vmqxm {
	font-weight: var(--header-weight);
}
.wrapper-NhbLHG.modeSelected-3DmyhH .channelName-3KPsGw,
.wrapper-NhbLHG.modeSelected-3DmyhH .subtitle-3PyFgf,
// .selected-1-Z6gm.container-1oeRFJ .name-3Vmqxm,
{
	color: var(--accent);
}
// Server Avatar
.baseAvatar-3Nvk7n,
// Boosts selection text
.tierTitle-y7BLPl,
.tierRequirements-dGesMA,
.tierUnlocked-25K6Kv,
.textBadge-1fdDPJ  {
	user-select: none;
}
// BETA
.betaTag-3mHD-Y[style*="background-color: hsl(227,"] {
	background-color: var(--accent) !important;
}
// VC Debug
.valueIcon-16gHtO {
	margin-right: 6px;
}

// Pixelcord Settings Injection
.info-1sUqUG:last-child {
	position: relative;
	&::after {
		content: $version;
		font-size: 12px;
		line-height: 16px;
		color: var(--text-muted);
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		width: calc(100% - 20px);
		position: absolute;
		bottom: -44px;
		left: 10px;
	}
	&::before {
		content: "";
		position: absolute;
		width: calc(100% - 20px);
		margin: 8px 10px;
		height: 1px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-color: var(--background-modifier-accent);
		bottom: -19px;
		left: 0;
	}
}
.side-2ur1Qk::after {
	content: "";
	width: 100%;
	height: 24px;
}

.isUnread-3Lojb- .content-3spvdd {
	color: var(--danger);
}
.ownerIcon-255uKo {
    color: var(--idle);
}

// Unread badge (channels)
.numberBadge-37OJ3S[style*="background-color: hsl(359"],
.status-1ZXjSF {
	color: white !important;
    background-color: var(--danger) !important;
}

.statusOffline-2R-ArP {
	background-color: var(--offline);
}

::spelling-error {
    text-decoration: wavy var(--danger);
}

// Stream badge
.iconBadge-3qSJIw {
    background-color: var(--offline);
    &.participating-1NvRVd {
    	background-color: var(--online);
    }
}

// Update icon
.updateIconForeground-2V_zo4 {
    fill: var(--online);
}

// other stuff that needs desaturated color
.circleIconButton-1QV--U.selected-1JjBPm,
.statusOnline-Iw3r2o {
	background-color: var(--online);
}
.base-3IDx3L {
    &[style*="background-color: hsl(359, "] {
        background-color: var(--danger) !important;
    }
}
.roleFlare-TnQbP8[style*="background-color: hsl(139, "] {
    background-color: var(--online) !important;
}

// why is light mode broken
.theme-light {
    & .bannerVisible-Vkyg1I .header-3OsQeK {
        color: white;
    }
}
