@import "../material/card";
@import "../../config";

$modal-height: 8;

// Emoji popout
.popoutContainer-2wbmiM,
.emojiSection-3QtaWO {
	@include card($modal-height);
}

// Upload modal
.uploadModal-2ie9O_, .root-g14mjS {
	@include card(2);
}
.uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_, .footer-31IekZ {
	@include card($modal-height);
}

// Generic Modal
.root-g14mjS,
.quickswitcher-pKcM9U {
	@include card($modal-height);
}
// Screenshare cards
.selectorButton-3sW6Qm,
.card-1SdQ2- {
	@include card(2);
}
.selectorButtonSelected-3Z0WNU {
	.theme-light &,
	.theme-dark & {
		background-color: var(--accent);
		color: var(--accent-text);
	}
}
.scroller-2qwVWY {
	background-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
	background-color: var(--danger);
}

// Status thing has the emoji button under the textbox, use z-index hacks to fix it!!!
.emojiButtonContainer-1cdx-p {
	z-index: 1;
	& .button-38aScr {
		overflow: visible;
	}
}

// Modal insert animation
@if $animations {
	.modal-3Crloo {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
	}
	.menu-1QACrS {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
		transform-origin: center;
		
		&#message-actions {
			transform-origin: top right;
		}
		&#channel-attach {
			transform-origin: bottom left;
		}
		&#friend-row {
			transform-origin: center left;
		}
		&#guild-settings-role-context,
		&#user-profile-actions {
			transform-origin: top left;
		}
		&#guild-header-popout {
			transform-origin: top center;
		}
	}
	.layer-2aCOJ3 .popoutWrapper-3ks_kl[role=dialog] {
		transform-origin: bottom left;
	}
	.layer-2aCOJ3 .userPopout-2j1gM4[role=dialog] {
		transform-origin: center;
	}
	.layer-2aCOJ3 .container-2O1UgZ[role=dialog] {
		transform-origin: top center;
	}
}
.uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_ {
	overflow-y: hidden;
}

// Open link in browser disable word wrap
.downloadLink-1OAglv {
	width: 128px;
}

// Context menus dont layer properly because its too hard to add proper z-indexing
.layerContainer-2v_Sit .layer-2aCOJ3 {
	& .layer-2aCOJ3 {
		z-index: 1003;
		& .layer-2aCOJ3 {
			z-index: 1004;
			& .layer-2aCOJ3 {
				z-index: 1005;
				& .layer-2aCOJ3 {
					z-index: 1006;
					& .layer-2aCOJ3 {
						z-index: 1007;
						& .layer-2aCOJ3 {
							z-index: 1008;
							& .layer-2aCOJ3 {
								z-index: 1009;
								& .layer-2aCOJ3 {
									z-index: 1010;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Error thing
.messagesErrorBar-1IQ1rH {
	background-color: var(--danger);
	border-radius: var(--snackbar-radius);
	height: var(--snackbar-height);
}

// Transactions have a funny non skinned
.table-17_dGF {
	@include card(4);
}

// Invite server modal is cucked on dark mode
.theme-dark .theme-light {
	& .root-g14mjS {
		& .base-21yXnu {
			color: white;
		}
		& .colorStandard-21JIj7 {
			color: #dcddde;
		}
		& .colorHeaderSecondary-g5teka {
			color: #b9bbbe;
		}
		& .close-1mLglB {
			color: #dcddde;
			&::hover {
				color: #b9bbbe;
			}
		}
	}

	// TODO: Get the hover shit to work im not bothered atm
	& .container-x8Y1ix {
		& .arrow-2yY1Tm {
			// right arrow
			box-sizing: border-box;
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z'/%3E%3C/svg%3E");
			-webkit-mask-size: 38px 38px;
			width: 38px;
			height: 38px;
			padding-left: 38px;
			background-color: #dcddde;
		}
		&::hover .arrow-2yY1Tm {
			//background-color: #b9bbbe;
			background-color: red;
		}
	}
}

// Emoji popout funny animations
.layerContainer-2v_Sit .layer-2aCOJ3 {
	transition: top		100ms ease-in-out,
				bottom	100ms ease-in-out,
				left	100ms ease-in-out,
				right	100ms ease-in-out;
}
.popoutContainer-2wbmiM {
	transition: width	150ms ease-in-out,
				height	150ms ease-in-out;
}

// Invite dots
.dotMembers-71yF9W {
    background-color: var(--offline);
}
.dotOnline-r4Z_bf {
    background-color: var(--online);
}

// Delete message message preview is a different card class ffs
.message-G6O-Wv {
	@include card(2);
}
.inviteRow-3vmB7i {
	@include card($modal-height);
	transition: background-color	150ms ease-in-out,
				box-shadow			150ms ease-in-out,;
	&:hover {
		@include card(4);
	}
	.theme-light &:not(:hover) {
		box-shadow: none;
		background-color: transparent;
	}
}

// @everyone modal
.contentWarningPopout-WKdbDG {
	@include card(6);
}

// separator
.separator-1So4YB {
	border-color: var(--separator);
}
