@import '../../material/card';

.emptyCard-KDifrB,
.wrapper-2RrXDg,
.nowPlayingColumn-1eCBCN .outer-2JOHae {
	@include card(4);
	transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	margin-bottom: 16px;
}

.section-3G9aLW {
	@include card(2);
}

.outer-2JOHae.active-1W_Gl9,
.outer-2JOHae.interactive-2zD88a:hover {
	.theme-light &,
	.theme-dark  & {
		@include card(8);
	}
}

.body-16rSsp .separator-2OaeRP,
.body-16rSsp .separator-2OaeRP {
	.theme-light &,
	.theme-dark  & {
		background-color: transparent;
		height: var(--card-padding);
	}
}
.inset-SbsSFp {
	.theme-light &,
	.theme-dark  & {
		background-color: transparent;
	}
}

// hover things
.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
	@include card(3);
}

.actionButton-3-B2x-.highlight-3DSi7b,
.peopleListItem-u6dGxF.active-2UF8Zh .actionButton-3-B2x-,
.peopleListItem-u6dGxF:hover .actionButton-3-B2x- {
	@include card(8);
}
// Accept fr
.actionButton-3-B2x-.actionAccept-2nmnLv:hover {
	color: var(--online);
}
.text-27cdrj,
.title-2CL_z0 {
	.theme-dark &,
	.theme-light & {
		color: var(--text-muted);
	}
}
