@import "../../material/card";
@import "../../../config";

$popout-height: 8;
$header-height: 2;
$msg-height: 4;

.layer-2aCOJ3 div[role=dialog] {
	@if $animations {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
		transform-origin: top right;
		& .messagesPopoutWrap-3zryHW {
			animation: none;
		}
	}
}
.messages-23can0,
.messageContainer-3VTXBC {
	@include card($msg-height);
	@if $animations {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
		transform-origin: top center;
	}
}
.channelHeader-DFRX8q {
	padding: 12px 9px 12px 32px;
	margin: 0 -9px 0 -16px;
	& .collapseButton-39-IRc {
		left: 3px;
		@if $animations {
			transition: transform 0.2s ease;
		}
	}
}
.channelHeader-DFRX8q,
.container-2ebMPP {
	.theme-light & {
		background-color: cardbg($popout-height, false);
	}
	.theme-dark & {
		background-color: cardbg($popout-height, true);
	}
}
.tutorial-Nb3Zz5 {
	@include card(4);
}
