@import "../../material/card";

.container-2RRFHK {
	.theme-light & {
		background-color: cardbg(0, false);
	}
	.theme-dark & {
		background-color: cardbg(0, true);
	}
}
.tipTitle-3FYEQp {
	font-weight: var(--section-weight);
	font-size: 14px;
	color: var(--header-color);
}
