.rtcConnectionStatusConnected-1c73OK, .rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc, .circleIconButton-1QV--U,
.colorStatusGreen-2HKYOW {
    color: var(--online);
}
.iconLive-nQxzyp {
    color: var(--online) !important;
}
.colorStreamerMode-8uoRWd {
    background-color: var(--stream);
}x

// Make the speaking border change to accent color
$speaking-val: var(--accent);

.speaking-3K28iH,
.avatarSpeaking-33RRJU,
.avatarSpeaking-2pCGrZ {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
}
.border-2BJQjd.speaking-3RWJBr {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
}
.border-2Vy6FN.speaking-7QZEkv {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
}
.prioritySpeaking-30Bobo,
.iconPriortySpeakerSpeaking-3VY2Fk,
.userSettingsVoice-1_dzjw .sliderBar-2T41Pw.speaking-NGQNT9 {
    background-color: $speaking-val;
}
