@import "../../config";

// Goosemod specific patches
// Fixes bugs with some plugins, and adds support for Goosemod

// Fix overflow bug in themes store
.gm-store-category > :nth-child(2) {
	overflow-y: hidden;
}
// Store
#gm-settings-inject {
	.theme-light & {
		background-color: cardbg(0, false) !important;
	}
	.theme-dark & {
		background-color: cardbg(0, true) !important;
	}
	& .gm-store-card > :nth-child(1) {
		background-color: transparent
	}
}
.gm-store-card .title-31JmR4:nth-child(2) {
	color: rgb(235, 235, 235);
}

.gm-store-card {
	@include card(4);
}

// Home: animation collapse
// Ideally goosemod would shove both the home and store pages into a div for easier styling but that isnt how goosemod works, so we make due with what we got and :pain:
#gm-home-plugins,
#gm-home-themes {
	&[style*="display: block;"],
	&[style*="display: none;"] {
		display: block !important;
		opacity: 1;
		height: 44px;
		@if $animations {
			transition: opacity 0.25s ease-in-out, height 150ms ease-in-out;
		}
	}
	&[style*="display: none;"] {
		height: 0;
		opacity: 0;
	}
}
.h5-18_1nd[id*=gm-settings-header] {
	cursor: pointer;
}

@if $animations {
	.privateChannelsHeaderContainer-3NB1K1 {
		& .privateChannelRecipientsInviteButtonIcon-3A3uTc {
			transition: transform 150ms ease-in,
						left 150ms ease-in,
						top 150ms ease-in;
		}
	}
	@if $animations {
		.vertical-V37hAW,
		.container-2_Tvc_ {
			&[style*="display: block;"],
			&[style=""],
			&[style*="display: none;"] {
				display: block !important;
				opacity: 1;
				height: auto;
				max-height: 100000px;
				@if $animations {
					transition: 150ms ease-in-out;
				}
			}
			&[style*="display: none;"] {
				height: 0;
				opacity: 0;
				margin-bottom: 0;
			}
		}
	}
}