@import 'misc_pages/import';
@import 'settings/import';
@import 'misc';
@import 'status';
@import 'modals';
@import 'skin';
@import 'mentions';
@import 'reactions';
@import 'fonts';

@import '../../config';

@if $animations {
	@keyframes pixelcord-spawn-anim {
		from {
			transform: scale(0);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
}