@import "../material/card";
@import "../../config";

// Powercord toasts
.powercord-toast {
	@include card(8);
}
.powercord-toast .header {
	@include card(2, $background: false);
}
.powercord-toast .contents .inner {
	@include card(1, $background: false);
}

// Emoji popout
.popoutContainer-1MXdqN,
.emojiSection-3Fb9ix {
	@include card(8);
}

// Upload modal
.uploadModal-2ifh8j, .root-1gCeng {
	@include card(2);
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC, .footer-2gL1pp {
	@include card(8);
}

// Generic Modal
.root-1gCeng,
.quickswitcher-3JagVE {
	@include card(8);
}
.scroller-zPkAnE {
	background-color: transparent;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 {
	background-color: var(--danger);
}

// Status thing has the emoji button under the textbox, use z-index hacks to fix it!!!
.emojiButtonContainer-3d6DFV {
	z-index: 1;
	& .button-38aScr {
		overflow: visible;
	}
}

// Modal insert animation
@if $animations {
	.modal-3c3bKg {
		animation: spawn-anim 0.2s ease-in-out;
	}
	.menu-3sdvDG {
		animation: spawn-anim 0.2s ease-in-out;
		transform-origin: center;
		
		&#message-actions {
			transform-origin: top right;
		}
		&#channel-attach {
			transform-origin: bottom left;
		}
		&#friend-row {
			transform-origin: center left;
		}
		&#guild-settings-role-context,
		&#user-profile-actions {
			transform-origin: top left;
		}
		&#guild-header-popout {
			transform-origin: top center;
		}
	}
	.layer-v9HyYc .popoutWrapper-3TSaaB[role=dialog] {
		transform-origin: bottom left;
	}
	.layer-v9HyYc .userPopout-xaxa6l[role=dialog] {
		transform-origin: center;
	}
	.layer-v9HyYc .container-3XJ8ns[role=dialog] {
		transform-origin: top center;
	}
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
	overflow-y: hidden;
}

// Open link in browser disable word wrap
.downloadLink-1ywL9o {
	width: 128px;
}

// Context menus dont layer properly because its too hard to add proper z-indexing
.layerContainer-yqaFcK .layer-v9HyYc {
	& .layer-v9HyYc {
		z-index: 1003;
		& .layer-v9HyYc {
			z-index: 1004;
			& .layer-v9HyYc {
				z-index: 1005;
				& .layer-v9HyYc {
					z-index: 1006;
					& .layer-v9HyYc {
						z-index: 1007;
						& .layer-v9HyYc {
							z-index: 1008;
							& .layer-v9HyYc {
								z-index: 1009;
								& .layer-v9HyYc {
									z-index: 1010;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Error thing
.messagesErrorBar-nyJGU7 {
	background-color: var(--danger);
	border-radius: var(--snackbar-radius);
	height: var(--snackbar-height);
}

// Transactions have a funny non skinned
.table-39R0Oe {
	@include card(4);
}

// Invite server modal is cucked on dark mode
.theme-dark .theme-light {
	& .root-1gCeng {
		& .base-1x0h_U {
			color: white;
		}
		& .colorStandard-2KCXvj {
			color: #dcddde;
		}
		& .colorHeaderSecondary-3Sp3Ft {
			color: #b9bbbe;
		}
		& .close-hZ94c6 {
			color: #dcddde;
			&::hover {
				color: #b9bbbe;
			}
		}
	}

	// TODO: Get the hover shit to work im not bothered atm
	& .container-UC8Ug1 {
		& .arrow-hynWUl {
			// right arrow
			box-sizing: border-box;
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z'/%3E%3C/svg%3E");
			-webkit-mask-size: 38px 38px;
			width: 38px;
			height: 38px;
			padding-left: 38px;
			background-color: #dcddde;
		}
		&::hover .arrow-hynWUl {
			//background-color: #b9bbbe;
			background-color: red;
		}
	}
}

// Emoji popout funny animations
.layerContainer-yqaFcK .layer-v9HyYc {
	transition: top		100ms ease-in-out,
				bottom	100ms ease-in-out,
				left	100ms ease-in-out,
				right	100ms ease-in-out;
}
.popoutContainer-1MXdqN {
	transition: width	150ms ease-in-out,
				height	150ms ease-in-out;
}

// Invite dots
.dotMembers-1XEUE5 {
    background-color: var(--offline);
}
.dotOnline-2wEpt_ {
    background-color: var(--online);
}
