// Status on users
.bsi-clientStatuses svg path,
.bsi-statusIcon path,
.status-1XNdyw rect,
.wrapper-3t9DeA rect
{
    &[fill*="hsl(139, "] {
        stroke: var(--online);
        fill: var(--online);
    }
    &[fill*="hsl(38, "] {
        stroke: var(--idle);
        fill: var(--idle);
    }
    &[fill*="hsl(359, "] {
        stroke: var(--danger);
        fill: var(--danger);
    }
    &[fill*="hsl(262, "] {
        stroke: var(--stream);
        fill: var(--stream);
    }
    &[fill*="hsl(214, "] {
        stroke: var(--offline);
        fill: var(--offline);
    }
}

.status-1AY8sU {
    &[style*="background-color: hsl(139, "] {
        background-color: var(--online) !important;
    }
    &[style*="background-color: hsl(38, "] {
        background-color: var(--idle) !important;
    }
    &[style*="background-color: hsl(359, "] {
        background-color: var(--danger) !important;
    }
    &[style*="background-color: hsl(214, "] {
        background-color: var(--offline) !important;
    }
}

.theme-light {
    & .dots-3Bkt3k {
        color: white;
    }
}