// Status on users
.bsi-clientStatuses svg path,
.bsi-statusIcon path,
.status-12NUUC rect,
.wrapper-1VLyxH rect
{
    &[fill*="hsl(139, "] {
        stroke: var(--online);
        fill: var(--online);
    }
    &[fill*="hsl(38, "] {
        stroke: var(--idle);
        fill: var(--idle);
    }
    &[fill*="hsl(359, "] {
        stroke: var(--danger);
        fill: var(--danger);
    }
    &[fill*="hsl(262, "] {
        stroke: var(--stream);
        fill: var(--stream);
    }
    &[fill*="hsl(214, "] {
        stroke: var(--offline);
        fill: var(--offline);
    }
}

.status-2DiCMd {
    &[style*="background-color: hsl(139, "] {
        background-color: var(--online) !important;
    }
    &[style*="background-color: hsl(38, "] {
        background-color: var(--idle) !important;
    }
    &[style*="background-color: hsl(359, "] {
        background-color: var(--danger) !important;
    }
    &[style*="background-color: hsl(214, "] {
        background-color: var(--offline) !important;
    }
}

.doesNot-36YbF_, .iconServer-GeSR0b, .strikethrough-2G7pYT {
    color: var(--danger);
}

.theme-light {
    & .dots-1BwzZQ:not(.themed-3T-OPr) {
        color: white;
    }
}

.checklistIcon-6Kez2J path[fill^="hsl(359, "] {
    fill: var(--danger);
}
