rect[mask="url(#svg-mask-status-dnd)"],
.status-1XNdyw rect[fill="rgba(240, 71, 71, 1)"],
.status-1XNdyw rect[fill="rgba(237, 66, 69, 1)"],
.status-1XNdyw rect[fill*="hsl(359, "],
.wrapper-3t9DeA[data-bsi-status=dnd] rect[mask*=mobile],
.wrapper-3t9DeA[data-bsi-status=dnd] rect[mask*=desktop],
.wrapper-3t9DeA[data-bsi-status=dnd] rect[mask*=web],
rect[mask="url(#svg-mask-status-typing)"][fill="#f04747"],
rect[mask="url(#svg-mask-status-typing)"][fill="#ed4245"],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(359, "],
rect[mask*=mobile][fill*="hsl(359, "],
rect[mask*=desktop][fill*="hsl(359, "],
rect[mask*=web][fill*="hsl(359, "],
path[fill="#f04747"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
path[fill="#ed4245"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
{
    stroke: var(--danger);
    fill: var(--danger);
}
rect[mask="url(#svg-mask-status-online)"],
.status-1XNdyw rect[fill="rgba(67, 181, 129, 1)"],
.status-1XNdyw rect[fill="rgba(59, 165, 92, 1)"],
.status-1XNdyw rect[fill*="hsl(139, "],
.wrapper-3t9DeA[data-bsi-status=online] rect[mask*=mobile],
.wrapper-3t9DeA[data-bsi-status=online] rect[mask*=desktop],
.wrapper-3t9DeA[data-bsi-status=online] rect[mask*=web],
rect[mask="url(#svg-mask-status-typing)"][fill="#43b581"],
rect[mask="url(#svg-mask-status-typing)"][fill="#3ba55c"],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(139, "],
rect[mask*=mobile][fill*="hsl(139, "],
rect[mask*=desktop][fill*="hsl(139, "],
rect[mask*=web][fill*="hsl(139, "],
path[fill="#43b581"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"],
path[fill="#3ba55c"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"],
{
    stroke: var(--online);
    fill: var(--online);
}
rect[mask="url(#svg-mask-status-idle)"],
.status-1XNdyw rect[fill="rgba(250, 166, 26, 1)"],
.status-1XNdyw rect[fill*="hsl(38, "],
.wrapper-3t9DeA[data-bsi-status=idle] rect[mask*=mobile],
.wrapper-3t9DeA[data-bsi-status=idle] rect[mask*=desktop],
.wrapper-3t9DeA[data-bsi-status=idle] rect[mask*=web],
rect[mask="url(#svg-mask-status-typing)"][fill="#faa61a"],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(38, "],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(37, "],
rect[mask*=mobile][fill*="hsl(38, "],
rect[mask*=desktop][fill*="hsl(38, "],
rect[mask*=web][fill*="hsl(38, "],
rect[mask*=mobile][fill*="hsl(37, "],
rect[mask*=desktop][fill*="hsl(37, "],
rect[mask*=web][fill*="hsl(37, "],
path[fill="#faa61a"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
{
    stroke: var(--idle);
    fill: var(--idle);
}
rect[mask="url(#svg-mask-status-streaming)"],
.status-1XNdyw rect[fill="rgba(100, 61, 167, 1)"],
.status-1XNdyw rect[fill="rgba(89, 54, 149, 1)"],
.status-1XNdyw rect[fill*="hsl(262, "],
.wrapper-3t9DeA rect[mask*=mobile][fill*="hsl(262,"],
.wrapper-3t9DeA rect[mask*=desktop][fill*="hsl(262,"],
.wrapper-3t9DeA rect[mask*=web][fill*="hsl(262,"],
rect[mask="url(#svg-mask-status-typing)"][fill="#643da7"],
rect[mask="url(#svg-mask-status-typing)"][fill="#593695"],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(262, "],
rect[mask*=mobile][fill*="hsl(262, "],
rect[mask*=desktop][fill*="hsl(262, "],
rect[mask*=web][fill*="hsl(262, "],
path[fill="#643da7"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
path[fill="#593695"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
{
    stroke: var(--stream);
    fill: var(--stream);
}
rect[mask="url(#svg-mask-status-offline)"],
.status-1XNdyw rect[fill="rgba(99, 107, 117, 1)"],
.status-1XNdyw rect[fill="rgba(116, 127, 141, 1)"],
.status-1XNdyw rect[fill*="hsl(214, "],
rect[mask="url(#svg-mask-status-typing)"][fill="#636b75"],
rect[mask="url(#svg-mask-status-typing)"][fill="#747f8d"],
rect[mask="url(#svg-mask-status-typing)"][fill*="hsl(214, "],
rect[mask*=mobile][fill*="hsl(214, "],
rect[mask*=desktop][fill*="hsl(214, "],
rect[mask*=web][fill*="hsl(214, "],
path[fill="#636b75"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
path[fill="#747f8d"][d="M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z"]
{
    stroke: var(--offline);
    fill: var(--offline);
}
.colorStreamerMode-2SJAUN {
    background-color: var(--stream);
}
.roleFlare-TnQbP8[style*="background-color: rgb(105, 196, 154);"],
.roleFlare-TnQbP8[style*="background-color: hsl(139, "] {
    background-color: var(--online) !important;
}

.status-1AY8sU {
    &[style*="background-color: rgb(67, 181, 129);"],
    &[style*="background-color: rgb(59, 165, 92);"],
    &[style*="background-color: hsl(139, "] {
        background-color: var(--online) !important;
    }
    &[style*="background-color: rgb(250, 166, 26);"],
    &[style*="background-color: hsl(38, "],
    &[style*="background-color: hsl(37, "] {
        background-color: var(--idle) !important;
    }
    &[style*="background-color: rgb(240, 71, 71);"],
    &[style*="background-color: rgb(237, 66, 69);"],
    &[style*="background-color: hsl(359, "] {
        background-color: var(--danger) !important;
    }
    &[style*="background-color: rgb(116, 127, 141);"],
    &[style*="background-color: hsl(214, "] {
        background-color: var(--offline) !important;
    }
}

.base-PmTxvP {
    &[style*="background-color: rgb(240, 71, 71);"],
    &[style*="background-color: rgb(237, 66, 69);"],
    &[style*="background-color: hsl(359, "] {
        background-color: var(--danger) !important;
    }
}
.rtcConnectionStatusConnected-VRZDjy, .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .circleIconButton-1QV--U,
.colorStatusGreen-2saF4_ {
    color: var(--online);
}
.updateIconForeground-3tnNZn {
    fill: var(--online);
}
.iconBadge-3qSJIw.participating-1NvRVd,
.liveIndicator-11vCOL {
    background-color: var(--online);
}
.colorDanger-2qLCe1,
.colorDanger-2qLCe1 .checkbox-3s5GYZ,
.colorDanger-2qLCe1 .radioSelection-1HmrQS,
.isUnread-3Ef-o9 .content-1o0f9g,
.button-1ZiXG9.dangerous-2r8KxV
{
    color: var(--danger);
}

.circleIconButton-1QV--U.selected-1JjBPm,
.statusOnline-8PnF5L,
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--online);
}

.statusOffline-37RKt7 {
	background-color: var(--offline);
}
.iconLive-AtZKgD {
    color: var(--online) !important;
}
::spelling-error {
    text-decoration: wavy var(--danger);
}
#F8settings #desc>strong {
    color: var(--danger) !important;
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#3ba55c"],
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(139, "] {
    --radio-bar-accent-color: var(--online) !important;
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#cb8615"],
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(37, "] {
    --radio-bar-accent-color: var(--idle) !important;
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#ed4245"],
.radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(359, "] {
    --radio-bar-accent-color: var(--danger) !important;
}
.numberBadge-2s8kKX[style*="background-color: hsl(359"],
.status-1WEaea {
    background-color: var(--danger) !important;
}
.powercord-toast[data-toast-type=online] .icon {
    color: var(--online);
}
.powercord-toast[data-toast-type=idle] .icon {
    color: var(--idle);
}
.powercord-toast[data-toast-type=danger] .icon {
    color: var(--danger);
}

// Make the speaking border change to accent color
$speaking-val: var(--accent);

.speaking-3dBKhR,
.avatarSpeaking-2c8-9i,
.avatarSpeaking-2IGMRN {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
}
.border-Jn5IOt.speaking-B2MXPi {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
}
.border-3dQmSY.speaking-WDn8Wm {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
}
.prioritySpeaking-2lsGo-,
.iconPriortySpeakerSpeaking-22tQMF,
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background-color: $speaking-val;
}

.powercord-updater .icon path {
    &[fill="#f04747"] {
        fill: var(--danger);
    }
    &[fill="#7289da"] {
        fill: var(--accent);
    }
    &[fill="#43b581"] {
        fill: var(--online);
    }
}
.powercord-toast[data-toast-type=danger] .icon {
    color: var(--danger) !important;
}
.pruneLink-3V7wes {
    .theme-dark &,
    .theme-light & {
        color: var(--danger);
    }
}
.dotMembers-1XEUE5 {
    background-color: var(--offline);
}
.dotOnline-2wEpt_ {
    background-color: var(--online);
}