@import "../utils";

// Changelog section titles' colors
.added-mQcv9V::after {
	background-color: var(--green);
}

.progress-1DcfFh::after {
	background-color: var(--yellow);
}

.improved-2SJXHz {
	@include theming {
		&::after {
			background-color: var(--accent);
		}
		color: var(--accent);
	}
}

.fixed-cTX7Hp {
	color: var(--red);
	&::after {
		background-color: var(--red);
	}
}

// social links
.socialLink-1qjJIk {
	@include theming {
		color: var(--interactive-normal);
		&:hover {
			color: var(--interactive-hover);
		}
	}
}
