.eventStatusBrand-3D-ae6 + .eventStatusLabel-1og3vG {
    color: var(--text-brand);
}
.liveIndicator-TJKS7N {
    background-color: var(--green);
}
.eventStatusGreen-2-f2N8 {
    color: var(--green);
}
