.eventStatusBrand-1RBas5 + .eventStatusLabel-2H3vs5 {
    color: var(--text-brand);
}
.liveIndicator-1MhhnA {
    background-color: var(--green);
}
.eventStatusGreen-3jNYOT {
    color: var(--green);
}