@import "../utils";

.checkbox-f1HnKB[style$="color: var(--control-brand-foreground);"] {
	@include theming {
		background-color: var(--accent) !important;
		border-color: var(--accent) !important;
		& path {
			fill: var(--accent-text);
		}
	}
}

// Discount
.rowPercentDiscount-2oRqZZ {
	background-color: var(--green);
	color: var(--green-text);
}
// Cancel
html .invoiceCancelRow-3mYhFX {
	color: var(--red);
}
