@import "../material_design/ripple";

.customStatusText-_4TbWr {
	overflow-wrap: break-word;
}

// Mutuals
.guildAvatarWithoutIcon-6EjPQF {
	background-color: var(--accent);
	color: var(--accent-text);
}

// fuck the bottom bar ~~its bloat~~
.noTabBar-2Q-iE_,
.tabBarContainer-sCZC4w {
	border: none;
}

// ripple my beloved
.listRow-2nO1T6 {
	position: relative;
	@include ripple();
}

// buttons
.connectedAccount-1xKpli {
	height:     calc(var(--button-height) - 2 * var(--button-padding));
	border-radius: calc(0.5 * var(--button-height));
	padding:    var(--button-padding)
				calc(var(--button-icon-spacing) + var(--button-padding))
				var(--button-padding)
				calc(var(--button-icon-spacing) + var(--button-padding));
}
