.customStatusText-2opeSw {
	overflow-wrap: break-word;
}

// Mutuals
.guildAvatarWithoutIcon-1s9Pcy {
	background-color: var(--accent);
	color: var(--accent-text);
}

// fuck the bottom bar ~~its bloat~~
.noTabBar-3ZjPNR,
.tabBarContainer-37hZsr {
	border: none;
}