@import "../material_design/ripple";

.customStatusText-2opeSw {
	overflow-wrap: break-word;
}

// Mutuals
.guildAvatarWithoutIcon-1s9Pcy {
	background-color: var(--accent);
	color: var(--accent-text);
}

// fuck the bottom bar ~~its bloat~~
.noTabBar-3ZjPNR,
.tabBarContainer-37hZsr {
	border: none;
}

// ripple my beloved
.listRow-1iDGel {
	position: relative;
	@include ripple();
}

// buttons
.connectedAccount-2Jb-Z0 {
	height:     calc(var(--button-height) - 2 * var(--button-padding));
	border-radius: calc(0.5 * var(--button-height));
	padding:    var(--button-padding)
				calc(var(--button-icon-spacing) + var(--button-padding))
				var(--button-padding)
				calc(var(--button-icon-spacing) + var(--button-padding));
}