.unread-1xRYoj {
	background-color: var(--snackbar-bg);
	opacity: 1;
	box-shadow: var(--snackbar-shadow);
	border-radius: var(--snackbar-radius);
}
.bar-30k2ka, .container-35XQWE {
	height: var(--snackbar-height);
}