@import "../app/material/card";
@import "../config";

$header-height: 6;

.powerclock {
	color: var(--logo-color) !important;
	font-kerning: none;
	letter-spacing: 100%;
}
.powerclock.sticky {
	.theme-light & {
		background-color: cardbg($header-height, false);
		box-shadow: 0 -4px cardbg($header-height, false);
	}
	.theme-dark & {
		background-color: cardbg($header-height, true);
		box-shadow: 0 -4px cardbg($header-height, true);
	}
}

@if $powerclock_in_titlebar {
	.powerclock:not(.sticky){
		position: fixed;
		top: 0;
		left: 50%;
		transform: translate(-50%,5px);
		padding: 0;
		font-size: 1rem;
		z-index: 3001;
		padding: 0;
	}
	.layer-86YKbF:first-child:not(:last-child){
		opacity: var(--opq) !important;
		transform: none !important;
		will-change: unset;
		z-index: 1;
		&[style*="opacity: 0;"] {
			opacity: 0 !important;
		}
	}
	.layer-86YKbF:last-child:not(:first-child){
		will-change: unset;
		z-index: 100;
	}
	.guilds-2JjMmN .scroller-3X7KbA {
		contain: unset;
	}
}
