@import '../material/ripple';
@import '../material/card';

.button-38aScr {
	border-radius: var(--button-radius);
	@include ripple;
	&.lookFilled-1Gx00P {
		&.colorBrand-3pXr91, &.colorBrand-3pXr91:hover {
			color: white;
			background-color: var(--accent);
			@include ripple(var(--accent-highlight));
		}
		&.colorBrand-3pXr91:active {
			background-color: var(--accent);
		}
	}
	@include card(1, $background: false);
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: var(--online);
	transform: scale(1.025);
	@if $animations {
		transition: 200ms transform ease-in-out;
	}
}
// Context menu colors
.colorDefault-2K3EoJ.focused-3afm-j {
	background-color: var(--accent);
	color: var(--accent-text);
}
.colorDanger-2qLCe1.focused-3afm-j {
	background-color: var(--danger);
	color: var(--accent-text);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
	background-color: var(--accent-highlight);
	color: var(--accent-text);
}
.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) {
	background-color: var(--danger-highlight);
	color: var(--accent-text);
}

// Context menu ripple
.labelContainer-1BLJti {
	@include ripple(var(--accent-highlight));
}
.labelContainer-1BLJti.colorDefault-2K3EoJ {
	@include ripple(var(--danger-highlight));
}

.item-2J2GlB {
	@include rippleimg(var(--ripple-default), 100%, 36px, false);
}
.actionButton-VzECiy.addButton-pcyyf6 {
	@include rippleimg(var(--ripple-default), 48px, 48px, false);
}
.autocompleteRowVertical-q1K4ky {
	@include rippleimg(var(--ripple-default), 100%, 32px, false, $top: -32px);
}

// Exclude card shit from special buttons
.lookBlank-3eh9lL, .lookLink-9FtZy- {
	@include nocard;
}

.button-1YfofB.buttonColor-7qQbGO, .button-1YfofB .buttonColor-7qQbGO {
	background-color: var(--accent);
	color: var(--accent-text);
}

.centerButton-3CaNcJ {
	border-radius: 50%;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	border-color: var(--accent);
	color: var(--accent);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
	border-color: var(--danger);
	color: var(--danger);
}
.side-8zPYf6 > .item-PXvHYJ[data-item-id=logout]:not(.role-3wi9Tf)[style*="rgb(237, 66, 69)"] {
	color: var(--danger) !important;
}
.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
	color: white;
}
.colorDanger-2qLCe1,
.colorDanger-2qLCe1 .checkbox-3s5GYZ,
.colorDanger-2qLCe1 .radioSelection-1HmrQS,
.button-1ZiXG9.dangerous-2r8KxV
{
    color: var(--danger);
}
.colorable-1bkp8v.green-plH-Mj,
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--online);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.colorable-1bkp8v.green-plH-Mj.active-1QRrIS,
.colorable-1bkp8v.green-plH-Mj:hover {
	background-color: var(--online-highlight);
}
.pruneLink-3V7wes {
    .theme-dark &,
    .theme-light & {
        color: var(--danger);
    }
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	color: var(--online);
	border-color: var(--online);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
	background-color: var(--online);
	color: white;
}
.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
	color: var(--danger) !important;
}