.botTagRegular-2HEhHi,
.role-2irmRk,
.role-1P70N6,
.akaBadge-1M-1Gw {
	background: var(--chip);
	color: var(--chip-text);
	border: none;
	z-index: 1;
}
.px-10SIf7.botTag-2WPJ74,
.role-2irmRk,
.role-1P70N6,
.botTagRegular-2HEhHi,
.akaBadge-1M-1Gw
{
	height: var(--chip-height);
	line-height: var(--chip-height);
	border-radius: calc(var(--chip-height) * 0.5);
	padding: 0 calc(var(--chip-height) * 0.5);

	.nameAndDecorators-5FJ2dg & {
		height: .9375rem;
		line-height: .9375rem;
		border-radius: .46875rem;
		padding: 0 .46875rem;
	}

	.headerTagNoNickname-3qrd77 & {
		margin-top: 0 !important;
	}
}
.rem-2m9HGf.botTag-2WPJ74 {
	height: .9375rem;
	line-height: .9375rem;
	border-radius: .46875rem;
	padding: 0 .46875rem;

	// only if we are in a header
	.cozy-3raOZG .headerText-3Uvj1Y & {
		height: var(--chip-height);
		line-height: var(--chip-height);
		border-radius: calc(var(--chip-height) * 0.5);
		padding: 0 calc(var(--chip-height) * 0.5);
	}
}
.cozy-3raOZG .username-1A8OIy:not(:only-child) {
	height: var(--chip-height);
	display: inline-block;
    line-height: var(--chip-height);
}
.roleColor-fHISxl,
.roleCircle-3xAZ1j {
	overflow: visible;
	width: var(--chip-height);
	height: var(--chip-height);
	margin-left: calc(var(--chip-height) * -0.5);;
}
.roleRemoveIcon-2-TeGW
{
	width: var(--chip-height);
	height: var(--chip-height);
	display: block;
	opacity: 0;
	cursor: pointer;

	transition: opacity 140ms ease-in-out;

	path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"]
	{
		d: path("M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z");
		fill: rgba(0,0,0,.87);
	}
}
.roleRemoveIcon-2-TeGW:hover {
	opacity: 1;
}
.theme-light .actionButton-VzECiy,
.theme-dark .actionButton-VzECiy {
	padding: 0;
}
.role-3UN8jj:hover {
	background: var(--chip);
}
.addButton-pcyyf6 {
	background-color: transparent;
	color: var(--chip);
	&:hover {
		color: var(--chip-active);
	}
}
// fucking bd classes
.badgesChat-f_cbR8 {
	top: -4px;
}

.message-2qnXI6 .ownerIcon-2NH9FM.icon-1A2_vz {
	top: -5px;
}
.role-2irmRk {
	position: relative;
	@include ripple();
}