.radioIconForeground-XwlXQN {
	color: transparent;
}
div[role="radiogroup"]
{
	& .item-26Dhrx[aria-checked=true]  {
		& .radioBar-bMNUI- > div:first-child {
			position: relative;
			&::after {
				transform: scale(1);
			}
		}
		& .radioBar-bMNUI- svg {
			color: var(--accent);
		}
	}
	& .item-26Dhrx
	{
		margin-bottom: 0;
		position: relative;

		& .radioBar-bMNUI- > div:first-child {
			position: relative;
			&::after {
				display: inline-block;
				position: absolute;
				content: '';
				left: calc(50% - 5px);
				top: calc(50% - 6px);
				width: 10px;
				height: 10px;
				background-color: var(--accent);
				border-radius: 50%;
				transform: scale(0);
				transition-duration: .28s;
				transition-timing-function: cubic-bezier(.4,0,.2,1);
				transition-property: transform;
				transition-property: transform,-webkit-transform;
			}
		}

		& .radioBar-bMNUI- {
			border-left: none;
			& .title-3BE6m5 {
				color: var(--radio-bar-accent-color);
			}
		}
	}
}

.item-26Dhrx[aria-checked=true], .item-26Dhrx, .item-26Dhrx:hover:not([aria-checked=true]) {
	background-color: transparent;
}

.radioBar-bMNUI-[style*="padding: 10px 10px 0 10px;"] {
	padding: 10px 10px 0 10px !important;
}

.colorDefault-2K3EoJ[aria-checked="true"] {
	& .icon-LYJorE {
		color: var(--accent);
	}
	&.focused-3afm-j {
		& .icon-LYJorE {
			color: var(--accent-text);
		}
	}
}