.tabBarContainer-1s1u-z {
	border-top: none;
}
.tabBarItem-1b8RUP[aria-selected="false"][style*="color: rgba(255, 255, 255, 0."] {
	color: #cacaca !important;
}


.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ:hover,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
	border-color: var(--accent);
}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
	border-color: var(--accent-highlight);
}