@import '../../config';

.container-1SX9VC,
.inner-2pOSmK,
.bd-search-wrapper,
.inputWrapper-1YNMmM,
.searchBar-zdmu7v,
.searchBar-1YE5UV,
.searchBar-2M9mRP,
.searchBar-gJe8lY,
.searchBar-1UNSCg,
.searchBox-pyIJJj,
.wrapper-1cBijl,
.gameName-Uw4dbt,
.phoneField-3NAPDv,
.popoutListInput-1w4TxY,
.searchBar-14YqL- .searchBarComponent-18D6hD,
.searchContainer-2kJ46v,
.container-2oNtJn.medium-2NClDM
{
	position: relative;
	border-radius: 0;

	&:after {
		background-color: var(--accent);
		bottom: 0;
		content: '';
		height: 2px;
		position: absolute;
		@if $animations {
			left: calc(50% - 5px);
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			visibility: hidden;
			width: 10px;
		}
		@else {
			left: calc(0px);
			visibility: visible;
			width: 100%;
		}
	}
  
	@if $animations {
		&:focus-within::after {
			left: calc(0px);
			visibility: visible;
			width: 100%;
		}
	}
}
// Special variant cuz main textbox
.slateTextArea-27tjG0
{
	// position: relative;
	border-radius: 0;

	&:after {
		background-color: var(--accent);
		bottom: 0;
		content: '';
		height: 2px;
		position: absolute;
		@if $animations {
			left: calc((100% + 90px) / 2 - 50px);
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			visibility: hidden;
			width: 10px;
		}
		@else {
			left: -56px;
			visibility: visible;
			width: calc(100% + 90px)
		}
	}
  
	@if $animations {
		&:focus-within::after {
			left: -56px;
			visibility: visible;
			width: calc(100% + 90px)
		}
	}
}

.container-1SX9VC,
.bd-search-wrapper,
.scrollableContainer-15eg7h,
.input-2g-os5,
.searchBar-zdmu7v,
.searchBar-1YE5UV,
.searchBar-2M9mRP,
.searchBar-gJe8lY,
.wrapper-1cBijl,
.container-2oNtJn,
.searchBox-pyIJJj .inputWrapper-1YNMmM::after,
.searchBar-3TnChZ .searchBarComponent-3N7dCG ,
.channelTextArea-1FufC0,
.searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h,
.searchBar-14YqL- .searchBarComponent-18D6hD
{
	background-color: transparent;
}
.wrapper-1cBijl,
.input-2g-os5,
.input-2g-os5.focused-1AtTHC,
.input-2g-os5:focus,
.input-2g-os5:hover,
.input-2g-os5.disabled-1MTS26,
.theme-light .gameNameInput-3TuPuA:focus, .theme-light .gameNameInput-3TuPuA:hover,
.theme-dark .gameNameInput-3TuPuA:focus, .theme-dark .gameNameInput-3TuPuA:hover,
.searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h:focus,
.searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h:focus-within
{
	border-color: transparent;
}
.search-25t1e9 .searchBox-31Zv9h:focus, .search-25t1e9 .searchBox-31Zv9h:focus-within,
.theme-light .elevationLow-26BbEG, .theme-dark .elevationLow-26BbEG {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
}
.libraryFilter-1nwg6T {
	transition: 0.25s;
}

.search-25t1e9 .searchBox-31Zv9h, .scrollableContainer-15eg7h {
	border-radius: 0;
}
.searchBox-31Zv9h .size12-oc4dx4 {
	font-weight: var(--header-weight);
}
