.tooltipContent-Nejnvh {
	background-color: var(--tooltip-bg);
	border-radius: 2px;
	padding: 8px;
	line-height: 14px;
	font-weight: 500;
	color: var(--tooltip-text);
}

.theme-dark  .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb,
.theme-light .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
	border-top-color: var(--tooltip-bg);
}

.theme-dark  .tooltipPrimary-3qLMbS,
.theme-light .tooltipPrimary-3qLMbS {
	background-color: transparent;
}

.guildNameText-74xXQn,
.guildNameText-jBFbNC {
	color: var(--tooltip-text);
	font-weight: 600;
}
// Green tooltip
.tooltipGreen-oouJdx {
	.theme-dark &,
	.theme-light & {
		& .tooltipContent-Nejnvh {
			background-color: var(--online);
		}
		& .tooltipPointer-3L49xb {
			border-top-color: var(--online);
		}
	}
}
// Red tooltip
.tooltipRed-2z14Wl {
	.theme-dark &,
	.theme-light & {
		& .tooltipContent-Nejnvh {
			background-color: var(--danger);
		}
		& .tooltipPointer-3L49xb {
			border-top-color: var(--danger);
		}
	}
}
