@import "../config";

:root{
	--badge-size: 22px; //discord defualt = 18px, theme defualt = 22px;
	--badge-margin: 1.5px; //discord default = 2px, theme defualt = 1.5px
	--badges-everywhere-size:15px; //defualt = 15px
}

.userPopout-xaxa6l[aria-label="mr_miner"] .headerText-1vVs-U::after {
	font-family: var(--font-header);
	font-weight: var(--subtitle-weight);
}