@import "../material_design/ripple";
@import "../utils";

// the cards on the side
.emptyCard-1RJw8n {
	
}
.inset-3sAvek {
	@include theming {
		background-color: transparent;
	}
}
.separator-XqIyoz {
	height: 16px;
	@include theming {
		background-color: transparent;
	}
}

// ripple my beloved
.peopleListItem-2nzedh {
	position: relative;
	@include ripple;
}

// Add friend button is funky
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ[aria-controls="add_friend-tab"] {
	background-color: var(--green) !important;
	color: var(--green-text) !important;
	
	&:hover {
		background-color: var(--green-selected) !important;
	}
}