@import "../utils";

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
	background: none;
}
.categoryItem-1QIroW {
	position: relative;
}

// Fix search box
.search-25t1e9 .searchBox-31Zv9h {
	// Text color is borked
	& .searchBoxInput-3h4etz {
		color: var(--text-normal);
	}
	
	// Enter to search
	& .colorMuted-20987_ {
		color: var(--interactive-normal);
	}
	
	// Disable focus ring
	&:focus,
	&:focus-within {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	// Search icon color
	& .searchIcon-3X4BYL {
		color: var(--interactive-normal);	
	}
	
	// Clear icon color
	& .closeIcon-BMGxx0 {
		color: var(--interactive-normal);
		&:hover {
			color: var(--interactive-hover);
		}
	}

	background-color: var(--textbox-color);
}

.searchBox-pyIJJj {
	@include theming {
		background-color: var(--textbox-color);
	}
}

// Selected pill
.categoryPill-1zjNrr.selected-bLcqYK {
	background-color: var(--accent);
	color: var(--accent-text);
}
.categoryPill-1zjNrr:hover:not(.selected-bLcqYK) {
	background-color: var(--accent-transparent);
	& .categoryLabel-2m4AT- {
		color: var(--accent);
	}
}
