// SVG Util
@import "../../../src/icons/util";

// Icon packs
@import "../../../src/icons/outline";
@import "../../../src/icons/discord";

// Import build config
@import "../../../src/config/build_config";

@mixin settingsIcon($aria_control, $svg, $icon-pack: $icons-outline) {
	.side-2ur1Qk > .item-3XjbnG[aria-controls="#{$aria_control}" i]:not(.role-3pGE29)::before {
		--icon: #{svg-url(#{map-get($icon-pack, $svg)})};
	}
}

// idk why but this is necessary ig?
$dummy: $icons-outline;

//@mixin includeSettings($icon-pack: $icons-outline) {
@mixin includeSettings($icon-pack: ()) {

	@if $icon-pack == () {
		$icon-pack: $icons-outline;
	}

	// Default vars
	.sidebarRegion-1VBisG {
		--settings-icon-color: currentColor;
	}

	// Hide icons on certain elements
	.side-2ur1Qk > .item-3XjbnG:not(.role-3pGE29),
	.sidebar-nqHbhN .ui-tab-bar-item {
		display: flex;
		align-items: center;
	}

	.page-15bX59 {
		& .side-2ur1Qk > .item-3XjbnG:not(.role-3pGE29)::before,
		& .sidebar-nqHbhN .ui-tab-bar-item::before {
			content: none;
		}
	}

	// Hide new discord icons
	.item-3XjbnG {
		& .icon-3Povsy,
		& .icon-Zc-uZZ {
			display: none;
		}
	}

	// Resize pfp
	.avatar-8T0jhU {
		width: 22px !important;
		height: 22px !important;
	}

	// Align text properly for consistency
	.username-1xQOwN {
		padding-left: 6px;
	}
	
	// Hide default nitro icon
	.serverBoostTabItem-3QwA3W svg,
	.premiumLabel-V52REm svg {
		display: none;
	}

	// Add icons everywhere
	.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG:not(.role-3pGE29)::before,
	.sidebar-nqHbhN .ui-tab-bar-item::before {
		content: "";
		width: 22px;
		height: 22px;
		left: 15px;
		margin-right: 6px;
		margin-top: -2px;
		background: var(--settings-icon-color);
		-webkit-mask: var(--icon) center/contain no-repeat;
		mask: var(--icon) center/contain no-repeat;
		flex-shrink: 0;

		// Default to powercord icon
		--icon: #{svg-url(#{map-get($icon-pack, "placeholder")})};
	}

	// Special cases: VC Debug menu - User pfps are icons
	@for $i from 0 through 9 {
		.side-2ur1Qk > .item-3XjbnG[aria-controls^="default:#{$i}"]:not(.role-3pGE29)::before,
		.side-2ur1Qk > .item-3XjbnG[aria-controls^="stream:#{$i}"]:not(.role-3pGE29)::before {
			content: none;
		}
	}

	// Stock Discord

	// Settings
	@include settingsIcon("my-account-tab", "account", $icon-pack);
	@include settingsIcon("profile-customization-tab", "user_profile_settings", $icon-pack);
	@include settingsIcon("privacy-&-safety-tab", "shield", $icon-pack);
	@include settingsIcon("moderation-tab", "shield", $icon-pack);
	@include settingsIcon("authorized-apps-tab", "apps", $icon-pack);
	@include settingsIcon("connections-tab", "connections", $icon-pack);

	@include settingsIcon("subscriptions-tab", "subscriptions", $icon-pack);
	@include settingsIcon("discord-nitro-tab", "nitro", $icon-pack);
	@include settingsIcon("nitro-server-boost-tab", "boost", $icon-pack);
	@include settingsIcon("library-inventory-tab", "gift", $icon-pack);
	@include settingsIcon("billing-tab", "billing", $icon-pack);

	@include settingsIcon("appearance-tab", "appearance", $icon-pack);
	@include settingsIcon("accessibility-tab", "accessibility", $icon-pack);
	@include settingsIcon("voice-&-video-tab", "voice_settings", $icon-pack);
	@include settingsIcon("text-&-images-tab", "text__images", $icon-pack);
	@include settingsIcon("notifications-tab", "notifications", $icon-pack);
	@include settingsIcon("keybinds-tab", "keyboard", $icon-pack);
	@include settingsIcon("language-tab", "locale", $icon-pack);
	@include settingsIcon("windows-tab", "monitor", $icon-pack);
	@include settingsIcon("macos-tab", "monitor", $icon-pack);
	@include settingsIcon("linux-tab", "monitor", $icon-pack);
	@include settingsIcon("streamer-mode-tab", "stream", $icon-pack);
	@include settingsIcon("advanced-tab", "advanced", $icon-pack);

	@include settingsIcon("game-activity-tab", "game_activity", $icon-pack);
	@include settingsIcon("overlay-tab", "overlay", $icon-pack);

	@include settingsIcon("changelog-tab", "changelog", $icon-pack);
	@include settingsIcon("hypesquad-online-tab", "hypesquad", $icon-pack);
	@include settingsIcon("experiments-tab", "experiment", $icon-pack);
	@include settingsIcon("developer-options-tab", "developer", $icon-pack);
	@include settingsIcon("hotspot-options-tab", "cta", $icon-pack);

	@include settingsIcon("logout-tab", "logout", $icon-pack);

	// Guild
	@include settingsIcon("overview-tab", "overview", $icon-pack);
	@include settingsIcon("roles-tab", "roles", $icon-pack);
	@include settingsIcon("emoji-tab", "emoji", $icon-pack);
	@include settingsIcon("stickers-tab", "sticker", $icon-pack);
	@include settingsIcon("audit_log-tab", "audit_log", $icon-pack);
	@include settingsIcon("integrations-tab", "game", $icon-pack);
	@include settingsIcon("widget-tab", "widgets", $icon-pack);
	@include settingsIcon("guild_templates-tab", "template", $icon-pack);

	@include settingsIcon("community-tab", "people_wave", $icon-pack);
	@include settingsIcon("analytics-tab", "guild_insights", $icon-pack);
	@include settingsIcon("partner-tab", "partner", $icon-pack);
	@include settingsIcon("discovery-tab", "explore", $icon-pack);
	@include settingsIcon("member_verification-tab", "verification", $icon-pack);
	@include settingsIcon("community_welcome-tab", "hand_wave", $icon-pack);

	@include settingsIcon("guild_premium-tab", "boost", $icon-pack);

	@include settingsIcon("members-tab", "members", $icon-pack);
	@include settingsIcon("instant_invites-tab", "invites", $icon-pack);
	@include settingsIcon("bans-tab", "ban", $icon-pack);

	@include settingsIcon("delete-tab", "delete", $icon-pack);

	// Channel
	@include settingsIcon("permissions-tab", "permissions", $icon-pack);
	
	// VC Debug
	@include settingsIcon("default:transport:0-tab", "download_rate", $icon-pack);
	@include settingsIcon("default:outbound:0-tab", "upload_rate", $icon-pack);
	@include settingsIcon("stream:transport:0-tab", "download_rate", $icon-pack);
	@include settingsIcon("stream:outbound:0-tab", "upload_rate", $icon-pack);


	/*
	While yes mods are separated to respective menus, settings icons being a module cant be separated sadly :(
	*/

	// Mods

	// Cumcord
	@include settingsIcon("cumcord_plugins-tab", "cumcord", $icon-pack);
	@include settingsIcon("cumcord_quickcss-tab", "css_editor", $icon-pack);

	// Better Discord
	// @include settingsIcon("settings-tab", "betterdiscord", $icon-pack);
	// BD settings uses i18n, so heres a funky workaround for it
	.bd-sidebar-header + .bd-settings-tab {
		.side-2ur1Qk > &:not(.role-3pGE29)::before {
			--icon: #{svg-url(#{map-get($icon-pack, "betterdiscord")})};
		}
	}

	// Kernel
	.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG.bdcompat-settings-item-settings::before {
		--icon: #{svg-url(#{map-get($icon-pack, "betterdiscord")})};
	}
	
	@include settingsIcon("customcss-tab", "css_editor", $icon-pack);
	@include settingsIcon("plugins-tab", "plugins", $icon-pack);
	@include settingsIcon("themes-tab", "themes", $icon-pack);
	@include settingsIcon("discord-nitro-tab", "nitro", $icon-pack);
	@include settingsIcon("discord-nitro-tab", "nitro", $icon-pack);

	// Goosemod
	@include settingsIcon("gm-settings-tab", "goosemod", $icon-pack);
	@include settingsIcon("gm-changelog-tab", "changelog", $icon-pack);

	// Powercord
	@include settingsIcon("pc-general-tab", "powercord", $icon-pack);
	@include settingsIcon("pc-modulemanager-plugins-tab", "plugins", $icon-pack);
	@include settingsIcon("pc-modulemanager-themes-tab", "themes", $icon-pack);
	@include settingsIcon("pc-updater-tab", "updater", $icon-pack);
	
	// Kernel
	@include settingsIcon("kernelsettings-tab", "plugins", $icon-pack);
	@include settingsIcon("bdcompatsettings-tab", "betterdiscord", $icon-pack);
	@include settingsIcon("bdcompatplugins-tab", "plugins", $icon-pack);
	@include settingsIcon("bdcompatthemes-tab", "themes", $icon-pack);
	@include settingsIcon("pc-modulemanager-quickcss-tab", "css_editor", $icon-pack);

	// ploogins
	@include settingsIcon("view-raw-tab", "view_raw", $icon-pack);
	@include settingsIcon("pronoundb-tab", "pronoundb", $icon-pack);
	@include settingsIcon("powercord-reverse-image-search-tab", "reverse_search", $icon-pack);
	@include settingsIcon("better-settings-tab", "settings", $icon-pack);
	
}
