// I have absolutely no clue why, but the first import never fucking works when minified???
// So we make a useless import
:root{--dummy:0}
:root {

	// FONTS
	--font-header: 'Google Sans', 'Migu 1M', sans-serif;
	--font-code: 'Roboto Mono', monospace;

	// Font Weights (Bold, Italics, etc.)
	--weight-header: 600;
	--weight-subtitle: 500;
	--weight-section: 900;
	--weight-code: 400;

	// Snackbars (unread notifs in channels list)
	--snackbar-radius: 4px;
    --snackbar-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
	--snackbar-bg: #333;
	--snackbar-text: white;

	// Textboxes
	--textbox-radius: 4px;
	
	// Buttons
	--button-height: 48px;
	--button-padding: 8px;
	--button-icon-spacing: 4px;

	// Settings
	--settings-header-height: 90px;
	--settings-sidebar-width: 350px;
	--settings-item-height: 38px;
	--sidebar-left-padding: 24px;
	--sidebar-right-padding: 16px;
	
	// Collapsing settings
	--collapse-settings-padding: 8px;

	// Context menus
	--context-menu-padding: 6px 8px;
	--context-menu-radius: 4px;
	
	// Roles
	--role-chip-weight: 500;
	--role-chip-padding: 4px;
	
	// Date picker
	--date-picker-circle-thickness: 2px;
	--date-picker-date-size: 40px;
	--date-picker-date-padding: 4px;
	--date-picker-popout-padding: 20px;
	
	// Loading spinner
	--loading-spinner-size: 48px;
	
	// Tooltips
	--tooltip-animation: 100ms ease-in-out 323ms;
	
	// External Modules
	// Better Badges
	--badge-size: 22px;
	
	// Channels
	--channel-height: 32px;
	
	// Members
	--member-height: 44px;
	
	// Stickers
	--sticker-substitute-text: "*sticker*";
	--sticker-substitute-color: var(--red);
}
.theme-dark {
	--weight-textbox: 600;

	// Accent
	--accent: rgb(52, 164, 255);
	--accent-text: white;
	--accent-transparent: rgba(52, 164, 255, 12%);
	--accent-selected: rgb(141, 202, 255);

	// Colors
	--green: #43b581;
	--green-text: white;
	--green-transparent: rgba(67, 181, 129, 12%);
	--green-selected: #66c296;
	
	--red: #cf6679;
	--red-text: white;
	--red-transparent: rgba(207, 102, 121, 12%);
	--red-selected: #ff7676;
	
	--yellow: #fbec52;
	--yellow-text: black;
	--yellow-transparent: rgba(251, 236, 82, 12%);
	--yellow-selected: #fff68f;
	
	--gray: #868d96;
	--gray-text: white;
	--gray-transparent: rgba(134, 141, 150, 12%);
	--gray-selected: #96999c;

	--purple: #9176c1;
	--purple-text: white;
	--purple-transparent: rgba(145, 118, 193, 12%);
	--purple-selected: #ac92d8;

	// Logo color
	--logo-color: white;

	// Textbox
	--textbox-color: #161616;
	--textbox-pillDefault: #a8a8a8;

	// Links
	--text-link: var(--accent);

	// Ripple
	--ripple-color: rgba(255, 255, 255, 0.36);
	
	// Context menus
	--context-menu-separator: rgba(255, 255, 255, 0.24);

	// Roles
	--role-chip-bg: var(--accent-transparent);
	
	// Tooltips
	--tooltip-bg: #1f1f1f;
	--tooltip-text: white;

	// Switches
	--switch-knob-color: #ECECEC;
	--switch-slider-color: rgba(135, 135, 135,0.65);
	
	// Sliders
	--slider-disabled: #ECECEC;
	--slider-disabled: #ECECEC;
}
.theme-light {
	--weight-textbox: 500;

	// Accent
	--accent: rgb(26, 115, 232);
	--accent-text: white;
	--accent-transparent: rgba(26, 115, 232, 12%);
	--accent-selected: rgb(0, 149, 255);

	// Colors
	--green: #43b581;
	--green-text: white;
	--green-transparent: rgba(67, 181, 129, 12%);
	--green-selected: #66c296;
	
	--red: #ff4646;
	--red-text: white;
	--red-transparent: rgba(255, 70, 70, 12%);
	--red-selected: #ff7676;
	
	--yellow: #faa61a;
	--yellow-text: white;
	--yellow-transparent: rgba(250, 166, 26, 12%);
	--yellow-selected: #fdc25b;
	
	--gray: #636b75;
	--gray-text: white;
	--gray-transparent: rgba(99, 107, 117, 12%);
	--gray-selected: #868d96;

	--purple: #643da7;
	--purple-text: white;
	--purple-transparent: rgba(100, 61, 167, 12%);
	--purple-selected: #7954b8;

	// Logo color
	--logo-color: black;
	
	// Textbox
	--textbox-color: #f5f5f5;
	--textbox-pillDefault: #1F1F1F;
	
	// Links
	--text-link: var(--accent);

	// Ripple
	--ripple-color: rgba(0, 0, 0, 0.36);

	// Context menus
	--context-menu-separator: rgba(0, 0, 0, 0.24);

	// Roles
	--role-chip-bg: var(--accent-transparent);

	// Tooltips
	--tooltip-bg: #1f1f1f;
	--tooltip-text: white;
}