// I have absolutely no clue why, but the first import never fucking works when minified???
// So we make a useless import
:root{--dummy:0}
:root {

	// FONTS
	--font-header: 'Google Sans', 'Migu 1M', sans-serif;
	--font-code: 'Roboto Mono', monospace;

	// Font Weights (Bold, Italics, etc.)
	--weight-header: 600;
	--weight-subtitle: 500;
	--weight-section: 900;
	--weight-code: 400;

	// Snackbars (unread notifs in channels list)
	--snackbar-radius: 4px;
    --snackbar-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
	--snackbar-bg: #333;
	--snackbar-text: white;
}
.theme-dark {
	--weight-textbox: 600;

	// Accent
	--accent: rgb(52, 164, 255);
	--accent-text: white;
	--accent-transparent: rgba(52, 164, 255, 12%);
	--accent-selected: rgb(141, 202, 255);

	// Colors
	--green: #66c296;
	--green-text: white;
	--green-selected: #43b581;
	
	--red: #cf6679;
	--red-text: white;
	--red-selected: #ff7676;
	
	--yellow: #fbec52;
	--yellow-text: white;
	--yellow-selected: #fff68f;
	
	--gray: #868d96;
	--gray-text: white;
	--gray-selected: #96999c;

	--purple: #9176c1;
	--purple-text: white;
	--purple-selected: #ac92d8;

	// Logo color
	--logo-color: white;
}
.theme-light {
	--weight-textbox: 500;

	// Accent
	--accent: rgb(26, 115, 232);
	--accent-text: white;
	--accent-transparent: rgba(26, 115, 232, 12%);
	--accent-selected: rgb(0, 149, 255);

	// Colors
	--green: #43b581;
	--green-text: white;
	--green-selected: #66c296;
	
	--red: #ff4646;
	--red-text: white;
	--red-selected: #ff7676;
	
	--yellow: #faa61a;
	--yellow-text: white;
	--yellow-selected: #fdc25b;
	
	--gray: #636b75;
	--gray-text: white;
	--gray-selected: #868d96;

	--purple: #643da7;
	--purple-text: white;
	--purple-selected: #7954b8;

	// Logo color
	--logo-color: black;
}