// Default colour palette, feel free to collapse
:root {
	--tone-1-0: rgb(0, 0, 0);
	--tone-1-1: rgb(4, 5, 0);
	--tone-1-2: rgb(9, 10, 0);
	--tone-1-3: rgb(13, 15, 0);
	--tone-1-4: rgb(17, 20, 0);
	--tone-1-5: rgb(22, 25, 0);
	--tone-1-6: rgb(26, 31, 0);
	--tone-1-7: rgb(30, 36, 0);
	--tone-1-8: rgb(35, 41, 0);
	--tone-1-9: rgb(39, 46, 0);
	--tone-1-10: rgb(43, 51, 0);
	--tone-1-20: rgb(87, 102, 0);
	--tone-1-30: rgb(130, 153, 0);
	--tone-1-40: rgb(173, 204, 0);
	--tone-1-50: rgb(202, 234, 21);
	--tone-1-60: rgb(201, 221, 85);
	--tone-1-70: rgb(205, 217, 140);
	--tone-1-80: rgb(216, 221, 187);
	--tone-1-90: rgb(232, 234, 225);
	--tone-1-95: rgb(243, 243, 241);
	--tone-1-96: rgb(245, 245, 244);
	--tone-1-97: rgb(248, 248, 247);
	--tone-1-98: rgb(250, 250, 250);
	--tone-1-99: rgb(252, 252, 252);
	--tone-1-100: rgb(255, 255, 255);

	--tone-2-0: rgb(0, 0, 0);
	--tone-2-1: rgb(0, 4, 5);
	--tone-2-2: rgb(0, 8, 10);
	--tone-2-3: rgb(0, 12, 15);
	--tone-2-4: rgb(0, 16, 20);
	--tone-2-5: rgb(0, 20, 25);
	--tone-2-6: rgb(0, 24, 31);
	--tone-2-7: rgb(0, 29, 36);
	--tone-2-8: rgb(0, 33, 41);
	--tone-2-9: rgb(0, 37, 46);
	--tone-2-10: rgb(0, 41, 51);
	--tone-2-20: rgb(0, 82, 102);
	--tone-2-30: rgb(0, 122, 153);
	--tone-2-40: rgb(0, 163, 204);
	--tone-2-50: rgb(21, 191, 234);
	--tone-2-60: rgb(85, 194, 221);
	--tone-2-70: rgb(140, 201, 217);
	--tone-2-80: rgb(187, 214, 221);
	--tone-2-90: rgb(225, 232, 234);
	--tone-2-95: rgb(241, 243, 243);
	--tone-2-96: rgb(244, 245, 245);
	--tone-2-97: rgb(247, 248, 248);
	--tone-2-98: rgb(250, 250, 250);
	--tone-2-99: rgb(252, 252, 252);
	--tone-2-100: rgb(255, 255, 255);

	--tone-3-0: rgb(0, 0, 0);
	--tone-3-1: rgb(2, 5, 0);
	--tone-3-2: rgb(4, 10, 0);
	--tone-3-3: rgb(7, 15, 0);
	--tone-3-4: rgb(9, 20, 0);
	--tone-3-5: rgb(11, 25, 0);
	--tone-3-6: rgb(13, 31, 0);
	--tone-3-7: rgb(15, 36, 0);
	--tone-3-8: rgb(18, 41, 0);
	--tone-3-9: rgb(20, 46, 0);
	--tone-3-10: rgb(22, 51, 0);
	--tone-3-20: rgb(44, 102, 0);
	--tone-3-30: rgb(66, 153, 0);
	--tone-3-40: rgb(88, 204, 0);
	--tone-3-50: rgb(113, 234, 21);
	--tone-3-60: rgb(144, 221, 85);
	--tone-3-70: rgb(173, 217, 140);
	--tone-3-80: rgb(202, 221, 187);
	--tone-3-90: rgb(229, 234, 225);
	--tone-3-95: rgb(242, 243, 241);
	--tone-3-96: rgb(245, 245, 244);
	--tone-3-97: rgb(247, 248, 247);
	--tone-3-98: rgb(250, 250, 250);
	--tone-3-99: rgb(252, 252, 252);
	--tone-3-100: rgb(255, 255, 255);

	--tone-4-0: rgb(0, 0, 0);
	--tone-4-1: rgb(3, 5, 0);
	--tone-4-2: rgb(5, 10, 0);
	--tone-4-3: rgb(8, 15, 0);
	--tone-4-4: rgb(11, 20, 0);
	--tone-4-5: rgb(13, 25, 0);
	--tone-4-6: rgb(16, 31, 0);
	--tone-4-7: rgb(18, 36, 0);
	--tone-4-8: rgb(21, 41, 0);
	--tone-4-9: rgb(24, 46, 0);
	--tone-4-10: rgb(26, 51, 0);
	--tone-4-20: rgb(53, 102, 0);
	--tone-4-30: rgb(79, 153, 0);
	--tone-4-40: rgb(105, 204, 0);
	--tone-4-50: rgb(131, 234, 21);
	--tone-4-60: rgb(155, 221, 85);
	--tone-4-70: rgb(180, 217, 140);
	--tone-4-80: rgb(205, 221, 187);
	--tone-4-90: rgb(230, 234, 225);
	--tone-4-95: rgb(242, 243, 241);
	--tone-4-96: rgb(245, 245, 244);
	--tone-4-97: rgb(247, 248, 247);
	--tone-4-98: rgb(250, 250, 250);
	--tone-4-99: rgb(252, 252, 252);
	--tone-4-100: rgb(255, 255, 255);

	--tone-5-0: rgb(0, 0, 0);
	--tone-5-1: rgb(0, 5, 5);
	--tone-5-2: rgb(0, 9, 10);
	--tone-5-3: rgb(0, 14, 15);
	--tone-5-4: rgb(0, 18, 20);
	--tone-5-5: rgb(0, 23, 25);
	--tone-5-6: rgb(0, 28, 31);
	--tone-5-7: rgb(0, 32, 36);
	--tone-5-8: rgb(0, 37, 41);
	--tone-5-9: rgb(0, 41, 46);
	--tone-5-10: rgb(0, 46, 51);
	--tone-5-20: rgb(0, 92, 102);
	--tone-5-30: rgb(0, 138, 153);
	--tone-5-40: rgb(0, 184, 204);
	--tone-5-50: rgb(21, 212, 234);
	--tone-5-60: rgb(85, 207, 221);
	--tone-5-70: rgb(140, 209, 217);
	--tone-5-80: rgb(187, 218, 221);
	--tone-5-90: rgb(225, 233, 234);
	--tone-5-95: rgb(241, 243, 243);
	--tone-5-96: rgb(244, 245, 245);
	--tone-5-97: rgb(247, 248, 248);
	--tone-5-98: rgb(250, 250, 250);
	--tone-5-99: rgb(252, 252, 252);
	--tone-5-100: rgb(255, 255, 255);

	--tone-6-0: rgb(0, 0, 0);
	--tone-6-1: rgb(5, 4, 0);
	--tone-6-2: rgb(10, 7, 0);
	--tone-6-3: rgb(15, 11, 0);
	--tone-6-4: rgb(20, 15, 0);
	--tone-6-5: rgb(25, 18, 0);
	--tone-6-6: rgb(31, 22, 0);
	--tone-6-7: rgb(36, 26, 0);
	--tone-6-8: rgb(41, 29, 0);
	--tone-6-9: rgb(46, 33, 0);
	--tone-6-10: rgb(51, 37, 0);
	--tone-6-20: rgb(102, 73, 0);
	--tone-6-30: rgb(153, 110, 0);
	--tone-6-40: rgb(204, 146, 0);
	--tone-6-50: rgb(234, 174, 21);
	--tone-6-60: rgb(221, 182, 85);
	--tone-6-70: rgb(217, 195, 140);
	--tone-6-80: rgb(221, 211, 187);
	--tone-6-90: rgb(234, 231, 225);
	--tone-6-95: rgb(243, 243, 241);
	--tone-6-96: rgb(245, 245, 244);
	--tone-6-97: rgb(248, 248, 247);
	--tone-6-98: rgb(250, 250, 250);
	--tone-6-99: rgb(252, 252, 252);
	--tone-6-100: rgb(255, 255, 255);

	--tone-7-0: rgb(0, 0, 0);
	--tone-7-1: rgb(5, 4, 0);
	--tone-7-2: rgb(10, 8, 0);
	--tone-7-3: rgb(15, 12, 0);
	--tone-7-4: rgb(20, 17, 0);
	--tone-7-5: rgb(25, 21, 0);
	--tone-7-6: rgb(31, 25, 0);
	--tone-7-7: rgb(36, 29, 0);
	--tone-7-8: rgb(41, 33, 0);
	--tone-7-9: rgb(46, 37, 0);
	--tone-7-10: rgb(51, 42, 0);
	--tone-7-20: rgb(102, 83, 0);
	--tone-7-30: rgb(153, 125, 0);
	--tone-7-40: rgb(204, 167, 0);
	--tone-7-50: rgb(234, 195, 21);
	--tone-7-60: rgb(221, 196, 85);
	--tone-7-70: rgb(217, 203, 140);
	--tone-7-80: rgb(221, 215, 187);
	--tone-7-90: rgb(234, 232, 225);
	--tone-7-95: rgb(243, 243, 241);
	--tone-7-96: rgb(245, 245, 244);
	--tone-7-97: rgb(248, 248, 247);
	--tone-7-98: rgb(250, 250, 250);
	--tone-7-99: rgb(252, 252, 252);
	--tone-7-100: rgb(255, 255, 255);
}



.theme-dark {
    --background-primary: var(--tone-1-10);
    --background-secondary: var(--tone-2-8);
    --background-secondary-alt: var(--tone-4-6);
    --background-tertiary: var(--tone-1-5);
    --background-floating: var(--tone-6-8);
    --interactive-normal: var(--tone-6-80);
    --text-normal: var(--tone-1-80);
}

.theme-light {
    --background-primary: var(--tone-1-50);
}