@import "../material_design/ripple";

// For this theme, brand = accent

@mixin buttons($class, $color) {
	// this increases specifity but also makes the code cleaner
	.theme-dark,
	.theme-light
	{
		// Filled color
		.lookFilled-yCfaCM#{$class} {
			color: var(--#{$color}-text);
			background-color: var(--#{$color});
			&:enabled:active,
			&:enabled:hover {
				background-color: var(--#{$color}-selected);
			}
		}
		// Inverted color
		.lookInverted-2mDUMi#{$class} {
			color: var(--#{$color});
			background-color: var(--#{$color}-text);
		}
		// Disabled color
		.lookFilled-yCfaCM#{$class}:disabled {
			background-color: var(--#{$color});
		}
		// Link-like buttons
		.lookLink-15mFoz#{$class} {
			color: var(--#{$color});
			&:hover .contents-3ca1mk {
				background-image: linear-gradient(0deg,transparent,transparent 1px,var(--#{$color}) 0,var(--#{$color}) 2px,transparent 0);
			}
		}
		// Outlined buttons
		.lookOutlined-3yKVGo#{$class} {
			color: var(--#{$color});
			border-color: var(--#{$color});
			&:active {
				background-color: var(--#{$color}-transparent);
			}
		}
	}
}

@include buttons(".colorBrand-I6CyqQ", 'accent');
@include buttons(".colorBrandNew-2-gGsS", 'accent');
@include buttons(".colorGreen-3y-Z79", 'green');
@include buttons(".colorRed-rQXKgM", 'red');
@include buttons(".colorYellow-2JqYwt", 'yellow');
@include buttons(".colorGrey-2iAG-B", 'gray');
@include buttons(".colorPrimary-3b3xI6", 'gray');
@include buttons(".colorLink-35jkBc", 'accent'); // TODO: blue?
@include buttons(".leaveButton-1Tg7l4", 'red');
@include buttons(".leaveButton-1Tg7l4", 'red'); // TODO: WATCHING THING => GRAY

// Context menu buttons

// Accent
.colorBrand-3cPPsm {
	color: var(--accent);
}
// On light theme this is a thing?
.theme-light .colorBrand-3cPPsm:not(.focused-3qFvc8) {
	color: var(--accent);
}

// RIPPLE MY BELOVED!!!!
.button-38aScr {
	@include ripple;
}

.colorDefault-CDqZdO {
	// Checkbox
	& .checkbox-hADx5o,
	& .radioSelection-1UHp0b {
		color: var(--accent);
	}
	& .check-3HZJs4 {
		color: var(--accent-text);
	}
	// Checkebox hover
	&.focused-3qFvc8 .checkbox-hADx5o,
	&.focused-3qFvc8 .radioSelection-1UHp0b,
	&.focused-3qFvc8 .subtext-2GlkbE {
		color: var(--accent-text);
	}
	&.focused-3qFvc8 .check-3HZJs4 {
		color: var(--accent);
	}
}

// context menu buttons

// Default focused
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
	background-color: var(--accent);
	color: var(--accent-text);
}
// Red 
.colorDanger-3n-KnP,
.colorDanger-3n-KnP .checkbox-hADx5o,
.colorDanger-3n-KnP .radioSelection-1UHp0b {
	color: var(--red);
}
// Red hover
.colorDanger-3n-KnP.focused-3qFvc8,
.colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
	background-color: var(--red);
	color: var(--red-text);
}

// VC Call buttons
.colorable-3rVGna.red-3T8maV {
	background-color: var(--red);
	color: var(--red-text);
}

