// Media progress bar slider
.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317:after,
.mediaBarProgress-38I317:before {
    background-color: var(--accent);
}
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
    background-color: var(--accent-selected);
}
// Generic slider
.barFill-2Bh7CX{
    background-color: var(--accent);
    transition: 150ms ease-in-out;
}
.grabber-2GQyvM {
    background-color: var(--accent);
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    &:hover {
        background-color: var(--accent-selected);
    }
    border: none;
    .disabled-3XkegQ & {
        background-color: var(--slider-disabled);
    }
}
.bar-1Bhnl9 {
    transition: 150ms ease-in-out background-color;
    height: 4px;
    top: 18px;
}

// sometimes text overflows bruh
.mark-2iakCT {
    width: fit-content;
}
