// Media progress bar slider
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
    background-color: var(--primary);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: var(--on-primary-container);
}
// Generic slider
.barFill-23-gu-{
    background-color: var(--primary);
    transition: 150ms ease-in-out;
}
.grabber-3mFHz2 {
    background-color: var(--primary);
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    &:hover {
        background-color: var(--on-primary-container);
    }
    border: none;
    .disabled-bolDAc & {
        background-color: var(--slider-disabled);
    }
}
.bar-2Qqk5Z {
    transition: 150ms ease-in-out background-color;
    height: 4px;
    top: 18px;
}

// sometimes text overflows bruh
.mark-1xjQqt {
    width: fit-content;
}