.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
	border-color: var(--accent);
	color: var(--accent);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
	// border-color: var(--accent);
	border-color: var(--accent-selected);
	color: var(--accent-selected);
} 
