.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
	border-color: var(--accent);
	color: var(--accent);
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
	// border-color: var(--accent);
	border-color: var(--accent-selected);
	color: var(--accent-selected);
} 