// i sure love me a long ass selector
// why does discord have like 189829 different classes
.searchdiv,
.container-1SX9VC,
.inner-2pOSmK,
.bd-search-wrapper,
.inputWrapper-1YNMmM,
div[class*="searchBar"]:not(.searchBar-3TnChZ),
// .searchBar-zdmu7v,
// .searchBar-1YE5UV,
// .searchBar-2M9mRP,
// .searchBar-gJe8lY,
// .searchBar-1UNSCg,
.searchBox-pyIJJj,
.wrapper-1cBijl,
.game-3x3aDt .gameName-Uw4dbt:not(input),
.phoneField-3NAPDv,
.popoutListInput-1w4TxY,
// .searchBar-14YqL- .searchBarComponent-18D6hD,
.searchBar-3TnChZ .searchBarComponent-18D6hD,
.searchContainer-2kJ46v,
.container-2oNtJn.medium-2NClDM {
	// Fixes textboxes literally everywhere what the fuck
	position: relative;
	border-radius: 0;

	// Define the focused line and hide it
	&:after {
		background-color: var(--textbox-pillDefault);
		bottom: 0;
		content: '';
		height: 2px;
		position: absolute;
		left: 0px;
		transition-duration: .2s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;
	}

	// On select, make the line at the bottom visible and start the animation
	&:focus-within::after {
		background-color: var(--accent);
	}

	&.disabled-2QaYSb::after {
		opacity: 0.4;
	}

	// Replace the background
	&,
	& input,
	& textarea {
		caret-color: var(--accent);
		background-color: var(--textbox-color);
		border: none;
		border-radius: var(--textbox-radius) var(--textbox-radius) 0 0;
	}
}

// Send message text box
.textArea-2CLwUE {
	@extend .inner-2pOSmK;
	// wtf this is all we need to do to fix textboxes for slate container now!!!
	// position: unset;
}

// The slate textbox overrides the caret a div deeper
.slateTextArea-27tjG0 {
	caret-color: var(--accent);
}

// Default padding, assuming no upload button
.placeholder-1_mJY1 {
	margin-left: 16px;
}

// Fix placeholder padding
.attachWrapper-3slhXI + .textArea-2CLwUE > .placeholder-1_mJY1 {
	margin-left: 54px;
}

.slateTextArea-27tjG0 {
	// position: relative;
}

// So that the line at the bottom is clean on the chat message box
#app-mount {
	& .textArea-2CLwUE,
	& .scrollableContainer-15eg7h {
		background: transparent;
	}
	
	& .textArea-2CLwUE {
		&::after {
			content: none;
		}
	}

	& .scrollableContainer-15eg7h {
		&::before {
			position: absolute;
			content: "";
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--textbox-color);
			border-radius: 24px;
		}

		&[class*="hasConnectedBar"]::before {
			height: calc(100% - 43px);
		}
		
		& > .buttons-uaqb-5 {
			margin-right: 4px;
		}
	}
	
	// Status emoji button gets covered
	.emojiButtonContainer-1cdx-p {
		z-index: 1;
	}
}

// Some textboxes use classes for focused state
.cardInputFocused-31lFD1,
.input-2g-os5 {
	border: none;
}

.multiInput-1VARjC > .multiInputFirst-3-OxIz {
	border-top-right-radius: 0;
}

.multiInput-1VARjC > .multiInputLast-35zVz0 {
	border-top-left-radius: 0;
}

// The game activity textboxes cant use pseudo elements, use border instead
// These are inputs, the unmodifiable ones use div
.game-3x3aDt > div:first-child {
	& > input.gameNameInput-3TuPuA {
		caret-color: var(--accent);
		background-color: var(--textbox-color);
		border: none;
		border-radius: var(--textbox-radius) var(--textbox-radius) 0 0;
		border-bottom: 2px solid var(--textbox-pillDefault);
		transition-duration: .2s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:focus-within {
			border-color: var(--accent);
		}
	}

	// "Disable" verified games
	.gameName-Uw4dbt:not(input)::after {
		opacity: 0.4;
	}
}

// Remove extra styling for specific textboxes
#app-mount {
	.addFriendHint-1EVQJY,
	.addFriendInput-1Ta-rO {
		background-color: transparent;
	}

	@at-root .phoneField-3NAPDv .inputField-1iYysB {
		background-color: transparent;
	}
}

// Some classes need specific css to style properly
.container-2oNtJn,
.searchdiv .settingssearch#settingssearch,
.scrollableContainer-15eg7h {
	background-color: var(--textbox-color);
	border: none;
	border-radius: var(--textbox-radius) var(--textbox-radius) 0 0;
}

// Credit card textboxes
// Invalid payment method
.cardInputError-2mof5q {
	--textbox-pillDefault: var(--red);
}

// Emoji name textbox breaks: fix it!
div[class*="emojiRow"] {
	&:hover,
	&:focus-within {
		& div[class*="emojiAliasInput"] + div[class*="emojiAliasPlaceholder"] {
			// z-index: unset;
			opacity: 0;
		}
	}
	// & .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
	& div[class*="emojiAliasInput"] + div[class*="emojiAliasPlaceholder"] {
		z-index: 1;
		opacity: 1;
		transition: opacity .1s ease-in-out;
	}
}

// The emoji button is usually beneath the textbox, this brings it back up so that it's visible
.emojiButtonContainer-2HweDK {
	z-index: 1;
}