// i sure love me a long ass selector
// why does discord have like 189829 different classes
.searchdiv,
.container-2XeR5Z,
.inner-2P4tQO,
.bd-search-wrapper,
.inputWrapper-31_8H8,
.searchBar-3dMhjb,
.searchBar-1YE5UV,
.searchBar-5di9mG,
.searchBar--fTZYa,
.searchBar-TUoVPN,
.searchBox-3Y2Vi7,
.wrapper-1cBijl,
.gameName-1RiWHm,
.phoneField-38N1bJ,
.popoutListInput-1l9TUI,
.searchBar-1Vaz-O .searchBarComponent-yxeVIL,
.searchContainer-3pUVEQ,
.container-cMG81i.medium-1LLV3p
{
	// Fixes textboxes literally everywhere what the fuck
	position: relative;
	border-radius: 0;

	// Define the focused line and hide it
	&:after {
		// background-color: var(--accent);
		background-color: var(--textbox-pillDefault);
		bottom: 0;
		content: '';
		height: 2px;
		position: absolute;
		// left: calc(50% - 5px);
		left: 0px;
		transition-duration: .2s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		// visibility: hidden;
		// width: 10px;
		width: 100%;
	}
  
	// On select, make the line at the bottom visible and start the animation
	&:focus-within::after {
		// left: 0px;
		// visibility: visible;
		// width: 100%;
		background-color: var(--accent);
	}
	&.disabled-jLAJq8::after {
		opacity: 0.4;
	}

	// Replace the background
	&,
	& input,
	& textarea
	{
		caret-color: var(--accent);
		background-color: var(--textbox-color);
		border: none;
		border-radius: var(--textbox-radius) var(--textbox-radius) 0 0;
	}
}

// Send message text box
.textArea-12jD-V {
	@extend .inner-2P4tQO;
	// wtf this is all we need to do to fix textboxes for slate container now!!!
	position: unset;
}
// The slate textbox overrides the caret a div deeper
.slateTextArea-1Mkdgw {
	caret-color: var(--accent);
}
// Fix placeholder padding
.placeholder-37qJjk {
	margin-left: 16px + 40px;
}
// Disabled channels are special
.innerDisabled-1YTFPN .placeholder-37qJjk {
	margin-left: 16px;
}
.slateTextArea-1Mkdgw {
	position: relative;
}
// So that the line at the bottom is clean on the chat message box
.scrollableContainer-2NUZem {
	border-radius: 0;
}
// Some textboxes use classes for focused state
.cardInputFocused-19S1J3,
.input-cIJ7To {
	border: none;
}
.multiInput-2AiDV2>.multiInputFirst-2aPTwX {
	border-top-right-radius: 0;
}
.multiInput-2AiDV2>.multiInputLast-33BbRU {
	border-top-left-radius: 0;
}
// Remove extra styling for specific textboxes
#app-mount {
	.addFriendHint-3Y70FX,
	.addFriendInput-4bcerK {
		background-color: transparent;
	}
	@at-root .phoneField-38N1bJ .inputField-aNPXsv {
		background-color: transparent;
	}
}

// Some classes need specific css to style properly
.container-cMG81i,
.searchdiv .settingssearch#settingssearch,
.scrollableContainer-2NUZem {
	background-color: var(--textbox-color);
	border: none;
	border-radius: var(--textbox-radius) var(--textbox-radius) 0 0;
}

// Credit card textboxes
// Invalid payment method
.cardInputError-1GUPnt {
	--textbox-pillDefault: var(--red);
}