@import "../utils";

@mixin colorTooltip($color) {
	@include theming {
		background-color: var(--#{$color});
		color: var(--#{$color}-text);
	}

	.tooltipPointer-3L49xb {
		@include theming {
			border-top-color: var(--#{$color});
		}
	}
}

.tooltipGreen-oouJdx {
	@include colorTooltip("green");
}

.tooltipRed-2z14Wl {
	@include colorTooltip("red");
}

// Default, unskinned tooltip
.tooltipPrimary-3qLMbS {
	@include theming {
		background-color: var(--tooltip-bg);
		color: var(--tooltip-text);
	}

	.tooltipPointer-3L49xb {
		@include theming {
			border-top-color: var(--tooltip-bg);
		}
	}
}
.guildNameText-jBFbNC {
	color: currentColor;
}
