
// Change colors to Pixelcord desaturated colors
.powercord-toast[data-toast-type=online] .icon {
    color: var(--online);
}
.powercord-toast[data-toast-type=idle] .icon {
    color: var(--idle);
}
.powercord-toast[data-toast-type=danger] .icon {
    color: var(--danger);
}

#F8settings #desc>strong {
    color: var(--danger) !important;
}

.powercord-updater .icon path {
    &[fill="#f04747"] {
        fill: var(--danger);
    }
    &[fill="#7289da"] {
        fill: var(--accent);
    }
    &[fill="#43b581"] {
        fill: var(--online);
    }
}

// Modals
.powercord-toast[data-toast-type=danger] .icon {
    color: var(--danger) !important;
}
.powercord-toast[data-toast-type=success] .icon {
    color: var(--online) !important;
}
.powercord-toast .contents .inner {
    @include card(4);
}


// Settings consistent shit
.h2-2gWE-o:first-child {
    font-size: 20px;
	line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
}
// FUNNY CARD HAHAHAHAHHAHAHAH
.powercord-entities-manage-tabs {
    @include card(4);
}

// Powercord toasts
.powercord-toast {
	@include card(8);
}
.powercord-toast .header {
	@include card(2, $background: false);
}
.powercord-toast .contents .inner {
	@include card(1, $background: false);
}

// Powercord license thing
.modal-yWgWj- {
	@include card(4);
}
.powercord-product-license-modal-data.conditions span:before {
	background-color: var(--accent) !important;
}
.powercord-product-license-modal-data.limitations span:before {
	background-color: var(--danger) !important;
}
.powercord-product-license-modal-data.permissions span:before {
	background-color: var(--online) !important;
}