@import "../../config";

// Despite the name being that of the BD modded client, this file contains
//      numerous quality of life enhancements for discord, everything BD specific
//      is in /mod_clients/betterdiscord/

ul.tree-3agP2X:focus {
    outline-color: transparent;
}
// Fix for web not inheriting color
.bsi-clientStatuses svg, .bsi-statusIcon {
    color: inherit;
}

// unread second monitor experience
html:not(.app-focused) .isUnread-3Lojb- {
    border-color: transparent;
}
.isUnread-3Lojb- {
    transition: 0.2s;
}

// stock light theme is shit
.theme-light .headerNormal-T_seeN .headerTag-2pZJzA {
    color: #848484;
}

// Fix for more status indicators thing being misaligned and fucking up your ocd
.bsi-clientStatuses svg, .bsi-statusIcon {
    margin-top: -4px;
}

// Light theme improvements
.theme-light {
    & .keybind-13vtq8,
    & .text-27cdrj,
    & .title-2CL_z0 {
        color: var(--text-semidark);
    }
    & .lighten-1KubYe {
        opacity: 0.46;
    }
}

// Dark theme improvements
.theme-dark .gemWithoutLabel-1od40y {
    color: var(--text-muted);
}

// Hide stagehouse discovery
@if $remove_stagehouse_discovery {
    .container-1oeRFJ[href*="/discovery"] {
        display: none;
    }
}

// Hide nitro tab - you have settings
@if $remove_nitro_in_dms {
    .container-1oeRFJ[href*="/store"] {
        display: none;
    }
}

// Taken from CSS Snippets @ Powercord by @Davri#0015
// https://canary.discord.com/channels/538759280057122817/755005803303403570/865924297977102365
// Why is this not properly centered wtf
.assetsLargeMaskVoiceChannel-3IlDCA {
    -webkit-mask-size: cover;
}
// fix close button being draggable
.closeButton-PCZcma {
    -webkit-app-region: none;
}

// fuck upsells theyre only there to make you shill your wallet
.buttonShine-p5V5TB {
    animation: none !important;
    visibility: hidden;
}

// Replace the square spinners with the new circulare spinners (discord pls i swear be consistent use the same assets ffs)
.spinner-2RT7ZC:not(.spinningCircle-CmRLnP) .inner-26JK4f:not(.pulsingEllipsis-10G8Z6) {
    
    background-color: var(--accent);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-webkit-animation: spinner-spinning-circle-rotate-377lhj 2s linear infinite;animation: spinner-spinning-circle-rotate-377lhj 2s linear infinite;height: 100%25;width: 100%25;' viewBox='25 25 50 50'%3E%3Cstyle type='text/css'%3E:root%7B --accent: black;%0A%7D%0A@-webkit-keyframes spinner-spinning-circle-rotate-377lhj %7B to %7B -webkit-transform: rotate(1turn); transform: rotate(1turn) %7D%0A%7D @keyframes spinner-spinning-circle-rotate-377lhj %7B to %7B -webkit-transform: rotate(1turn); transform: rotate(1turn) %7D%0A%7D @-webkit-keyframes spinner-spinning-circle-dash-YaFg25 %7B 0%25 %7B stroke-dasharray: 1,200; stroke-dashoffset: 0 %7D 50%25 %7B stroke-dasharray: 130,200 %7D to %7B stroke-dasharray: 130,200; stroke-dashoffset: -124 %7D%0A%7D @keyframes spinner-spinning-circle-dash-YaFg25 %7B 0%25 %7B stroke-dasharray: 1,200; stroke-dashoffset: 0 %7D 50%25 %7B stroke-dasharray: 130,200 %7D to %7B stroke-dasharray: 130,200; stroke-dashoffset: -124 %7D%0A%7D%0A%3C/style%3E%3Ccircle cx='50' cy='50' r='20' style='-webkit-animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; stroke-dasharray: 1,200; stroke-dashoffset: 0; fill: none; stroke-width: 6; stroke-miterlimit: 10; stroke-linecap: round; -webkit-animation-delay: .23s; animation-delay: .23s; stroke: var(--accent);'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='20' style='-webkit-animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; stroke-dasharray: 1,200; stroke-dashoffset: 0; fill: none; stroke-width: 6; stroke-miterlimit: 10; stroke-linecap: round; -webkit-animation-delay: .23s; animation-delay: .23s; stroke: var(--accent);'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='20' style='-webkit-animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; animation: spinner-spinning-circle-dash-YaFg25 2s ease-in-out infinite; stroke-dasharray: 1,200; stroke-dashoffset: 0; fill: none; stroke-width: 6; stroke-miterlimit: 10; stroke-linecap: round; -webkit-animation-delay: .23s; animation-delay: .23s; stroke: var(--accent);'%3E%3C/circle%3E%3C/svg%3E");
    -webkit-mask-size: clamp(48px, 50%, 16px);
    -webkit-mask-repeat: no-repeat;
    width: 48px;
    height: 48px;

    & .wanderingCubesItem-3Us-UG {
        display: none;
    }
}

// dont clip replies (helps when italics / bold)
.repliedTextContent-2hOYMB {
    padding-right: 1px;
}
