// Only shows the settings icon, and shows all other icons on hover

// Base on https://canary.discord.com/channels/538759280057122817/755005803303403570/821887263851675698

$width: 32px;
@import '../material/card';
@import "../../config";

@if $collapse_settings {

    // Edge case
    .container-1qIct8 {
        z-index: 1;
        // Fix unread pills breaking because of this
        &.unread-XRkyaQ {
            z-index: 2;
        }
    }

    .container-YkUktl {
        position: relative;
    }

    .panels-3wFtMD>.container-YkUktl>.flex-2S1XBF{
        position: absolute;
        flex-direction: column;
        bottom: var(--settings-padding);
        //left: calc(var(--channels-width) - var(--settings-padding) - (#{$width} + 10px));
        right: var(--settings-padding);
        z-index: 12;
        padding: 5px;
        border-radius: 4px;
        max-height: $width;
        transition: max-height 0.2s ease-in-out, box-shadow 0.3s ease;
        box-shadow: none;

        &:hover {
            max-height: 500px;
            @include card(4);
        }
    }
    .panels-3wFtMD>.container-YkUktl>.flex-2S1XBF>:not(:last-child){
        height: 0;
        opacity: 0;
        transition: opacity 0.2s linear, height 0.2s ease-in-out;
    }
    .panels-3wFtMD>.container-YkUktl>.flex-2S1XBF:hover>:not(:last-child){
        height: 32px;
        opacity: 1;
    }
    .nameTag-sc-gpq {
        margin-right: 25px;
    }

    // Fix tooltips
    .layer-2aCOJ3.disabledPointerEvents-2AmYRc {
        &[style*="bottom: 54"][style^="position: absolute; left: 2"],
        &[style*="bottom: 86"][style^="position: absolute; left: 2"],
        &[style*="bottom: 118"][style^="position: absolute; left: 3"],
        &[style*="bottom: 150"][style^="position: absolute; left: 2"] {
            & .tooltip-14MtrL.tooltipTop-1wv5UJ.tooltipPrimary-3qLMbS.tooltipDisablePointerEvents-1huO19 {
                transform: translate(calc(-50% - 30px), 40px) !important;
                & .tooltipPointer-3L49xb {
                    margin-left: -1px;
                    left: unset;
                    margin-top: -5px;
                    left: 100%;
                    top: 50%;
                    border-right-width: 5px;
                    -webkit-transform: rotate(270deg);
                    transform: rotate(270deg);
                }
            }
        }
    }

    // Fix VC icons being misaligned
    .actions-zk2vB_,
    .connection-3k9QeF {
        margin-right: var(--settings-padding);
    }

    // Z-indexing breaks with unreads; make this appear on top!
    .panels-3wFtMD {
        z-index: 3;
    }
}
