// Collapsing search

// Based on https://canary.discord.com/channels/538759280057122817/755005803303403570/824363024701063198

@import "../../config";

@if $collapse_search {
	
	.search-1FM8Qc:not(.open-3y3yI_) .searchBar-zdmu7v
	{
		width: 27px;
		transition: 0.25s;
		background-color: transparent;
	}
	.search-1FM8Qc:not(.open-3y3yI_):hover .searchBar-zdmu7v
	{
		width: 240px;
		transition: 0.25s;
		background-color: transparent;
		// background-color: var(--background-tertiary);
	}
	.search-1FM8Qc:not(.open-3y3yI_) .iconContainer-1RqWJj
	{
		transform: scale(1.2);
		transition: 0.25s;
	}
	.search-1FM8Qc:not(.open-3y3yI_):hover .iconContainer-1RqWJj
	{
		transform: scale(1);
		transition: 0.25s;
	}
	.icon-18rqoe {
		color: var(--interactive-normal);
	}
}
