@import "../../config";

@if $space_dash {
		
	// Font which replaces dash with space
	@font-face {
		font-family: 'No Dash';
		src:url(https://hekkerstech.tips/pixelcord/res/noDash.ttf) format('truetype'),
			url(https://hekkerstech.tips/pixelcord/res/noDash.woff2) format('woff2');
		unicode-range: U+002D;
	}

	// sidebar
	.sidebar-2K8pFh .mainContent-u_9PKf[href] .channelName-2YrOjO {
		font-family: 'No Dash', var(--font-header);
	}

	// One mention => channel
	.wrapper-3WhCwL[class="wrapper-3WhCwL mention interactive"] {
		font-family: 'No Dash', var(--font-header);
	}

	// Autocomplete
	.autocompleteRowVertical-q1K4ky[data-list-item-id*="channel-autocomplete"] .autocompleteRowContentPrimary-238PvP:last-child .colorInteractiveActive-3Ip9Eu {
		font-family: 'No Dash', var(--font-header);
	}

	// Quickswitcher
	// CSS Limitation: we cant select properly bc we need a look ahead selector or something
	.quickswitcher-3JagVE .result-oB0z-- .match-38WbBN {
		font-family: 'No Dash', var(--font-header);
	}

	// New channel
	.content-3YMskv .emptyChannelIcon-cc932w ~ .size32-o_H79z {
		font-family: 'No Dash', var(--font-header);
	}

	// We cant do the description because we cant select text nodes using CSS...

	.title-3qD0b- {
		&[aria-label='Channel header'],
		&[aria-label='频道标题'],
		&[aria-label='頻道表頭'],
		&[aria-label='Hlavička kanálu'],
		&[aria-label='Kanaloverskrift'],
		&[aria-label='Kanaalheader'],
		&[aria-label='En-tête du salon'],
		&[aria-label='Kanalüberschrift'],
		&[aria-label='Τίτλος καναλιού'],
		&[aria-label='Csatornafejléc'],
		&[aria-label='Intestazione canale'],
		&[aria-label='チャンネルのヘッダー'],
		&[aria-label='채널 헤더'],
		&[aria-label='Nagłówek kanału'],
		&[aria-label='Cabeçalho do canal'],
		&[aria-label='Заголовок канала'],
		&[aria-label='Encabezado del canal'],
		&[aria-label='Kanalrubrik'],
		&[aria-label='Kanal başlığı'],
		&[aria-label='Заглавие на канал'],
		&[aria-label='Заголовок каналу'],
		&[aria-label='Kanavan otsikko'],
		&[aria-label='Zaglavlje kanala'],
		&[aria-label='Antetul canalului'],
		&[aria-label='Kanalo antraštė'],
		&[aria-label='ส่วนหัวของช่อง'],
		&[aria-label='Tiêu đề kênh'],
		&[aria-label='चैनल हैडर']
		{
			// Textbox
			& ~ .content-yTz4x3 .placeholder-37qJjk,
			// title
			& .iconWrapper-2OrFZ1 + .title-29uC1r {
				font-family: 'No Dash', var(--font-header);
			}
		}
	}
}