// fuck welcome sticker CTAs
.welcomeCTA-2orRfU {
	display: none;
}

// also fuck stickers
// .clickableSticker-3HmpgV {
// 	& .assetWrapper-3GNt0z {
// 		display: none;
// 	}
// 
// 	&::after {
// 		content: var(--sticker-substitute-text);
// 		display: block;
// 		height: 1rem;
// 
// 		color: var(--sticker-substitute-color);
// 		font-weight: 400;
// 		font-style: italic;
// 	}
// }

.message-2qnXI6 {
	.stickerAsset-13j1W0 {
		position: relative;
		height: 160px;
		width: 160px;

		&[alt*=", Choco, "],
		&[alt*=", Sup, "],
		&[alt*=", Scream, "],
		&[alt*=", Wave, "]  {

			content: var(--sticker-substitute-text);
			display: block;
			height: 0;
			padding-top: 1rem;
			width: fit-content;

			background-color: var(--sticker-substitute-color);
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' fill='black' font-family='Google Sans' font-weight='400' font-style='italic'%3E*sticker*%3C/text%3E%3C/svg%3E");
		}
	}

	.clickableSticker-3HmpgV {
		& > div[aria-label*=", Choco, "],
		& > div[aria-label*=", Sup, "],
		& > div[aria-label*=", Scream, "],
		& > div[aria-label*=", Wave, "] {
			& .stickerAsset-13j1W0 {
				display: none;
			}

			&::after {
				content: var(--sticker-substitute-text);
				display: block;
				height: 1rem;

				color: var(--sticker-substitute-color);
				font-weight: 400;
				font-style: italic;
			}
		}
	}

	.assetWrapper-3GNt0z {
		height: fit-content !important;
		width: fit-content !important;
	}
}

.buttons-3JBrkn .stickerButton-3OEgwj {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
}