.menu-3sdvDG {
  --context-menu-icon-color: currentColor;
}

.menu-3sdvDG .item-1tOPte::before {
  content: "";
  width: 22px;
  height: 22px;
  left: 15px;
  margin-right: 6px;
  margin-top: -2px;
  background: var(--context-menu-icon-color);
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  flex-shrink: 0;
  --icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 447 447'%3E%3Cpath d='M182.5 78.6l70-70c11.9-11.9 31.2-11.9 43.1 0s11.9 31.2 0 43.1l-70 70zm91.7 91.7l70-70c11.9-11.9 31.2-11.9 43.1 0s11.9 31.2 0 43.1l-70 70zM303 257L138.9 92.9c-2.7-2.7-2.7-7 0-9.7L163 59.1c2.7-2.7 7-2.7 9.7 0l164.1 164.1c2.7 2.7 2.7 7 0 9.7L312.7 257c-2.7 2.7-7 2.7-9.7 0zm-146.6 75.4l-92.9-92.9c-17-17-17-44.6 0-61.6l85.1-85.1L303 247.4l-85 85c-17 17-44.7 17-61.6 0zm-61-2.9l-29-29c-2.7-2.7-2.7-7 0-9.7l29-29 38.7 38.7-29 29c-2.7 2.6-7 2.6-9.7 0zm48.3 115.8L81 382.6c-21.3-21.3-21.3-55.9 0-77.2l9.7 9.7c-16 16-16 42 0 57.9l62.8 62.8c2.7 2.7 2.7 7 0 9.7s-7.1 2.5-9.8-.2z'/%3E%3C/svg%3E");
}
.submenu-2-ysNh .item-1tOPte::before {
  content: none;
}
.menu-3sdvDG#status-picker .item-1tOPte::before {
  content: none;
}
.item-1tOPte.hideInteraction-1iHO1O::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-0]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-1]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-2]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-3]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-4]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-5]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-6]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-7]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-8]::before {
  content: none;
}
.item-1tOPte[id^=now-playing-menu-9]::before {
  content: none;
}
.item-1tOPte[role=menuitemcheckbox] {
  flex-direction: row-reverse;
}
.item-1tOPte[role=menuitemcheckbox]::before {
  content: none;
}
.item-1tOPte[role=menuitemcheckbox] > .iconContainer-2-XQPY {
  margin-left: 0;
}
.item-1tOPte[role=menuitemcheckbox] > .label-22pbtT {
  margin-left: 8px;
}

.item-1tOPte[id|=now-playing-menu-spotify-play]::before {
  --icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23fff' d='M12.761 7.08c-2.581-1.534-6.84-1.675-9.303-.926a.749.749 0 1 1-.435-1.435c2.828-.859 7.53-.693 10.502 1.072a.75.75 0 0 1-.764 1.29Zm-.015 2.298a.627.627 0 0 1-.862.206c-2.16-1.327-5.454-1.711-8.01-.936A.627.627 0 0 1 3.51 7.45c2.92-.885 6.549-.456 9.03 1.067a.626.626 0 0 1 .206.86Zm-1.035 2.165a.499.499 0 0 1-.689.167c-1.886-1.159-4.26-1.42-7.056-.779a.503.503 0 0 1-.223-.981c3.06-.703 5.684-.4 7.802.9.236.145.31.456.166.693ZM0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8Z'%3E%3C/path%3E%3C/svg%3E");
}

.item-1tOPte#user-settings-cog-My_Account::before {
  --icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px'%3E%3Cpath d='M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z'/%3E%3C/svg%3E");
}

.item-1tOPte#user-settings-cog-powercord-actions::before {
  --icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 447 447'%3E%3Cpath d='M182.5 78.6l70-70c11.9-11.9 31.2-11.9 43.1 0s11.9 31.2 0 43.1l-70 70zm91.7 91.7l70-70c11.9-11.9 31.2-11.9 43.1 0s11.9 31.2 0 43.1l-70 70zM303 257L138.9 92.9c-2.7-2.7-2.7-7 0-9.7L163 59.1c2.7-2.7 7-2.7 9.7 0l164.1 164.1c2.7 2.7 2.7 7 0 9.7L312.7 257c-2.7 2.7-7 2.7-9.7 0zm-146.6 75.4l-92.9-92.9c-17-17-17-44.6 0-61.6l85.1-85.1L303 247.4l-85 85c-17 17-44.7 17-61.6 0zm-61-2.9l-29-29c-2.7-2.7-2.7-7 0-9.7l29-29 38.7 38.7-29 29c-2.7 2.6-7 2.6-9.7 0zm48.3 115.8L81 382.6c-21.3-21.3-21.3-55.9 0-77.2l9.7 9.7c-16 16-16 42 0 57.9l62.8 62.8c2.7 2.7 2.7 7 0 9.7s-7.1 2.5-9.8-.2z'/%3E%3C/svg%3E");
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22context_icons.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAgDC;EACC;;;AAMA;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAGA;;AAxDF;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AADD;EACC;;AA8EA;EAzED;;AANA;EACC;;AAOD;EACC;;AAGD;EACC;;;AAUA;EACC;;;AALD;EACC;;;AADD;EACC%22,%22file%22:%22context_icons.css%22%7D */
