// fuck welcome sticker CTAs
.welcomeCTA-3GMMRK {
	display: none;
}

// also fuck stickers
// .clickableSticker-3FN2_L {
// 	& .assetWrapper-2hzITV {
// 		display: none;
// 	}
// 
// 	&::after {
// 		content: var(--sticker-substitute-text);
// 		display: block;
// 		height: 1rem;
// 
// 		color: var(--sticker-substitute-color);
// 		font-weight: 400;
// 		font-style: italic;
// 	}
// }

.message-2CShn3 {
	.stickerAsset-4c7Oqy {
		position: relative;
		height: 160px;
		width: 160px;

		&[alt*=", Choco, "],
		&[alt*=", Sup, "],
		&[alt*=", Scream, "],
		&[alt*=", Wave, "]  {

			content: var(--sticker-substitute-text);
			display: block;
			height: 0;
			padding-top: 1rem;
			width: fit-content;

			background-color: var(--sticker-substitute-color);
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.828 9.948 44.004 8.7l-.012-.096-1.224-.456.336-.768 1.248.48.072-.024.252-1.428h.84l-.252 1.428.072.024 1.272-.444.264.78-1.404.516-.048.084.684 1.188-.78.504-.672-1.212h-.084l-1.104 1.212zM38.4 8.88h.96l-.156.912h.048q.24-.504.792-.792.564-.3 1.176-.3.432 0 .708.12l-.204 1.116q-.3-.204-.828-.204-.432 0-.864.252-.42.252-.72.684-.288.42-.372.912l-.6 3.42h-1.02zm-4.944 6.312q-.828 0-1.452-.372-.624-.384-.96-1.02-.324-.648-.324-1.416 0-.96.432-1.812.432-.852 1.224-1.368.792-.516 1.812-.516.792 0 1.368.348.576.348.876.948.3.588.3 1.284 0 .516-.108.864h-4.848q-.024.24-.024.384 0 .528.24.936.252.396.648.612.408.204.864.204.708 0 1.2-.288.504-.3.84-.852l.78.444q-.456.792-1.188 1.212-.732.408-1.68.408zm2.256-3.9v-.168q0-.396-.192-.744t-.564-.552q-.372-.216-.888-.216-.768 0-1.344.48-.564.468-.78 1.2zm-9.528-4.884h1.008l-.936 5.328 3.3-2.856h1.38l-.012.048-2.856 2.424 1.824 3.6-.012.048h-1.188l-1.44-2.952-1.236 1.056L25.68 15h-1.008zm-5.304 8.784q-.78 0-1.392-.384-.6-.384-.936-1.032-.336-.648-.336-1.404 0-1.02.456-1.86.456-.84 1.272-1.332.816-.492 1.848-.492.984 0 1.608.492.624.492.828 1.2l-.948.372q-.168-.54-.588-.84-.408-.3-1.02-.3-.66 0-1.212.348-.552.348-.876.96-.324.612-.324 1.38 0 .84.48 1.404.492.564 1.284.564.624 0 1.116-.3.492-.312.792-.864l.816.396q-.48.864-1.176 1.284-.684.408-1.692.408zm-3.492-7.44q-.3 0-.516-.216-.216-.216-.216-.516 0-.312.216-.516.216-.216.516-.216.312 0 .516.216.216.204.216.516 0 .3-.216.516-.204.216-.516.216zm-.852 1.128h1.02L16.476 15h-1.008zm-3.276 6.216q-.636 0-1.032-.36-.396-.372-.396-.972 0-.276.06-.588l.6-3.372h-1.08l.168-.924h1.068l.312-1.728h1.008l-.3 1.728h1.5L15 9.804h-1.5l-.576 3.252q-.048.276-.048.468 0 .3.18.468.192.156.504.156.384 0 .732-.204l-.168.996q-.384.156-.864.156zm-5.604.096q-.972 0-1.608-.468-.636-.468-.84-1.212l.972-.384q.12.552.564.864.444.3 1.008.3.588 0 .96-.276.384-.276.384-.696 0-.372-.252-.612-.252-.252-.78-.384l-.612-.156q-.732-.192-1.164-.6-.42-.408-.42-1.032 0-.516.3-.936.312-.432.864-.672.552-.24 1.236-.24.816 0 1.428.384.624.384.828 1.008l-.972.372q-.144-.384-.504-.612-.348-.24-.84-.24-.576 0-.936.24-.348.24-.348.624 0 .264.228.492.228.228.66.336l.792.204q.72.18 1.128.624.42.444.42 1.08 0 .9-.672 1.452-.66.54-1.824.54zm-6.42-5.244L2.412 8.7 2.4 8.604l-1.224-.456.336-.768 1.248.48.072-.024.252-1.428h.84l-.252 1.428.072.024 1.272-.444.264.78-1.404.516-.048.084.684 1.188-.78.504-.672-1.212h-.084l-1.104 1.212z'/%3E%3C/svg%3E");
		}
	}

	.clickableSticker-3FN2_L {
		& > div[aria-label*=", Choco, "],
		& > div[aria-label*=", Sup, "],
		& > div[aria-label*=", Scream, "],
		& > div[aria-label*=", Wave, "] {
			& .stickerAsset-4c7Oqy {
				display: none;
			}

			&::after {
				content: var(--sticker-substitute-text);
				display: block;
				height: 1rem;

				color: var(--sticker-substitute-color);
				font-weight: 400;
				font-style: italic;
			}
		}
	}

	.assetWrapper-2hzITV {
		height: fit-content !important;
		width: fit-content !important;
	}
}

// Hide in message box
.buttons-uaqb-5 .stickerButton-1-nFh2 {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
}
