@import "../../../config";

.h5-2RwDNl[id*=gm-settings-header] {
	cursor: pointer;
}

@if $animations {
	.privateChannelsHeaderContainer-1UWASm {
		& .privateChannelRecipientsInviteButtonIcon-1ObKXK {
			transition: transform 150ms ease-in,
						left 150ms ease-in,
						top 150ms ease-in;
		}
	}
	.vertical-3aLnqW,
	.container-1zDvAE {
		&[style*="display: block;"],
		&[style=""],
		&[style*="display: none;"] {
			display: block !important;
			opacity: 1;
			height: auto;
			max-height: 100000px;
			@if $animations {
				transition: 150ms ease-in-out;
			}
		}
		&[style*="display: none;"] {
			height: 0;
			opacity: 0;
			margin-bottom: 0;
		}
	}
}
