@import "../../../config";
@import "../../material/card";

// Fix overflow bug in themes store
.gm-store-category > :nth-child(2) {
	overflow-y: hidden;
}
// Store
#gm-settings-inject {
	.theme-light & {
		background-color: cardbg(0, false) !important;
	}
	.theme-dark & {
		background-color: cardbg(0, true) !important;
	}
	& .gm-store-card > :nth-child(1) {
		background-color: transparent
	}
}
.gm-store-card .title-31JmR4:nth-child(2) {
	color: rgb(235, 235, 235);
}

.gm-store-card {
	@include card(4);
}

// Descriptions can overflow making the card look bad
.gm-store-card .gm-settings-note-markdown {
    max-height: 110px;
	&::after {
		content: "";
		height: 1rem;
		width: 4rem;
		position: absolute;
		right: 70px;
		bottom: 58px;
		.theme-light & {
			background: linear-gradient(90deg, transparent, cardbg(4, false));
		}
		.theme-dark & {
			background: linear-gradient(90deg, transparent, cardbg(4, true));
		}
	}
}

// Change previews on goosemod stores
.gm-store-card > img:first-child {
	&:not([src]) {
		font-size: 0;
		background-size: cover;
		// We use the full URL here because otherwise it would load from the github smh
		.theme-dark & {
			background-image: url(https://canary.discord.com/assets/d03d90cb6f12a7ea06274b278dfa4160.svg);
		}
		.theme-light & {
			background-image: url(https://canary.discord.com/assets/7b6ed225050df29a07cb5db712d35a73.svg);
		}
	}
	&[src] {
		cursor: pointer;
	}
}
.gm-store-card > :nth-child(5) > :nth-child(2) {
	width: 125% !important;
}

// Refresh animation is slow
.updateAvailable-qNqOs7 {
	animation: 1s linear 0s infinite normal none running spin-3elCWT;
}

// Home: animation collapse
// Ideally goosemod would shove both the home and store pages into a div for easier styling but that isnt how goosemod works, so we make due with what we got and :pain:
#gm-home-plugins,
#gm-home-themes {
	&[style*="display: block;"],
	&[style*="display: none;"] {
		display: block !important;
		opacity: 1;
		height: 44px;
		@if $animations {
			transition: opacity 0.25s ease-in-out, height 150ms ease-in-out;
		}
	}
	&[style*="display: none;"] {
		height: 0;
		opacity: 0;
	}
}

// Image Carousel
.gm-carousel-modal {
	@include card(2);
	.theme-light & {
		& .dotSelected-3RYKgX {
			background-color: black;
		}
		& .dotNormal-9wUKKy {
			background-color: #696969;
		}
		& .arrow-vOpU7R {
			color: black;
		}
	}
}