.sidebar-nqHbhN .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	// Mod client specific ones

	// GOOSEMOD
	&[aria-controls="gm-settings-tab" i]::after {
		content: "Goosemod Settings";
	}
	&[aria-controls="gm-changelog-tab" i]::after {
		content: "Goosemod Changelog";
	}
	&[aria-controls="gm-custom-css-tab" i]::after {
		content: "Custom CSS";
	}
	&[aria-controls="gm-fucklytics-tab" i]::after {
		content: "Fucklytics";
	}

	// Temporary hacks until i find a way to yeet the gm- and -tab :/
}
