// Inject into settings menu
.item-PXvHYJ {

}
// Settings sidebar
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-light .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	&, &:hover:not(.disabled-1Hwwfb) {
		background-color: var(--accent-transparent);
		color: var(--accent);
		font-weight: var(--weight-header);
	}
    & .colorInteractiveActive-3Ip9Eu {
        color: currentColor;
    }
}
// Nitro tabs are special
.serverBoostTabItem-2hFTIN[aria-selected=true],
.premiumTabItem-1QTfBr[aria-selected=true] {
	background-color: var(--accent-transparent) !important;
	color: var(--accent) !important;
}