@import '../buildvars';
@import '../utils';
@import '../material_design/ripple';

$titlePadding: calc(0.5 * (var(--settings-header-height) - 12px));
$titleLeftPadding: calc((var(--settings-header-height) + 6px));
$backButtonPadding: calc(0.5 * (var(--settings-header-height) - 18px));

// Inject into settings menu
.layer-3QrUeG[aria-label="USER_SETTINGS"] .sidebar-CFHs9e::after {
	// Text
	@if ($DEBUG == true) {
		content: 'Pixelcord #{$version} DEV';
	} @else {
		content: 'Pixelcord #{$version}';
	}

	// Positioning
	display: block;
	margin-top: 8px;
	padding: 8px 10px;

	// Separator
	border-top: 1px solid var(--background-modifier-accent);

	// Info css
	text-transform: capitalize;
	outline: 0;

	// Font
	font-size: 12px;
	line-height: 16px;
	color: var(--text-muted);
}

// Settings sidebar
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ {
	@include ripple;
}

// Items should be "material you"
.side-8zPYf6 .item-PXvHYJ {
	height: var(--settings-item-height);
	border-radius: calc(0.5 * var(--settings-item-height));
}
// sidebar padding
.sidebar-CFHs9e {
	padding: 60px var(--sidebar-right-padding) 60px var(--sidebar-left-padding);
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-light .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	&, &:hover:not(.disabled-1Hwwfb) {
		background-color: var(--accent-transparent);
		color: var(--accent);
		font-weight: var(--weight-header);
	}

	& .colorInteractiveActive-3Ip9Eu {
		color: currentColor;
	}
}

// Yeet whitespace on the left of the sidebar bc yeds
.sidebarRegion-VFTUkN {
	flex: 0;
}

// Nitro tabs are special
.serverBoostTabItem-2hFTIN[aria-selected=true],
.premiumTabItem-1QTfBr[aria-selected=true] {
	background-color: var(--accent-transparent) !important;
	color: var(--accent) !important;
}
.selectedBackground-2KQZ6B {
	background-color: transparent;
}
.selected-2GV18F {
	color: inherit;
}

// Add ripple to the sidebar
.side-8zPYf6 .item-PXvHYJ {
	@include ripple;
}

// red items should use the theme var
.side-8zPYf6 .item-PXvHYJ[style^="color: hsl(359,"] {
	color: var(--red) !important;
}

// red selected
.side-8zPYf6 .item-PXvHYJ[style^="color: hsl(0,"][style*="background-color: hsl(359"] {
	color: var(--red-text) !important;
	background-color: var(--red) !important;
}

// 'Google' settings
// Break the title to the text
.contentColumnDefault-1VQkGM .subscriptionDetails-1pYrMz > .title-3sZWYQ:first-of-type,
.contentColumnDefault-1VQkGM > div:first-child > div:first-child > .sectionTitle-2vauyC:first-of-type,
.contentColumnDefault-1VQkGM > div:first-child > .sectionTitle-2vauyC:first-of-type,
.contentColumnDefault-1VQkGM > div:first-child > .title-3sZWYQ:first-child, // TODO: revert to first-of-type?
.customContainer-1RHXqt .content-2HgFLu > div:first-child > div:first-child > .title-3sZWYQ:first-of-type,
.customContainer-1RHXqt .content-3YMskv > div:nth-child(2) > .title-3sZWYQ:first-of-type,
.customContainer-1RHXqt .content-3YMskv > div:nth-child(2) > .sectionTitle-2vauyC > .title-3sZWYQ:first-of-type,
.contentTransitionWrap-3hqOEW > div > .contentColumn-2hrIYH > .title-3sZWYQ:first-of-type,
.contentTransitionWrap-3hqOEW > div > .contentColumn-2hrIYH > .breadcrumbs-313Q_y:first-of-type {
	// Position the title
	position: fixed;
	// top: calc(0.5 * (var(--settings-header-height) - 12px));
	// left: 75px;
	top: $titlePadding;
	left: $titleLeftPadding;
	z-index: 5;

	&, & > h1, & > h2 {
		// Style the title
		color: var(--accent-text);
		font-size: 20px;
		line-height: 24px;
		font-weight: var(--weight-header);
		text-transform: none;
	}
}

// Some settings don't have a title, so let's add one anyway

@mixin forceTitle($text) {
	&:first-of-type::before {
		content: $text;

		position: fixed;
		// top: calc(0.5 * (var(--settings-header-height) - 12px));
		// left: 75px;
		top: $titlePadding;
		left: $titleLeftPadding;
		z-index: 5;
		color: var(--accent-text);
		font-size: 20px;
		line-height: 24px;
		font-weight: var(--weight-header);
	}
}

.layer-3QrUeG[aria-label$="SETTINGS"] {

	// Nitro
	.content-2c3hgM > .marketingRefreshSectionTier1-dRwS-6 {
		@include forceTitle('Nitro');
	}

	// Boosts
	.content-3BhRLj > div > .marketingLogo-1D8DV6 {
		@include forceTitle('Server Boost');
	}

	// Payment method
	.paymentHistory-2FXzro > .title-3sZWYQ {
		@include forceTitle(var(--i18n-payment, 'Billing'));
	}

	// Activate community
	.banner-2zWlOa + .size24-RIRrxO {
		@include forceTitle('Community');
	}

	// Partnership
	.banner-2AwsUs + .size24-RIRrxO {
		@include forceTitle(var(--i18n-partnership, 'Partnership'));
	}

	// Discovery
	.discoverPreview-3q1szX {
		@include forceTitle(var(--i18n-discovery, 'Discovery'));
	}

	// Threads
	.banner-2G2Kv6 + .size24-RIRrxO {
		@include forceTitle('Thread');
	}

	// Roles editor
	.sidebar-dLM-kh {
		@include forceTitle(var(--i18n-roles, 'Roles'));
	}

	// hypesquad
	.intro-325xRx {
		@include forceTitle(var(--i18n-hypesquad, 'HypeSquad'));
	}

	// TODO: Premium title whenever they add the page
}

// Make the sidebar wider
.sidebar-CFHs9e {
	width: var(--settings-sidebar-width);
}

// Make space for the blue bar
.layer-3QrUeG[aria-label=RTC_DEBUG] .standardSidebarView-3F1I7i,
.layer-3QrUeG[aria-label$="SETTINGS"] .standardSidebarView-3F1I7i {
	top: calc(var(--settings-header-height) - 24px);;

	// Create the headerbar
	&::before {
		content: '';
		position: fixed;
		z-index: 3;
		background-color: var(--accent);
		width: 100%;
		height: var(--settings-header-height);
		left: 0;
		top: 0;


	}
}

// <- Button in settings
.toolsContainer-1edPuj {
	// Reposition it
	position: fixed;
	left: $backButtonPadding;
	top: $backButtonPadding;
	padding-top: 0;

	// Make it appear on top
	z-index: 5;

}

// Replace the back button with an arrow back
.closeButton-1tv5uR {
	border-radius: 0;
	@include theming {
		border-color: transparent;
		&:hover {
			background-color: transparent;
		}
	}

	& > svg {
		width: 24px;
		height: 24px;
	}

	& path {
		d: path("M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z");
	}
}

.closeButton-1tv5uR:hover + .keybind-KpFkfr {
	opacity: 1;
	transform: scale(1);
}

// Turn ESC into a funny tooltip
.closeButton-1tv5uR + .keybind-KpFkfr {
	font-size: 0;
	opacity: 0;
	transform: scale(0);
	visibility: hidden;

	&::after {
		content: "";
		visibility: visible;

		padding: 0;
		overflow-wrap: break-word;
		text-rendering: optimizelegibility;
		user-select: none;
		vertical-align: baseline;

		pointer-events: none;

		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: var(--tooltip-bg);

		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		transition: var(--tooltip-animation);
	}

	&::before {
		content: var(--i18n-back, "Back");
		visibility: visible;
		position: relative;
		top: 8px; // Space

		background-color: var(--tooltip-bg);
		border-radius: 4px;
		padding: 8px;
		line-height: 14px;
		font-weight: 500;
		font-size: 13px;
		color: var(--tooltip-text);
		transition: var(--tooltip-animation);
		pointer-events: none;
	}
}