$transition_delay: 0.175s;
$transition_duration: 0.2s;

.membersWrap-2h-GB4 {
	min-width: 25px;
	width: 25px !important;
	// Actual container
	& .members-1998pB {
		width: 1px !important;
		& .member-3-YXUe {
			opacity: 0;
		}
		& .membersGroup-v9BXpm {
			opacity: 0;
		}
	}

	&:hover {
		width: var(--members-width) !important;
		.members-1998pB {
			width: var(--members-width) !important;
			& .member-3-YXUe {
				opacity: 1;
			}
			& .membersGroup-v9BXpm {
				opacity: 1;
			}
		}
	}
}
//@if $animations
//{
	.membersWrap-2h-GB4 {
		transition: $transition_duration ease $transition_delay;
		& .members-1998pB {
			transition: $transition_duration ease $transition_delay;
			& .member-3-YXUe,
			& .membersGroup-v9BXpm {
				transition: $transition_duration ease-in-out $transition_delay;
			}
		}
	}
//}