$transition_delay: 0.175s;
$transition_duration: 0.2s;

.sidebar-1tnWFu {
	transition: $transition_duration ease $transition_delay;
	width: 0px;
	min-width: 0px;
	resize: none;

	& .container-1zzFcN,
	& .panel-2ZFCRb {
		padding: 0;
		transition: $transition_duration ease $transition_delay;
	}
	& .button-12Fmur,
	& .badge-3RBqXG {
		width: 0;
		transition: $transition_duration ease $transition_delay;
	}
	& .searchBar-3TnChZ,
	& .badge-3RBqXG {
		padding: 0;
		transition: $transition_duration ease $transition_delay;
	}
	& .button-38aScr {
		padding: 0;
		transition: $transition_duration ease $transition_delay;
	}
	& .icon-10cLkJ {
		opacity: 0;
		transition: $transition_duration ease-in-out $transition_delay;
	}
	& .container-YkUktl .button-38aScr,
	& .container-YkUktl .button-12Fmur {
		padding: unset;
		width: 32px;
	}

	// Fix the settings icon being out of place
	& .container-YkUktl>.flex-2S1XBF {
		opacity: 0;
		pointer-events: none;
		transition: $transition_duration ease-in-out $transition_delay;
	}
}
.wrapper-1_HaEi:hover + .base-2jDfDU > .content-1SgpWY > .sidebar-1tnWFu,
.sidebar-1tnWFu:hover {
	width: var(--channels-width);
	& .container-1zzFcN,
	& .panel-2ZFCRb {
		padding: 8px;
	}
	& .button-12Fmur {
		width: 32px;
	}
	& .searchBar-3TnChZ {
		padding: 0 10px;
	}
	& .button-38aScr {
		padding: 2px 16px;
	}
	& .badge-3RBqXG{
		padding: 2px;
		width: 14px;
	}
	& .icon-10cLkJ {
		opacity: 1;
	}
	& .container-YkUktl .button-12Fmur {
		padding: unset;
		width: 32px;
	}

	// Fix the settings icon being out of place
	& .container-YkUktl>.flex-2S1XBF {
		pointer-events: auto;
		opacity: 1;
	}
}
