// VC Focused
.border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px var(--accent),inset 0 0 0 3px #000;
}
// User speaking in VC list thing idk
.speaking-3dBKhR,
// User speaking in channels list
.avatarSpeaking-2IGMRN,
.avatarSpeaking-2c8-9i {
	-webkit-box-shadow: inset 0 0 0 2px var(--accent),inset 0 0 0 3px var(--background-secondary);
	box-shadow: 		inset 0 0 0 2px var(--accent), inset 0 0 0 3px var(--background-secondary);
}
// Live Indicator in VCs
.live-vBWnV6 {
	background-color: var(--red) !important;
	color: var(--red-text);
}