// VC Focused
.border-2Vy6FN.speaking-7QZEkv {
	box-shadow: inset 0 0 0 2px var(--accent),inset 0 0 0 3px #000;
}
// User speaking in VC list thing idk
.speaking-3K28iH,
// User speaking in channels list
.avatarSpeaking-2pCGrZ,
.avatarSpeaking-33RRJU {
	-webkit-box-shadow: inset 0 0 0 2px var(--accent),inset 0 0 0 3px var(--background-secondary);
	box-shadow: 		inset 0 0 0 2px var(--accent), inset 0 0 0 3px var(--background-secondary);
}
// Live Indicator in VCs
.live-1V2D-f {
	background-color: var(--red) !important;
	color: var(--red-text);
}
