// Icon packs
@import "../../icons/util";
@import "../../icons/discord";

// Fix the unclear social icon bc PNGs suck
.powercord-pc-icon::before {
	-webkit-mask: #{svg-url(#{map-get($icons-discord, "powercord")})} no-repeat !important;
	background: white;
}

// Updater colors
.powercord-updater .icon path {
	// accent
	&[fill="#7289da"] {
		fill: var(--accent);
	}

	// updated
	&[fill="#43b581"] {
		fill: var(--green);
	}

	// failed bc git threw error
	&[fill="#f04747"] {
		fill: var(--red);
	}
}

.powercord-toast[data-toast-type=danger] .icon {
	color: var(--red);
}

#app-mount {
	// Red should be our red
	& .powercord-settings-item .description-30xx7u strong strong {
		color: var(--red);
	}

	// Yellow beta
	& .powercord-product-details .metadata .version span + div {
		color: var(--yellow);
	}
	
	// Blue debug info
	& .powercord-updater .debug-info b {
		color: var(--accent);
	}
}

// Padding between search box and cards
.powercord-entities-manage-search {
	margin-bottom: 20px;
}

// Toasts
.powercord-toast[data-toast-type=info] .icon {
	color: var(--accent);
}
