@import "../../material/card";
@import "../../../config";

$connected-account-height: 4;

// New loading popout
.loadingPopout-qYljDW {
	@include card(6);
}

.headerFill-adLl4x {
	background-color: transparent;
}
.topSectionPlaying-1J5E4n {
	background-color: var(--accent);
}
.connectedAccount-2Jb-Z0 {
	@include card($connected-account-height);
	border-color: transparent;
}
.betaBadge-1Ve-yb {
	background-color: var(--accent) !important;
}
.aboutMeTitle-2i3lnH,
.bodyTitle-3FWCs2,
.userInfoSectionHeader-3TYk6R,
.headerText-1HLrL7,
.theme-dark  .newPopoutActivityStyles  .headerText-1HLrL7, 
.theme-dark  .newProfileActivityStyles .headerText-1HLrL7,
.theme-light .newPopoutActivityStyles  .headerText-1HLrL7
.theme-light .newProfileActivityStyles .headerText-1HLrL7 {
	font-weight: var(--section-weight);
	font-size: 14px;
	color: var(--header-color);
}
.base-1x0h_U.muted-3-7c5L {
	font-weight: var(--section-weight);
	font-size: 14px;
}
.body-3HBlXn {
	background-color: transparent;
}
.userPopout-xaxa6l {
	background-color: var(--background-floating);
	& .colorStandard-2KCXvj {
		// Stolen from about me css from shitcord :D
		font-size: 14px;
		line-height: 18px;
	}
}

@if $fix_blurry_connection_icons {
	// DISCORD HOW THE FUCK DID YOU NOT GET TRIGGERED BY THIS HOLY SHIT
	.connectedAccountIcon-3_EQqg,
	.connectionIcon-2ElzVe,
	.accountBtnInner-sj5jLs {
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		padding-left: 30px;
		background-size: 32px 32px;
		&[aria-label*="GitHub"],
		&[alt*="GitHub"] {
			background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='32pt' height='32pt' viewBox='0 0 255 255'%3E%3Cpath d='M114 32.1c-35.2 4.5-66.4 30.7-77.9 65.3-16.7 50.4 10.8 104.7 61.3 121.5 50.4 16.7 104.7-10.8 121.5-61.3C241.2 90.1 185.1 22.9 114 32.1z' fill='%23fff'/%3E%3Cpath d='M112 48.4c-15.7 3.3-28.4 10.1-39.9 21C54.9 86 47.6 103.2 47.6 127c-.1 15.2 1.4 21.5 8.5 36 4.5 9 6.4 11.7 14.3 19.6 9.6 9.6 20.7 17.1 29.1 19.4 6.5 1.8 7.5.7 7.5-8.9v-7.6l-5.7.4c-10.7.6-17.7-3.3-21.7-12.3-2.4-5.3-5.4-9-9.5-11.7-3-1.9-2.1-3.9 1.7-3.9s8.6 3.2 12.2 8.2c3.9 5.4 9.4 8.8 14 8.7 6.4-.2 8.2-1.2 9.7-5.4.7-2.2 1.8-4.4 2.3-4.9 1.8-1.8 1.1-2.4-3.2-3.1-20.5-3.4-30.8-16-30.9-37.7 0-8.9 1.4-14.1 5.9-20.6 1.4-2.1 1.7-3.6 1.1-6.7-.8-4.4.5-14.3 2-15.8s7.7.1 15.5 4.2c5.8 3 7.8 3.6 10.2 2.9 6-1.6 18.2-2 27.2-.8l9.4 1.2 7.1-3.6c4-2 9.1-3.9 11.3-4.2l4.1-.6L171 85c.7 3 1 7.6.7 10.9-.5 5-.3 6.1 2.3 10.1 4.8 7.5 6.2 17.4 3.9 28.2-3.3 15.4-12.4 24-28.7 27l-6 1.1 2.2 3.6c1.8 3.2 2.1 5.4 2.4 19.3.4 18.9.6 19.1 8.9 16.3 12.7-4.4 28.9-17.2 37.5-29.9 5-7.3 9-16.1 11.4-25.1 2.5-9.5 2.5-29.3 0-38.5-7.7-28.3-29.2-50.2-56.8-58-9.5-2.7-27.7-3.5-36.8-1.6z'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Reddit"],
		&[alt*="Reddit"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='32' height='32'%3E%3Cg transform='matrix(.76 0 0 .76 2.5 2.5)'%3E%3Ccircle fill='%23FF4500' cx='10' cy='10' r='10'/%3E%3Cpath fill='%23FFF' d='M16.67 10a1.46 1.46 0 00-2.47-1 7.12 7.12 0 00-3.85-1.23L11 4.65l2.14.45a1 1 0 10.13-.61L10.82 4a.31.31 0 00-.37.24l-.74 3.47a7.14 7.14 0 00-3.9 1.23 1.46 1.46 0 10-1.61 2.39 2.87 2.87 0 000 .44c0 2.24 2.61 4.06 5.83 4.06s5.83-1.82 5.83-4.06a2.87 2.87 0 000-.44 1.46 1.46 0 00.81-1.33zm-10 1a1 1 0 111 1 1 1 0 01-1-1zm5.81 2.75a3.84 3.84 0 01-2.47.77 3.84 3.84 0 01-2.47-.77.27.27 0 01.38-.38A3.27 3.27 0 0010 14a3.28 3.28 0 002.09-.61.27.27 0 11.39.4zm-.18-1.71a1 1 0 111-1 1 1 0 01-1.01 1.04z'/%3E%3C/g%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Spotify"],
		&[alt*="Spotify"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' width='32' viewBox='0 0 168 168'%3E%3Cpath fill='%231ED760' d='M83.837 20.21c-35.15 0-63.645 28.495-63.645 63.644 0 35.151 28.496 63.644 63.645 63.644 35.153 0 63.645-28.493 63.645-63.644 0-35.147-28.492-63.64-63.646-63.64l.001-.003zm29.187 91.793a3.965 3.965 0 01-5.457 1.315c-14.943-9.127-33.754-11.195-55.908-6.133a3.968 3.968 0 01-1.766-7.737c24.244-5.539 45.04-3.154 61.816 7.099a3.967 3.967 0 011.315 5.456zm7.79-17.33c-1.436 2.336-4.492 3.073-6.825 1.636-17.107-10.515-43.185-13.56-63.42-7.418a4.969 4.969 0 01-6.193-3.306 4.97 4.97 0 013.31-6.189c23.113-7.013 51.848-3.616 71.494 8.457 2.333 1.436 3.07 4.491 1.634 6.822v-.001zm.669-18.045c-20.513-12.183-54.355-13.303-73.94-7.36a5.952 5.952 0 11-3.456-11.392c22.482-6.825 59.855-5.506 83.471 8.514a5.946 5.946 0 012.083 8.157 5.948 5.948 0 01-8.155 2.081z'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Steam"],
		&[alt*="Steam"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 233 233' width='32' height='32'%3E%3Cpath d='M30.717 141.008c10.939 36.487 44.776 63.072 84.824 63.072 48.898 0 88.54-39.642 88.54-88.54 0-48.9-39.642-88.54-88.54-88.54-46.923 0-85.318 36.502-88.35 82.658 5.73 9.621 7.965 15.572 3.527 31.35z'/%3E%3Cpath fill='%23fff' d='M110.98 93.365c0 .149 0 .298.008.437l-21.666 31.474c-3.51-.16-7.032.456-10.371 1.831a24.09 24.09 0 00-4.146 2.189L27.23 109.711s-1.101 18.11 3.486 31.608l33.633 13.878c1.69 7.547 6.866 14.166 14.504 17.35 12.497 5.222 26.906-.729 32.104-13.231a24.661 24.661 0 001.893-10.116l31-22.154c.25.008.51.016.76.016 18.552 0 33.63-15.124 33.63-33.697 0-18.575-15.078-33.685-33.63-33.685-18.544 0-33.63 15.11-33.63 33.685zm-5.198 63.777c-4.024 9.66-15.124 14.243-24.773 10.222-4.452-1.854-7.812-5.251-9.751-9.302l10.948 4.537c7.116 2.964 15.28-.41 18.237-7.524 2.967-7.121-.399-15.299-7.51-18.263l-11.318-4.689c4.367-1.657 9.331-1.717 13.97.213 4.676 1.946 8.304 5.609 10.227 10.29s1.915 9.85-.03 14.516m38.828-41.328c-12.35 0-22.405-10.07-22.405-22.45 0-12.368 10.055-22.441 22.405-22.441 12.358 0 22.412 10.073 22.412 22.442 0 12.379-10.054 22.449-22.412 22.449M127.822 93.33c0-9.313 7.539-16.866 16.826-16.866 9.295 0 16.834 7.553 16.834 16.866 0 9.313-7.54 16.859-16.834 16.859-9.287 0-16.826-7.546-16.826-16.86z'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Twitch"],
		&[alt*="Twitch"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 40 40'%3E%3Cpath fill='%239147ff' d='M13 8l-5 5v18h6v5l5-5h4l9-9V8z'/%3E%3Cpath fill='%23fff' d='M26 25l4-4V10H14v15h4v4l4-4z'/%3E%3Cpath d='M20 14h2v6h-2v-6zm7 0v6h-2v-6h2z' fill='%239147ff'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Twitter"],
		&[alt*="Twitter"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 255 255'%3E%3Cpath d='M198.088 72.764c.105 1.593.105 3.193.105 4.804 0 49.137-37.095 105.797-104.93 105.797v-.035c-20.044.035-39.661-5.754-56.53-16.664 2.912.352 5.841.533 8.777.54 16.605.01 32.736-5.608 45.803-15.95-15.78-.305-29.62-10.676-34.454-25.822a36.415 36.415 0 0016.647-.64c-17.203-3.509-29.584-18.743-29.584-36.444v-.475a36.376 36.376 0 0016.74 4.658c-16.207-10.922-21.2-32.654-11.414-49.646 18.727 23.226 46.348 37.347 76.008 38.842-2.97-12.909 1.084-26.444 10.67-35.526 14.853-14.074 38.215-13.353 52.178 1.617a73.609 73.609 0 0023.42-9.029c-2.754 8.607-8.514 15.92-16.213 20.56a72.866 72.866 0 0021.181-5.847 75.325 75.325 0 01-18.404 19.26zm0 0' fill='%231da1f2'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Xbox Live"],
		&[alt*="Xbox Live"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 788 444' width='32' height='32'%3E%3Cg transform='matrix(3 0 0 3 -790 -445)'%3E%3Ccircle cx='394' cy='222' r='98' fill='%23107C10'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M394 202.3c.1 0 .2.1.3.2 29.9 22.7 81 78.9 65.4 94.7-37.6 32.9-93.9 32.9-131.5 0-15.7-15.9 35.5-72.1 65.4-94.7.2-.1.3-.2.4-.2M446.1 136.7c-15.3-9.1-31.9-14.7-52.1-14.7-20.1 0-36.7 5.5-52.1 14.7-.2.1-.3.3-.2.5.1.2.3.2.5.2 19.3-4.2 48.8 12.6 51.5 14.2.1.1.3.1.4 0 2.8-1.7 32.1-18.4 51.5-14.2.2.1.4 0 .5-.2.2-.2.1-.4 0-.5M324.1 150.8c-.2.1-.3.2-.4.3-35.6 35.3-39.5 91.6-9.1 131.4.1.2.3.2.5.2.2-.1.2-.3.1-.5-7.6-23.5 31.3-80.6 51.5-104.5.1-.1.1-.2.1-.3 0-.1-.1-.3-.2-.3-30.4-30.4-40.8-27.2-42.5-26.3M421.4 177c-.1.1-.2.2-.2.3 0 .1.1.2.1.3 20 23.9 59 81 51.5 104.5-.1.2-.1.4.1.5.2.1.4 0 .5-.2 30.3-39.9 26.4-96-9.1-131.4-.1-.1-.3-.2-.4-.3-1.7-.8-12.1-4-42.5 26.3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Battle.net"],
		&[alt*="Battle.net"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 600 580.4'%3E%3Cg transform='translate(70,70) scale(0.76,0.76)'%3E%3Cpath d='M473.5 197.6c-75.9-35.1-185.1-57.4-287.8-49.1 5.1-34 17.9-57.7 38.7-62.7 28.7-6.9 60 12 89.8 46.3 19.5 2.5 42.7 7 58.9 10.7C318.7 40.5 245.7-16.8 190.2 4.4 148 20.5 126.4 78.6 129 156.7c-55 11.7-97.9 32.5-125.4 62.4-1.4 1.6-4.5 5.7-3.4 7.6.9 1.5 3.6-.2 4.9-1 31.8-22.3 72.6-34.3 125.7-41.9 7.6 83.3 42.8 189 101.4 273.8-32 12.6-58.9 13.4-73.6-2.2-20.3-21.4-19.6-58-4.8-101-7.6-18.2-15.3-40.5-20.1-56.3-61.6 98.3-74.8 190.2-28.7 227.7 35.1 28.5 96.2 18.2 162.5-23.1 37.6 41.8 77.1 68.5 116.7 77.3 2.1.4 7.2 1.1 8.3-.8.9-1.5-2-3.1-3.3-3.7-35.2-16.4-66-45.7-99.1-87.9 68.4-48.2 142.3-131.6 186.4-224.7 26.9 21.5 41 44.3 34.9 64.9-8.4 28.3-40.4 46-85.1 54.6-12 15.7-27.4 33.5-38.7 45.6 115.8 4 202-30.5 211.4-89.1 7.2-44.6-32.4-92.4-101.3-129.2 17.4-53.5 20.8-101 8.6-139.7-.7-2-2.6-6.8-4.9-6.8-1.7 0-1.7 3.3-1.6 4.7 3.6 38.6-6.3 80-26.3 129.7zM260.2 444.3c-49-78.6-77.2-171.2-77.1-264.8 92.6-3.1 186.9 18.7 267.9 65.7-43.6 81.7-109.6 152.5-190.8 199.1z' fill='%23148eff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
		}
		&[aria-label*="YouTube"],
		&[alt*="YouTube"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='32pt' height='32pt' viewBox='0 0 255 255'%3E%3Cpath d='M65.8 174.8h123.1V83H65.8z' fill='%23fff'/%3E%3Cpath d='M88.5 54c-40.7 1.5-49.3 3.3-56.9 12.1-6.1 7.2-8.2 16.9-9.6 44.7-.9 19.7.2 48.2 2.5 61.7 1.8 10.5 4.9 16.3 11.3 21.2 7.4 5.6 16 6.9 58.7 8.3 40.5 1.5 95.9-.1 112.2-3.1 14.7-2.7 21.4-10.8 24.3-29.1 4.3-27.6 2.2-86.8-3.5-97.9-4.2-8-10.9-12.8-20.5-14.8-14.5-2.9-79.5-4.6-118.5-3.1zm45.6 58.2c14.8 8.4 26.9 15.5 26.9 15.8 0 .5-52 30.2-54 30.8-.6.2-1-10.7-1-30.7 0-17.1.3-31.1.6-31.1s12.7 6.9 27.5 15.2z' fill='%23D9252A'/%3E%3C/svg%3E") !important;
		}
		&[aria-label*="Facebook"],
		&[alt*="Facebook"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 44 44'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M36.792 38.62c1.01 0 1.828-.819 1.828-1.828V7.328c0-1.01-.819-1.828-1.828-1.828H7.328c-1.01 0-1.828.818-1.828 1.828v29.464c0 1.01.818 1.828 1.828 1.828h29.464z' fill='%23395185'/%3E%3Cpath d='M27.58 38.62V25.74h4.162l.63-4.914H27.58V17.65c0-1.44.345-2.422 2.374-2.422l2.59-.001v-4.45c-.449-.06-1.985-.195-3.773-.195-3.733 0-6.288 2.318-6.288 6.575v3.669H18.38v4.914h4.103v12.88h5.097z' fill='%23FFFFFE'/%3E%3C/g%3E%3C/svg%3E") !important;
		}
		&[aria-label*="League of Legends"],
		&[alt*="League of Legends"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.97 50.8' width='32px' height='32px'%3E%3Cpath d='M5.1 0l3.85 4.98V43.5L4.72 50.8h34.44l5.81-7.3H19.48V0zm17.5 5.24v4.1A18.15 18.15 0 0134.97 40.4h5.34a22.25 22.25 0 004.18-12.92A22.25 22.25 0 0022.6 5.24zM5.83 12.49A22.25 22.25 0 000 27.48c.01 5.54 2.1 10.89 5.84 14.98v-7.29a18.15 18.15 0 01-1.74-7.7c0-2.66.6-5.28 1.74-7.69z' fill='%23cea146' paint-order='markers stroke fill'/%3E%3C/svg%3E")!important;
		}
		&[aria-label*="Skype"],
		&[alt*="Skype"] {
			background-image: url("%3Csvg height='32' width='32' viewBox='0 0 1000 990.833' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M568.79 346.16a221.895 221.16 0 01-221.895 221.16A221.895 221.16 0 01125 346.16 221.895 221.16 0 01346.895 125a221.895 221.16 0 01221.894 221.16m309.244 317.604A221.97 221.236 0 01656.063 885a221.97 221.236 0 01-221.971-221.236 221.97 221.236 0 01221.97-221.236 221.97 221.236 0 01221.971 221.236m-25.029-157.117a351.45 350.284 0 01-351.45 350.284 351.45 350.284 0 01-351.449-350.284 351.45 350.284 0 01351.45-350.284 351.45 350.284 0 01351.449 350.284' fill='%230078D7'/%3E%3Cpath d='M402.73 494.487c-55.85-31.965-64-122.846-11.379-161.72 45.024-36.015 106.955-40.878 162.044-32.408 23.737 4.45 49.97 11.46 65.803 30.87 12.65 20.822-4.197 54.464-30.242 49.124-25.168-3.44-46.403-20.998-72.417-21.028-27.68-2.97-62.057 3.452-76.184 30.158-9.305 23.451 7.583 49.784 30.383 57.1 49.903 25.363 109.369 38.216 146.876 82.81 38.39 49.086 21.289 132.53-37.088 157.967-53.808 26.118-116.991 21.86-173.327 6.942-21.168-6.618-46.77-18.836-50.504-43.159-2.7-25.82 25.35-44.399 48.45-33.828 26.703 8.023 50.202 26.806 79.166 26.654 26.515 2.318 60.293-5.899 70.241-33.616 6.866-23.313-9.052-47.942-30.95-56.078-38.987-22.561-83.697-33.89-120.872-59.788z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
		}
	}
	.accountBtnInner-sj5jLs {
		width: 52px;
		height: 52px;
	}
}