@import "../../material/card";

$min-width: 256px;
$header-height: 6;
.platform-win .sidebar-1tnWFu,
.platform-mac .sidebar-1tnWFu,
.platform-linux .sidebar-1tnWFu {
	border-radius: 0;
}
.sidebar-1tnWFu {
	resize: horizontal;
	width: var(--channels-width);
	max-width: max(50vw, #{$min-width});
	min-width: $min-width;
	&.hidden-38rxp9 {
		min-width: unset;
		max-width: unset;
	}
}
.scroller-WSmht3, .privateChannels-oVe7HL {
	background-color: var(--navdrawer-color);
}
.channel-1Shao0 {
	max-width: 100%;
}
.bannerImage-ubW8K-, .animatedContainer-2laTjx {
	width: 100%;
	padding-top: 56.25%;
	height: 0;
}
.scroller-WSmht3, .scroller-1ox3I2 {
	& .content-2a4AW9 div[style*="height: 84px"]:first-child {
		height: 0 !important;
		padding-top: calc(56.25% - 51px);
	}
}
.bannerImg-2PzH6z {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.container-1-ERn5:not(.hasBanner-2IrYih) .header-3OsQeK {
	@include card($header-height);
}

// Fix shitty bug with scrolling
.scrolling-20Of9p .content-2a4AW9 {
	pointer-events: all;
}

// Members list
.membersWrap-3NUR2t {
    width: var(--members-width);
}
.members-3WRCEx {
	width: var(--members-width);
}
.member-2gU6Ar {
	max-width: var(--members-width);
}
