@import "../../material/card";
@import "../../material/ripple";

$header-height: 6;

// header
.container-ZMc96U.themed-Hp1KC_,
.searchBar-3TnChZ {
	@include card($header-height);
}
.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5:not(.hasBanner-2IrYih) {
	&.theme-light {
		background-color: cardbg($header-height, false);
		box-shadow: elevation-shadow($header-height, $baseline-color);
	}
	&.theme-dark {
		background-color: cardbg($header-height, true);
	}
}
.theme-light .form-3gdLxP:before {
	background: transparent;
}

.children-3xh0VB::after {
	.theme-dark &,
	.theme-light & {
		background: -webkit-gradient(linear,left top,right top,from(transparent),to(cardbg($header-height, false)));
		background: linear-gradient(90deg,transparent 0,cardbg($header-height, false));
	}
}

// channel scroller border for easier differentiation of elements
.scroller-WSmht3,
.scroller-1ox3I2 {
	border-right: 1px solid var(--navdrawer-separator);
}
.divider-2rZFJK {
	border-color: var(--navdrawer-separator);
}
.divider-q3P9HC {
	background: var(--navdrawer-separator);
}


// Background primary
.app-2CXKsg,
.appMount-2yBXZl, body,
.chat-2ZfjoI,
.threadSidebar-1o3BTy,
.scroller-29cQFV,
.container-36u7Lw,
.nowPlayingColumn-1eCBCN,
.container-1oAagU,
.scroller-2XLwLg,
.header-2EadGG,
.scroller-1TOeMq,
.layer-86YKbF:not(.baseLayer-W6S8cY),
.content-3spvdd {
	background-color: cardbg(0, true);
}

// placeholder messages
.container-2cd8Mz,
.wrapper-15CKyy,
.wrapper-22ayhK
{
	.theme-dark & {
		background-color: cardbg(0, true);
	}
	.theme-light & {
		background-color: cardbg(0, false);
	}
}

// Placeholder is bold
.placeholder-1_mJY1 {
	.theme-light & {
		font-weight: 500;
	}
	.theme-dark & {
		font-weight: 600;
	}
}

.thin-31rlnD::-webkit-scrollbar-thumb {
	background-color: var(--navdrawer-separator);
}
// Disable selection of usernames
.setIdentityLink-hOFsMl,
.botText-1fD6Qk,
.username-h_Y3Us {
	 user-select: none;
}
// Disable selection of system messages
.ephemeralMessage-11q8XZ,
.message-2CShn3.systemMessage-1H1Z20.isSystemMessage-QNv9ZH .messageContent-2t3eCI,
.message-2CShn3.systemMessage-1H1Z20.isSystemMessage-QNv9ZH.wrapper-30-Nkg .systemMessageContainer-3F3V9U {
	user-select: none;
}


// Ripple on message click
.message-2CShn3 {
	@include rippleimg;
}
// ripple appearing on top of images and embeds fix
.container-2sjPya {
	z-index: 1;
}

// Fix ripple conflicts with discord CSS
// Move discord CSS to ::before
.cozy-VmLDNB.hasThread-3h-KJV::before {
	top: 28px;
}
.cozy-VmLDNB.hasThread-3h-KJV.isSystemMessage-QNv9ZH::before {
	border-left: 2px solid var(--background-accent);
	border-bottom: 2px solid var(--background-accent);
	border-bottom-left-radius: 8px;
	bottom: 29px;
	content: "";
	left: 35px;
	position: absolute;
	top: 48px;
	width: 31px;
}
// Reset css
.cozy-VmLDNB.hasThread-3h-KJV::after {
	top: 0px;
}
.cozy-VmLDNB.hasThread-3h-KJV.isSystemMessage-QNv9ZH::after {
	border-left: none;
	border-bottom: none;
	border-bottom-left-radius: 0;
	bottom: unset;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.messagesWrapper-RpOMA3::after {
	content: "";
	width: 100%;
	height: var(--chatbox-top-padding);
	position: absolute;
	bottom: 0px;
	z-index: 2;

	background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(var(--card-0-bg)));
	background: linear-gradient(180deg, transparent 0,var(--card-0-bg));
}

// New guild cards (invite, hi, etc)
.card-PQEqCK {
	@include card(4);
}
.checkmark-bW9BK8 {
	background-color: var(--online);
}

// discord pls
.replyAvatar-sHd2sU {
	cursor: pointer;
}

// fix draggable titlebar not letting you click long channel descriptions to view more
.topic-11NuQZ.expandable-3CaLeS {
	-webkit-app-region: none;
}
// fix follow button being unclickable
.followButton-1N-GGp {
	-webkit-app-region: none;
}
