@import "../../material/card";

.container-x8Y1ix {
	border-color: transparent;
	@include card(4);
}

.theme-dark {
	@for $i from 0 through 24 {
		--card-#{$i}-bg-dark: var(--card-#{$i}-bg);
	}
}

.theme-dark .theme-light {
	@for $i from 0 through 24 {
		--card-#{$i}-bg: var(--card-#{$i}-bg-dark);
	}

	& .lookBlank-3eh9lL, .theme-light .lookLink-9FtZy- {
		color: var(--faded-text-interactive-normal);
	}
	& .input-2g-os5 {
		color: white;
	}
	& .iconContainer-GFfNaA {
		& circle {
			fill: var(--accent);
		}
		& path[d="M73.3332 11.4075H68.5924V6.66675H67.4072V11.4075H62.6665V12.5927H67.4072V17.3334H68.5924V12.5927H73.3332V11.4075Z"] {
			color: var(--accent-text);
		}
	}
	& .sampleLink-5BWNy9 {
		color: var(--faded-text-interactive-normal);
	}
	& .input-m1-Y7Q {
		background-color: transparent;
	}
}
