@import "../../material/card";
@import "../../../config";

$popout-height: 8;
$header-height: 2;
$msg-height: 4;

.messageGroupWrapper-1jf_7C {
	@include card($msg-height);
}
.header-1w9Q93 {
	@include card($header-height);
	z-index: 11;
}
.messagesPopoutWrap-3zryHW {
	@include card($popout-height);
	@if $animations {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
		transform-origin: top right;
	}
}
.footer-5ji8u1 {
	background-color: transparent;
}
.base-21yXnu[style*="color: hsl(139, "] {
	color: var(--online) !important;
}
// Fix the note clipping or not having much padding on langs other than english
.footer-5ji8u1 {
	height: auto;
}
