@import "../../material/card";

.optionContainer-yOpaLq {
	@include card(2);
}
.container-2dXT_2 {
	border-color: transparent;
	@include card(6);
}
.notice-2olXi7 {
	background-color: var(--accent);
	color: var(--accent-text);
}
.button-YGmtzG:hover {
	background-color: var(--accent-highlight);
	color: var(--accent-text);
}
.item-1BCeuB[aria-disabled="false"] {
	cursor: pointer;
	& .checkboxWrapper-2fDzaA {
		cursor: pointer;
	}
}
