@import "../../material/card";

.optionContainer-15srkc {
	@include card(2);
}
.container-2Uhd6d {
	border-color: transparent;
	@include card(6);
}
.notice-18685F {
	background-color: var(--accent);
	color: var(--accent-text);
}
.button-2TV-eO:hover {
	background-color: var(--accent-highlight);
	color: var(--accent-text);
}
.item-2J2GlB[aria-disabled="false"] {
	cursor: pointer;
	& .checkboxWrapper-SkhIWG {
		cursor: pointer;
	}
}