@import "../../material/card";

.scroller-2GkvCq {
	@include card(4);
	overflow: visible;
}
.reactionSelected-1aMb2K {
	@include card(2);
	overflow: visible;
}
// make them selectable
.reactionDefault-1Sjj1f, .reactionSelected-1aMb2K {
	-webkit-app-region: none;
}
// disable selections of the full user name
.tagFaded-1S1bJ- {
	user-select: none;
}
.container-KM8BU6,
.reactors-1VXca7 {
	.theme-light &,
	.theme-dark & {
		background: none;
	}
}
