@import '../../../config';

// Pages
.endButton-oUxeLG {
	& .contents-18-Yxp {
		content: '';
		& span {
			content: '';
			color: transparent;
		}
	}
	&.button-38aScr {
		border-radius: 50%;
	}
}

.endButton-oUxeLG:first-child {
	// left arrow
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z'/%3E%3C/svg%3E");
	-webkit-mask-size: 38px 38px;
	width: 38px;
	background-color: var(--header-primary);
}

.endButton-oUxeLG:last-child {
	// right arrow
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z'/%3E%3C/svg%3E");
	-webkit-mask-size: 38px 38px;
	width: 38px;
	background-color: var(--header-primary);
}

.pageControl-1XvHg0>div:nth-child(3):not(.pageButton-1GMGeJ):not(.inputWrapper-1YNMmM),
.pageControl-1XvHg0>div:nth-child(5):not(.pageButton-1GMGeJ):not(.inputWrapper-1YNMmM) {

	cursor: text;
	
	// literally taken from _textbox.scss

	position: relative;
	border-radius: 0;

	&:after {
		background-color: var(--accent);
		bottom: 9px;
		content: '';
		height: 2px;
		position: absolute;
		@if $animations {
			left: calc(50% - 5px);
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			visibility: hidden;
			width: 10px;
		}
		@else {
			left: calc(0px);
			visibility: visible;
			width: 100%;
		}
	}

	@if $animations {
		&:hover::after {
			left: calc(0px);
			visibility: visible;
			width: 100%;
		}
	}
	& .gap-35QmZH {
		cursor: text;
		@if $animations {
			transition: font-size 0.2s ease-in-out;
		}
	}
	@if $animations {
		&:hover .gap-35QmZH {
			font-size: 0;
		}
	}
}

// Cards
.searchResult-O9NDji {
	@include card(2);
}

// BG
.searchResultsWrap-5RVOkx {
	@include card(8);
}
.searchHeader-1r_ZSh {
	@include card(2);
}
.channelName-3w2Y3c {
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}

// Search popout
.container-2McqkF {
	@include card(4);
	@if $animations {
		animation: pixelcord-spawn-anim 0.18s ease-in-out;
		transform-origin: top;
	}
}
.resultsGroup-1BPR25 .header-3A13BX {
	font-weight: var(--section-weight);
	font-size: 14px;
	color: var(--header-color);
}
.resultsGroup-1BPR25 .header-3A13BX,
.resultsGroup-1BPR25 .plusIcon-2V7coV,
.resultsGroup-1BPR25 .searchClearHistory-2Be-92,
.resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
	.theme-light & {
		color: var(--header-color);
	}
	.theme-dark & {
		color: var(--header-color);
	}
}

// Stick bottom thing
.container-36u7Lw {
	position: sticky;
	bottom: 0;
	z-index: 2;
	.theme-light & {
		background-color: cardbg(8, false);
	}
	.theme-dark & {
		background-color: cardbg(8, true);
	}
}

// Center the search spinner because of my OCD
$spinner-size: 48px;

.totalResults-2On644 {
	& .spinnerWrapper-6lH0US {
		position: absolute;
		width: $spinner-size;
		height: $spinner-size;
		left: calc(50% - #{$spinner-size} * 0.5);
		top: calc(50vh - #{$spinner-size} * 0.5 - 7px);
		justify-content: center;

		& .inner-26JK4f {
			width: $spinner-size;
			height: $spinner-size;
		}
		.platform-win & {
			top: calc(50vh - #{$spinner-size} * 0.5 - 7px);
		}
	}
}

.queryContainer-ZunrLZ {
	@include card(2);
}

// gradient shit
.theme-dark .option-2KkUJO:after {
	background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),color-stop(80%,cardbg(4, true)));
	background: linear-gradient(90deg,rgba(54,57,63,0),cardbg(4, true) 80%);
}
.theme-light .option-2KkUJO:after {
	background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),color-stop(80%,cardbg(4, false)));
	background: linear-gradient(90deg,rgba(54,57,63,0),cardbg(4, false) 80%);
}

// Make it easier to tell if we have it selected
.option-2KkUJO.selected-rZcOL- {
	@include card(2);
}

// TODO: use card vars
.option-2KkUJO.selected-rZcOL-:after {
	//background: -webkit-gradient(linear,left top,right top,from(rgba(246,246,247,0)),color-stop(50%,rgb(246, 246, 247)));
	//background: linear-gradient(90deg,rgba(246,246,247,0),rgb(246, 246, 247) 50%);
}

.searchHeaderTabList-3CZMQB.side-2ur1Qk::after {
	content: none;
}
