@import "../../../config";
@import "../../material/card";

$header-height: 6;

$popout-height: 8;
$msg-height: 4;
$min-thread-panel-width: 400px;

// APP LAYOUT
.threadSidebar-1o3BTy,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
	border-radius: 0;
}
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
	resize: horizontal;
	min-width: 400px;
	// NB: This is not elegant bc its dependant on window width but CSS is hacky af so you live with this dogshit hell
	max-width: calc(70% - #{$min-thread-panel-width});
}
.chat-2ZfjoI:not(.threadSidebarOpen-1LSXvU) {
	width: unset !important;
	flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
	width: unset;
	flex: 1 1 auto;
}

// Shadow separator
.threadSidebar-1o3BTy {
	&::before {
		content: "";
		height: calc(100% - 48px);
		width: 8px;
		position: absolute;
		left: -8px;
		top: 48px;
		@include card($header-height);
		z-index: 1;
	}
	&::after {
		content: "";
		height: 48px;
		width: 8px;
		position: absolute;
		left: -8px;
		top: 0px;
		z-index: 101;
		
		.theme-light & {
			background-color: cardbg($header-height, false);
		}
		.theme-dark & {
			background-color: cardbg($header-height, true);
		}
	}
	overflow: visible;
}

// Chat
.container-3i3IzO {
	@include card(4);
}

// Create thread dialog
.textAreaThreadCreation-1CbEub {
	min-height: 44px;
}
.channelTextAreaInner-1WnnRS {
	border-color: transparent;
}
.channelTextArea-3O-WhA {
	background-color: transparent;
}

// Threads dialog
.container-18GwIk {
	@include card($msg-height);
}
.modal-ZdazA8 {
	.theme-light & {
		background-color: cardbg($msg-height, false) !important;
	}
	.theme-dark & {
		background-color: cardbg($msg-height, true) !important;
	}
}
.header-3_zmOb {
	@include card($header-height);
	z-index: 11;
}
.container-2rzKKA {
	@include card($popout-height);
	@if $animations {
		animation: pixelcord-spawn-anim 0.2s ease-in-out;
		transform-origin: top right;
	}
}

// Turn the funny notif on top to a pill
.chatHeaderBar-2fUORh {
	// TODO: FUCK
	margin: 12px;
	padding: 6px 24px;
	border-radius: 24px;
	@include card(8);
}

// Collapse threads
.container-1Bj0eq {
	//height: 0;
}

// Fuck thread suggestions i know how to make threads retard
.threadSuggestionBar-3ExSyc {
	display: none;
}

// make replies a pill
.replyBar-1oi75v {
	border-radius: 17px;
	@include card(2);
}
.attachedBars-2BCP3l {
	background-color: transparent;
	padding-bottom: 0.25rem;
}
.clipContainer-31nYlH {
	overflow: visible;
}

// Skin popout
.popout-TdhJ6Z {
	@include card(4);
}

// popout
.container-3O_wAf {
	background-color: var(--navdrawer-color);
}
