@import '../../material/card';

$height: 8;

.panels-3wFtMD
{
	@include card($height);
	.theme-light & {
		border-right: 1px solid var(--navdrawer-separator);
	}
}

.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
	.theme-light & {
		background-color: cardbg($height, false);
	}
	.theme-dark & {
		background-color: cardbg($height, true);
	}
}
.platform-win .sidebar-1tnWFu {
	overflow-x: hidden;
	overflow-y: visible;
}
.subtext-2HDqJ7 {
	line-height: 14px;
}
.nameTag-sc-gpq.canCopy-IgTwyV {
	user-select: none;
}
