.rtcConnectionStatusConnected-VRZDjy, .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .circleIconButton-1QV--U,
.colorStatusGreen-2saF4_ {
    color: var(--online);
}
.iconLive-AtZKgD {
    color: var(--online) !important;
}
.colorStreamerMode-2SJAUN {
    background-color: var(--stream);
}

// Make the speaking border change to accent color
$speaking-val: var(--accent);

.speaking-3dBKhR,
.avatarSpeaking-2c8-9i,
.avatarSpeaking-2IGMRN {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-secondary);
}
.border-Jn5IOt.speaking-B2MXPi {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px var(--background-floating);
}
.border-3dQmSY.speaking-WDn8Wm {
	-webkit-box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
	box-shadow: inset 0 0 0 2px $speaking-val,inset 0 0 0 3px #000;
}
.prioritySpeaking-2lsGo-,
.iconPriortySpeakerSpeaking-22tQMF,
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background-color: $speaking-val;
}