@import "../../material/card";

$popout-height: 8;
$header-height: 2;
$msg-height: 4;

.container-1ILvLB section {
	@include card($popout-height);
}
.container-1ILvLB .header-2C89wJ {
	@include card($header-height);
}
.theme-light .debugButton-OTfjlB,
.theme-dark .debugButton-OTfjlB {
	color: var(--accent);
}
