@import "../utils";

.autocompleteRow-14iwvH {
    .selected-3H3-RC {
        @include theming {
            & .icon-nmEpWl,
            & .icon-1kx1ir,
            & .colorInteractiveActive-30E9n8,
            & .colorInteractiveNormal-36ZhyZ,
            & .colorMuted-20987_ {
                color: var(--accent);
            }
            & .colorMuted-20987_ {
                color: var(--accent);
                opacity: 0.7;
            }
            & .optionals-2w-NPQ {
                border-color: var(--accent);
            }
            & .option-c0n68t {
                background-color: var(--accent);
                color: var(--accent-text);
            }
            background-color: var(--accent-transparent);
        }
    }
}
.active-WHsd77 {
    background-color: var(--accent) !important;
    color: var(--accent-text);
}
.error-29IZEE {
    color: var(--red);
}
.option-c0n68t.error-1SecXe {
    background-color: var(--red);
    color: var(--red-text);
}
