@import "../utils";

.autocompleteRow-2OthDa {
    .selected-1Tbx07 {
        @include theming {
            & .icon-3ZzoN7,
            & .icon-2VCx8O,
            & .colorInteractiveActive-3Ip9Eu,
            & .colorInteractiveNormal-PB7JN3,
            & .colorMuted-HdFt4q {
                color: var(--accent);
            }
            & .colorMuted-HdFt4q {
                color: var(--accent);
                opacity: 0.7;
            }
            & .optionals-yC7FfY {
                border-color: var(--accent);
            }
            & .option-2lkyZ_ {
                background-color: var(--accent);
                color: var(--accent-text);
            }
            background-color: var(--accent-transparent);
        }
    }
}
.active-2awTSY {
    background-color: var(--accent) !important;
    color: var(--accent-text);
}
.error-2_oAXi {
    color: var(--red);
}
.option-2lkyZ_.error-1NcCbc {
    background-color: var(--red);
    color: var(--red-text);
}