@import "../utils";
@import "../material_design/ripple";

// Mentions & channel links
.wrapper-1ZcZW- {
	@include theming {
		background-color: var(--accent-transparent);
		color: var(--accent);
		&:hover {
			color: var(--accent-selected);
		}
	}
}

// Failed to load messages
.messagesErrorBar-1IQ1rH {
	background-color: var(--red);
	& > .barButtonBase-Sk2mdB {
		color: var(--red-text);
		line-height: 42px;
	}

	@include pill;
	margin-bottom: 0.5rem;
	padding: 0;
}

// Reply pill
.replyBar-1oi75v {
	@include pill;
}
.attachedBars-2BCP3l {
	border-radius: 0;
	background-color: transparent;
	padding-bottom: 0.5rem;
}
.clipContainer-31nYlH {
	overflow: visible;
}

// Unread pill
.unreadPill-3nEWYM {
	background-color: var(--red);
	color: var(--red-text);
}
.isUnread-3Lojb- .content-3spvdd {
	color: var(--red);
}
.unreadPillCapStroke-1nE1Q8 {
	color: var(--red);
	fill: var(--red);
}
.isUnread-3Lojb- {
	border-color: var(--red);
	transition: 250ms ease-in-out;
}
html:not(.app-focused) {
	& .isUnread-3Lojb- {
		border-color: transparent;
	}
}

// Ripple on message click
.message-2CShn3 {
	@include rippleimg;
}
// ripple appearing on top of images and embeds fix
.container-2sjPya {
	z-index: 1;
}

// Ripple breaks with threads; fix it

// Copy stock discord CSS but in ::before
.cozy-VmLDNB.hasThread-3h-KJV::before {
	top: 28px;
}
.cozy-VmLDNB.hasThread-3h-KJV.isSystemMessage-QNv9ZH::before {
	border-left: 2px solid var(--background-accent);
	border-bottom: 2px solid var(--background-accent);
	border-bottom-left-radius: 8px;
	bottom: 29px;
	content: "";
	left: 35px;
	position: absolute;
	top: 48px;
	width: 31px;
}
// Reset css
.cozy-VmLDNB.hasThread-3h-KJV::after {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	border: none;
}
.cozy-VmLDNB.hasThread-3h-KJV::before {
	content: "";
	width: 2rem;
	left: 2.2rem;
	top: 3rem;
	border-left: 2px solid var(--background-accent);
	border-bottom: 2px solid var(--background-accent);
	border-bottom-left-radius: 8px;
	bottom: 29px;
	position: absolute;
}
.cozy-VmLDNB.hasThread-3h-KJV.isSystemMessage-QNv9ZH::after {
	border-left: none;
	border-bottom: none;
	border-bottom-left-radius: 0;
	bottom: unset;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.messagesWrapper-RpOMA3::after {
	content: "";
	width: 100%;
	height: var(--chatbox-top-padding);
	position: absolute;
	bottom: 0px;
	z-index: 2;

	background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(var(--card-0-bg)));
	background: linear-gradient(180deg, transparent 0,var(--card-0-bg));
}

// Chat uploading "embed"
.zalgo-26OfGz .messageContent-2t3eCI {
	overflow: visible;
}
// File embeds need accent color for ...
.audioMetadata-1Hrt8T .metadataContent-lalfZ3 {
	color: var(--text-link);
}


// Replies redesign?
.repliedMessage-3Z6XBG::before {
	--reply-spacing: 0px;
	border-color: var(--accent-transparent);
}
.repliedMessage-3Z6XBG {
	background-color: var(--accent-transparent);
	color: var(--accent);
	width: fit-content;
	padding: 4px;
	border-radius: 4px;
	& .username-h_Y3Us {
		opacity: 1;
		color: var(--accent) !important;
	}
	#app-mount & {
		margin-bottom: 0;
	}
	& .repliedTextPreview-1bvxun.clickable-31pE3P:hover {
		color: var(--accent);
	}
	& .wrapper-1ZcZW- {
		color: var(--accent);
		font-weight: 700;
	}
	&.executedCommand-14-SNW .commandName-1KhvGm,
	& .timestamp-p1Df1m {
		color: var(--accent);
		opacity: 0.7;
	}
}

// enable notifications nag which you CANT FUCKING HIDE WHY
.chatHeaderBar-qygUNT {
	display: none;
}