@import "../utils";
@import "../material_design/ripple";

// Mentions & channel links
.wrapper-3WhCwL {
	@include theming {
		background-color: var(--accent-transparent);
		color: var(--accent);
		&:hover {
			color: var(--accent-selected);
		}
	}
}

// Failed to load messages
.messagesErrorBar-nyJGU7 {
	background-color: var(--red);
	& > .barButtonBase-2uLO1z {
		color: var(--red-text);
	}

	@include pill;
	margin-bottom: 0.5rem;
	padding: 0;
}

// Reply pill
.replyBar-1YLQ2F {
	@include pill;
}
.attachedBars-tZDmyV {
	border-radius: 0;
	background-color: transparent;
	padding-bottom: 0.5rem;
}
.clipContainer-eeROt0 {
	overflow: visible;
}

// Unread pill
.unreadPill-2HyYtt {
	background-color: var(--red);
	color: var(--red-text);
}
.isUnread-3Ef-o9 .content-1o0f9g {
	color: var(--red);
}
.unreadPillCapStroke-7rkHbg {
	color: var(--red);
	fill: var(--red);
}
.isUnread-3Ef-o9 {
	border-color: var(--red);
	transition: 250ms ease-in-out;
}
html:not(.app-focused) {
	& .isUnread-3Ef-o9 {
		border-color: transparent;
	}
}

// Ripple on message click
.message-2qnXI6 {
	@include rippleimg;
}
// ripple appearing on top of images and embeds fix
.container-1ov-mD {
	z-index: 1;
}

// Ripple breaks with threads; fix it

// Copy stock discord CSS but in ::before
.cozy-3raOZG.hasThread-2k82W0::before {
	top: 28px;
}
.cozy-3raOZG.hasThread-2k82W0.isSystemMessage-2MkNHd::before {
	border-left: 2px solid var(--background-accent);
	border-bottom: 2px solid var(--background-accent);
	border-bottom-left-radius: 8px;
	bottom: 29px;
	content: "";
	left: 35px;
	position: absolute;
	top: 48px;
	width: 31px;
}
// Reset css
.cozy-3raOZG.hasThread-2k82W0::after {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	border: none;
}
.cozy-3raOZG.hasThread-2k82W0::before {
	content: "";
	width: 2rem;
	left: 2.2rem;
	top: 3rem;
	border-left: 2px solid var(--background-accent);
	border-bottom: 2px solid var(--background-accent);
	border-bottom-left-radius: 8px;
	bottom: 29px;
	position: absolute;
}
.cozy-3raOZG.hasThread-2k82W0.isSystemMessage-2MkNHd::after {
	border-left: none;
	border-bottom: none;
	border-bottom-left-radius: 0;
	bottom: unset;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.messagesWrapper-1sRNjr::after {
	content: "";
	width: 100%;
	height: var(--chatbox-top-padding);
	position: absolute;
	bottom: 0px;
	z-index: 2;

	background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(var(--card-0-bg)));
	background: linear-gradient(180deg, transparent 0,var(--card-0-bg));
}

// Chat uploading "embed"
.zalgo-jN1Ica .messageContent-2qWWxC {
	overflow: visible;
}
// File embeds need accent color for ...
.audioMetadata-3zOuGv .metadataContent-3c_ZXw {
	color: var(--text-link);
}


// Replies redesign?
.repliedMessage-VokQwo::before {
	--reply-spacing: 0px;
	border-color: var(--accent-transparent);
}
.repliedMessage-VokQwo {
	background-color: var(--accent-transparent);
	color: var(--accent);
	width: fit-content;
	padding: 4px;
	border-radius: 4px;
	& .username-1A8OIy {
		opacity: 1;
		color: var(--accent) !important;
	}
	#app-mount & {
		margin-bottom: 0;
	}
	& .repliedTextPreview-2NBljf.clickable-1bVtEA:hover {
		color: var(--accent);
	}
	& .wrapper-3WhCwL {
		color: var(--accent);
		font-weight: 700;
	}
	&.executedCommand-2GE3w2 .commandName-1klrjB,
	& .timestamp-3ZCmNB {
		color: var(--accent);
		opacity: 0.7;
	}
}