.bar-2eAyLE,
.unread-2wipsx {
	border-radius: var(--snackbar-radius, 4px);
    box-shadow: var(--snackbar-shadow, 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%));
	background-color: var(--snackbar-bg, #333);
	color: var(--snackbar-text, white);
}
.mention-3XBnnZ {
	background-color: var(--red, #cf6679);
	color: var(--red-text, white);
}

@mixin channelColors($color, $bg) {
	background-color: $bg;

	& .icon-2W8DHg,			// icon
	& .name-28HaxV,			// name
	& .actionIcon-2sw4Sl	// buttons (invite, etc)
	{
		color: $color;
	}
}
// Channels
.content-1gYQeQ {
	&, & .mainContent-20q_Hp {
		user-drag: none;
		-webkit-user-drag: none;
	}

	.modeSelected-3DmyhH &,
	.modeSelected-3DmyhH:hover & {
		@include channelColors(var(--accent), var(--accent-transparent));
	}
	.modeUnread-3Cxepe & .icon-2W8DHg,
	.modeUnread-3Cxepe:hover & .icon-2W8DHg {
		color: var(--interactive-active);
	}
	
	height: var(--channel-height);
	border-radius: calc(0.5 * var(--channel-height));
}
// Members list
.selected-1-Z6gm.container-1oeRFJ {
	background-color: var(--accent-transparent);
}
.selected-1-Z6gm .layout-1qmrhw {
	color: var(--accent);
}
.container-1oeRFJ {
	height: var(--member-height);
	border-radius: calc(0.5 * var(--member-height));
}
.modeSelected-3DmyhH .channelName-3KPsGw,
.selected-1-Z6gm .name-3Vmqxm {
	font-weight: var(--weight-header);
}
