.bar-30k2ka,
.unread-1xRYoj {
	border-radius: var(--snackbar-radius, 4px);
    box-shadow: var(--snackbar-shadow, 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%));
	background-color: var(--snackbar-bg, #333);
	color: var(--snackbar-text, white);
}
.mention-1f5kbO {
	background-color: var(--red, #cf6679);
	color: var(--red-text, white);
}

@mixin channelColors($color, $bg) {
	background-color: $bg;

	& .icon-1DeIlz,			// icon
	& .name-23GUGE,			// name
	& .actionIcon-PgcMM2	// buttons (invite, etc)
	{
		color: $color;
	}
}
.content-1x5b-n {
	&, & .mainContent-u_9PKf {
		user-drag: none;
		-webkit-user-drag: none;
	}

	.modeSelected-346R90 &,
	.modeSelected-346R90:hover & {
		@include channelColors(var(--accent), var(--accent-transparent));
	}
}
.selected-aXhQR6.container-2Pjhx- {
	background-color: var(--accent-transparent);
}
.selected-aXhQR6 .layout-2DM8Md {
	color: var(--accent);
}
.modeSelected-346R90 .channelName-2YrOjO,
.selected-aXhQR6 .name-uJV0GL {
	font-weight: var(--weight-header);
}