$red-color: "hsl(359, ";
$green-color: "hsl(139, ";
$yellow-color: "hsl(38, ";
$gray-color: "hsl(214, ";
$purple-color: "hsl(262, ";

// replace root vars bc that works?
:root {
	--text-brand: var(--accent);
	--text-positive: var(--green);
	--text-warning: var(--yellow);
	--text-danger: var(--red);

	--status-danger: var(--red);
	--status-positive-background: var(--green);
	--info-positive-foreground: var(--green);
	--info-warning-foreground: var(--yellow);
	--info-danger-foreground: var(--red);
}

// status indicators
// set status modal
.status-2DiCMd {
	&[style*='background-color: #{$red-color}'] {
		background-color: var(--red) !important;
	}

	&[style*='background-color: #{$green-color}'] {
		background-color: var(--green) !important;
	}

	&[style*='background-color: #{$yellow-color}'] {
		background-color: var(--yellow) !important;
	}

	&[style*='background-color: #{$gray-color}'] {
		background-color: var(--gray) !important;
	}

	&[style*='background-color: #{$purple-color}'] {
		background-color: var(--purple) !important;
	}
}

// avatars
.wrapper-1VLyxH,
.status-12NUUC {
	& rect {
		&[fill*='#{$red-color}'] {
			fill: var(--red);
		}

		&[fill*='#{$green-color}'] {
			fill: var(--green);
		}

		&[fill*='#{$yellow-color}'] {
			fill: var(--yellow);
		}

		&[fill*='#{$gray-color}'] {
			fill: var(--gray);
		}

		&[fill*='#{$purple-color}'] {
			fill: var(--purple);
		}
	}
}

// pings
.baseShapeRound-3epLEv {
	&[style*='background-color: var(--status-danger)'] {
		background-color: var(--red) !important;
		color: var(--red-text);
	}

	&[style*='background-color: #{$green-color}'] {
		background-color: var(--green) !important;
		color: var(--green-text);
	}
}

.wrapper-22ayhK {
	background-color: var(--red);
	color: var(--red-text);
}

// radio toggles

// random colors which are littered throughout the app
// selected checkmark
.selectedIcon-19TbzU {
	color: var(--accent);
}

// green text in descriptions
.colorStatusGreen-2HKYOW {
	color: var(--green);
}

// text randomly found in the app
.warning-3qyw2h {
	color: var(--red);
}

// partnered & verified
.verified-1Jv_7P,
.partnered-23cXFN {
	color: var(--accent);

	& .icon-3BYlXK {
		color: var(--accent-text);
	}
}

// perk
.perkListItemIcon-3Odm5d.hasPerkIcon-JJ5Ezo {
	color: var(--accent);
}

// update app
.updateIconForeground-2V_zo4,
	// Attach button (RPC)
.attachButtonPlay-1ATmb5 {
	fill: var(--green);
}

// Red message buttons using red color
.button-3bklZh.dangerous-Y36ifs {
	color: var(--red);
}

// Text selection should follow accent color bc :sunglasses:
::selection {
	background-color: var(--accent);
	color: var(--accent-text);
}

// Some text is green
.base-21yXnu[style*="color: hsl(139, "] {
	color: var(--green) !important;
}

// BOT tag
.botTagRegular-kpctgU {
	background-color: var(--accent);
	color: var(--accent-text);
}

// pins red badge
.iconBadge-3Mmg92 {
	background-color: var(--red);
}

// Strikethroughs should be our red
.strikethrough-958bun,
.strikethrough-3Wiitd,
.strikethrough-2Kl6HF {
	color: var(--red);
}

// Online / Offline dots
.statusOnline-Iw3r2o,
div[class*="dotOnline"] {
	background-color: var(--green);
}

.statusOffline-2R-ArP,
div[class*="dotOffline"] {
	background-color: var(--gray);
}

// VC badges
.iconBadge-2wWu5e {
	background-color: var(--gray);

	& > .icon-2Ug6UV {
		color: var(--gray-text);
	}

	&.participating-1TnRN9 {
		background-color: var(--green);

		& > .icon-2Ug6UV {
			color: var(--green-text);
		}
	}
}

// Required *
.required---V9PF {
	color: var(--accent);
}

// Nickname is longer than 32 chars
.colorStatusRed-3FRrPF {
	color: var(--red);
}

// Channel perms yellow should use our yellow
.card-2EUiNF path[fill^="hsl(38, "] {
	fill: var(--yellow);
}

@mixin permissionSwitch($color) {
	color: var(--#{$color});
	&.selected-3jieYB {
		background-color: var(--#{$color});
		color: var(--#{$color}-text);
	}
}

.allow-1h61-Z {
	@include permissionSwitch("green");
}
.deny-1GO6vI {
	@include permissionSwitch("red");
}

// Beta shit
.textBadge-1fdDPJ.base-3IDx3L.baseShapeRound-3epLEv,
div[class*="betaBadge"] {
	background-color: var(--accent) !important;
	color: var(--accent-text) !important;
}
.textBadge-1fdDPJ.base-3IDx3L.baseShapeRound-3epLEv[class*="akaBadge"] {
	background-color: var(--chips-bg) !important;
	color: var(--accent-text) !important;
}

// PROTIP: Double-click user to watch
.pro-3GwLMX {
	color: var(--green) !important;
}