$red-color: "hsl(359, ";
$green-color: "hsl(139, ";
$yellow-color: "hsl(38, ";
$gray-color: "hsl(214, ";
$purple-color: "hsl(262, ";

// replace root vars bc that works?
:root {
	--text-brand: var(--accent);
	--text-positive: var(--green);
	--text-warning: var(--yellow);
	--text-danger: var(--red);
}

// status indicators
// set status modal
.status-1AY8sU {
	&[style*='background-color: #{$red-color}'] {
		background-color: var(--red) !important;
	}
	&[style*='background-color: #{$green-color}'] {
		background-color: var(--green) !important;
	}
	&[style*='background-color: #{$yellow-color}'] {
		background-color: var(--yellow) !important;
	}
	&[style*='background-color: #{$gray-color}'] {
		background-color: var(--gray) !important;
	}
	&[style*='background-color: #{$purple-color}'] {
		background-color: var(--purple) !important;
	}
}
// avatars
.wrapper-3t9DeA,
.status-1XNdyw {
	& rect {
		&[fill*='#{$red-color}'] {
			fill: var(--red);
		}
		&[fill*='#{$green-color}'] {
			fill: var(--green);
		}
		&[fill*='#{$yellow-color}'] {
			fill: var(--yellow);
		}
		&[fill*='#{$gray-color}'] {
			fill: var(--gray);
		}
		&[fill*='#{$purple-color}'] {
			fill: var(--purple);
		}
	}
}

// pings
.baseShapeRound-1Mm1YW {
	&[style*='background-color: #{$red-color}'] {
		background-color: var(--red) !important;
	}
	&[style*='background-color: #{$green-color}'] {
		background-color: var(--green) !important;
	}
}

// radio toggles

// random colors which are littered throughout the app
// selected checkmark
.selectedIcon-3uS11H {
	color: var(--accent);
}

// green text in descriptions
.colorStatusGreen-2saF4_ {
	color: var(--green);
}
// text randomly found in the app
.warning-3qyw2h {
	color: var(--red);
}

// partnered
.partnered-3nJayh {
	color: var(--accent);
	& .icon-1ihkOt {
		color: var(--accent-text);
	}
}

// perk
.perkListItemIcon-2B4aA2.hasPerkIcon-JJ5Ezo {
	color: var(--accent);
}

// update app
.updateIconForeground-3tnNZn {
	fill: var(--green);
}

// Red message buttons using red color
.button-1ZiXG9.dangerous-2r8KxV {
	color: var(--red);
}

// Text selection should follow accent color bc :sunglasses:
::selection {
	background-color: var(--accent);
	color: var(--accent-text);
}

// Some text is green
.base-1x0h_U[style*="color: hsl(139, "] {
	color: var(--green) !important;
}