@import '../buildvars';
@import "../material_design/ripple";

.separator-2I32lJ {
	border-color: var(--context-menu-separator);
}
.menu-3sdvDG {
	border-radius: var(--context-menu-radius);
}
.scroller-3BxosC {
	padding: var(--context-menu-padding);
}
.item-1tOPte:not(.hideInteraction-1iHO1O) {
	@include ripple;
}