@import '../buildvars';
@import "../material_design/ripple";

.separator-1So4YB {
	border-color: var(--context-menu-separator);
}
.menu-1QACrS {
	border-radius: var(--context-menu-radius);
}
.scroller-1bVxF5 {
	padding: var(--context-menu-padding);
}
.item-1OdjEX:not(.hideInteraction-2jPGL_) {
	@include ripple;
}
