@use "sass:math";

// Just a lot of quality of life fixes for discord because
// this platform is literal dogshit

// Fix VC game icon not being properly positioned
.assetsLargeMaskVoiceChannel-3IlDCA {
	-webkit-mask-size: cover;
	mask-size: cover;
}

// Remove the ability to highlight shit you don't need
.nameTag-sc-gpq, // Username, status, discriminator; in the bottom left corner; also disables Ctrl+A
.header-2jRmjb, // Messages headers (i.e. username, timestamp, pronouns, badges, etc)
.embedProvider-1GSN0c, // Embed provider (e.g. YouTube)
.embedAuthor-TJIHp5, // Embed author (e.g. TheFunny.mp4)
.embedVideoImageComponent-3Clc3C, // Embed content (you copy the link or right click copy anyway)
.connectedAccount-1xKpli, // Connected accounts
.connectedAccountName-j0meX4, // Connected account username
.profileBannerPreview-3_l0Wd .headerText-1-WmDq, // Profile preview (Username)
.profileBannerPreview-3_l0Wd .markup-eYLPri, // Profile preview (About me)
.member-1q7VfX .nameTag-3wmDUk .name-8yzEIY, // Username (Members page)
.member-1q7VfX .nameTag-3wmDUk .tag-1YGWN9, // Discriminator (Members page)
.timestamp-p1Df1m, // Timestamps
.bot-XvK26D, // Bot tag
.perks-36lD43, // Boost perks
.carouselItemSelected-JFUsnG, // Boost perks (clicked)
.cumcord-plugin-card .markdown-19oyJN // Cumcord plugins
{
	user-select: none;
}

// Resize the channel icon in embeds and channel topics bc its chubby
@mixin channelIconResize($size) {
	& > .wrapper-1ZcZW-.mention.iconMention-3WxjBe {
		padding-left: (math.div($size, 1.1));

		& > .channelIcon-3I2O7O {
			width: (math.div($size, 1.3));
			height: $size;
		}
	}
}

.topic-11NuQZ,
.embedFooterText-2Mc7H9 {
	@include channelIconResize(1rem);
}

.embedDescription-1DrJxZ,
.embedFieldValue-3EHtvR,
.repliedTextContent-2hOYMB {
	@include channelIconResize(1.05rem);
}

// Remove "shinyness" CTA, bc fuck nitro
.buttonShine-p5V5TB,
.shineContainer-NmlfaV,
.shineContainerDefault-3f8X_o {
	display: none;
}

// fuck threads
.threadSuggestionBar-3ExSyc {
	display: none;
}

// attachments' "open link in browser" text may wrap on small width images, fix it because i have severe OCD!
.downloadLink-1OAglv {
	width: 400px;
}

// emoji popouts' guild icon is small
.guildSection-2Zyzy8 > .flex-2S1XBF > svg {
	min-width: 32px;
}

// for some reason, sometimes file uploads have tiny as shit icons
.audioMetadata-1Hrt8T::before {
	min-width: 24px;
}

// also truncate file names...
.audioMetadata-1Hrt8T .metadataContent-lalfZ3 {
	text-overflow: ellipsis;
}

// Slash command in the channel attach stuff is actually useless as shit and genuinely confuses me
// as to whoever at Shitcord™ thought implementing it was a good idea
#channel-attach-SLASH_COMMAND {
	display: none;
}
// Same with threads
#channel-attach-THREAD {
	display: none;
}

// Show a pointer on these elements:

.roleRemoveIcon-387wKV,     // Remove role button
.replyAvatar-sHd2sU,        // Avatar in replies (it opens the user popout)
{
	cursor: pointer;
}

// Hide the help button; if you know how to install a discord mod AND a theme, you dont need help on how to use discord as a platform lol
.iconWrapper-2awDjA + .anchor-1MIwyf[href="https://support.discord.com"] {
	display: none;
}

// Hide the GIF button, you can use the emotes button and head to the GIF tab, or use Ctrl+G
.buttonContainer-2lnNiN > .button-38aScr[aria-label*="gif" i] {
	display: none;
}

// Stream just start is misaligned in spanish (and likely other languages)
.emptyPreviewText-3Xt6XE {
	text-align: center;
}

// color picker is fucked on things which arent english bruh
.dropperIconButton-2shYII {
	width: 69px;
}
