// Just a lot of quality of life fixes for discord because
// this platform is literal dogshit

// Fix VC game icon not being properly positioned
.assetsLargeMaskVoiceChannel-2k1oGM {
	-webkit-mask-size: cover;
	mask-size: cover;
}

// Remove "shinyness" CTA, bc fuck nitro
.buttonShine-1CSUM8,
.shineContainer-1HHuZ1,
.shineContainerDefault-2bbFgu {
	display: none;
}