// Import Roboto @ weight 400
// Import Google Sans @ weight 500
// Import Google Sans @ weight 700
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Google+Sans:wght@400&family=Google+Sans:wght@500&family=Google+Sans:wght@700&display=swap');

// Code blocks
.textContainer-36wgKK pre, code, .multiInputLast-35zVz0 input {
    font: 14px/20px var(--font-code) !important;
    font-weight: var(--code-weight);
    font-stretch: 100%;
}

// Bold headers
.username-h_Y3Us, .title-3XlmeX, .title-17SveM, .modalTitle-2skSKy .content-1i_k8f {
	font-weight: var(--weight-header);
}
.channelName-3KPsGw,
.name-3Vmqxm {
	font-weight: var(--weight-subtitle);
}

.keybindShortcut-3zF1P9 span {
	font-weight: 600;
}

// Chatbox
.placeholder-1_mJY1 {
	font-weight: var(--weight-textbox);
}
