// try getting the path? maybe we can do a funny and make css respect masks
d[id*="-blob_mask"] {
	d: path("M0 0V24H24V0z");
}
// Guild hover / selected
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: var(--accent);
	color: var(--accent-text);
}

// folder color => accent
.folderIconWrapper-1_bOZe svg[style="color: rgb(88, 101, 242);"] {
	color: var(--accent) !important;
}