// try getting the path? maybe we can do a funny and make css respect masks
d[id*="-blob_mask"] {
	d: path("M0 0V24H24V0z");
}
// Guild hover / selected
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
	background-color: var(--accent);
	color: var(--accent-text);
}

// folder color => accent
.folderIconWrapper-1_bOZe svg[style="color: rgb(88, 101, 242);"] {
	color: var(--accent) !important;
}

// New guild

// Server discovery
.circleIconButton-3lUBQk {
	background-color: transparent;
	color: var(--green);
	
	&.selected-2tb4pB {
		background-color: var(--green);
		color: var(--green-text);
	}
}
