:root,.theme-dark,.theme-light {

    // Default font aliases
    --font-primary: var(--font-header);
    --font-secondary: var(--font-header);
    --font-display: var(--font-header);
    
    // Override default colors
    --text-positive: var(--green);
    --text-warning: var(--yellow);
    --text-danger: var(--red);
    --text-brand: var(--accent);
    
    --background-message-hover: var(--surface-variant);
    
    // Theme helper default values
    --mouseX: 0%;
    --mouseY: 0%;
    --clickX: 0%;
    --clickY: 0%;
}