:root {

    // Default font aliases
    --font-primary: var(--font-header);
    --font-secondary: var(--font-header);
    --font-display: var(--font-header);
    
    // Theme helper default values
    --mouseX: 0%;
    --mouseY: 0%;
    --clickX: 0%;
    --clickY: 0%;
}