@import "../utils";

// Tabs
.navButtonActive-1EqC5l {
	background-color: var(--accent-transparent);
	color: var(--accent);

	&:hover {
		color: var(--accent);
	}
}

// EMOTE PICKER

// hovered emotes
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
	background-color: var(--accent-transparent);
	color: var(--accent);
}

// emote category
.categoryItemDefaultCategory-3haEDq:hover,
.categoryItemDefaultCategorySelected-2YeRUu,
.categoryItemDefaultCategorySelected-2YeRUu:hover {
	background-color: var(--accent-transparent);

	& .categoryIcon-2cYeku {
		color: var(--accent);
	}
}

// emote guild
.mask-1hlQQ6 [mask="url(#svg-mask-squircle)"] {
	.guildIconWithoutImage-3bOll3 {
		background-color: var(--accent-transparent);
		color: var(--accent);
	}
	.guildIcon-2SUGiq {
		background-color: var(--accent-transparent);
	}
}

// emote skin tones
.diversityEmojiItem-2bgZKv:hover {
	background-color: var(--accent-transparent);
}

// STICKERS
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
	background-color: var(--accent-transparent);
}

// GIF PICKER
.focused-q9B2e4::after,
.result-3OpoO7:hover::after {
	@include theming {
		box-shadow: inset 0 0 0 2px var(--accent),inset 0 0 0 3px #2f3136;
	}
}
.categoryFadeBlurple-1HuV1x {
	@include theming {
		background-color: var(--accent);
		opacity: 0.5;
		&:hover {
			background-color: var(--accent);
			opacity: 0.8;
		}
	}
}
