@import '../buildvars';

// We use title bar because otherwise it would replace the "Discord" in active subscription banners
.titleBar-1it3bQ {

	// Replace Discord wordmark with Pixelcord wordmark
	& > .wordmark-2u86JB > svg {
		width: 0;
	}
	& > .wordmark-2u86JB::after {
		@if ($DEBUG == true) {
			content: 'Piselcord Development Edition';
		} @else {
			content: 'Pixelcord';
		}
		color: var(--logo-color);

		// font
		font-family: 'Google Sans', 'Migu 1M', sans-serif;
		font-weight: 600;
		font-size: 0.8rem;
		
		// position
		position: absolute;
		top: 6px;
		height: fit-content;
		width: 420px;
	}
	
}
