@import "../../../config";

.h5-18_1nd[id*=gm-settings-header] {
	cursor: pointer;
}

@if $animations {
	.privateChannelsHeaderContainer-3NB1K1 {
		& .privateChannelRecipientsInviteButtonIcon-3A3uTc {
			transition: transform 150ms ease-in,
						left 150ms ease-in,
						top 150ms ease-in;
		}
	}
	.vertical-V37hAW,
	.container-2_Tvc_ {
		&[style*="display: block;"],
		&[style=""],
		&[style*="display: none;"] {
			display: block !important;
			opacity: 1;
			height: auto;
			max-height: 100000px;
			@if $animations {
				transition: 150ms ease-in-out;
			}
		}
		&[style*="display: none;"] {
			height: 0;
			opacity: 0;
			margin-bottom: 0;
		}
	}
}