.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	// Mod client specific ones

	// GOOSEMOD
	&[aria-controls="gm-general-tab" i]::after {
		content: "Goosemod Settings";
	}
	&[aria-controls="gm-changelog-tab" i]::after {
		content: "Goosemod Change Log";
	}
	&[aria-controls="gm-custom css-tab" i]::after {
		content: "Custom CSS";
	}

	// Temporary hacks until i find a way to yeet the gm- and -tab :/
}